//---------------- new CSS ------------------

div.pane-content > table > tbody > tr > td {
    table-layout: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    
}

.pane-wunderground-weather-wunderground-weather-forecast-1 table td {
    padding: 0;
}

.pane-wunderground-weather-wunderground-weather-forecast-1 table, .pane-wunderground-weather-wunderground-weather-forecast-1 tbody {
      display:table;
}

div.pane-content > table > tbody > tr > td > div.is-tomorrow, div.pane-content > table > tbody > tr > td > div.not-tomorrow {
      padding-left:25px; 
      padding-right:25px;
      padding-bottom: 10px;
}

div.pane-content > table > tbody > tr > td > div.is-tomorrow {
    border-right-style: solid;
    border-right-color: #efefef;
    border-left-style: solid;
    border-left-color: #efefef;
    padding-left: 25px;
    padding-right: 25px;
}

div.pane-content > table > tbody > tr  {
    border-bottom-style: solid;
    border-bottom-color: #efefef;
}

div.weather-forecast-high-temp {
    color: #494949;
    float: left;
    clear: none;
    margin-right: 11px;
}
.current-weather-block-content > img {
       float: right;
       padding-right: 5px;
}


//---------------- original CSS ------------------


div.pane-content > table > tbody > tr > td {
    width: 100%;
}
div.weather-forecast-low-temp {
    color: #AAAAAA;
}
div.contextual-links-region.panel-pane.pane-block.pane-wunderground-weather-wunderground-weather-current-1 > div.pane-content{
padding-bottom: 0;
}
div.current-weather-block-content > div.item-list > ul.current-weather-summary > li > div.weather_temp {
    font-size: 2em;
    font-style: strong;
    float: left;
}
div.current-weather-block-content > div.item-list > ul.current-weather-summary > li > div.weather_desc {
    color: #888888;
    float: left;
    padding-top: 0.5em;
    padding-left: 0.5em;
}
div.current-weather-block-content > div.item-list > ul.current-weather-summary > li {
    margin-left: 0;
    margin-bottom: 0;
}
div.pane-content > h2.pane-title {
    display: none;
}
div.contextual-links-region > div.pane-content > h2 {
    visibility: hidden;
}
div.pane-content > table > tbody > tr.odd {
background-color: white;
}
.pane-wunderground-weather-wunderground-weather-forecast-1 {
font-size: .75em;
color: #494949;
}
.current-weather-summary {
color: #494949;
}
.current-weather-summary .last {
font-size: .75em;
}
.current-weather-block-content > img {
float: right;
}
.pane-new-weather-traffic {
border: 1px solid #cdc0b0;
background-color: white;
padding: .75rem;
}