/* Grids */
/* line 52, C:/Program Files (x86)/Scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, C:/Program Files (x86)/Scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 47, ../sass/_mixins.scss */
.frontpage-left-col {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 51, ../sass/_mixins.scss */
.frontpage-right {
  float: left;
  width: 75%;
  margin-left: 25%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 55, ../sass/_mixins.scss */
.frontpage-help-market {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 59, ../sass/_mixins.scss */
.frontpage-security-contacts {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 63, ../sass/_mixins.scss */
.general-two-col .general-left {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 67, ../sass/_mixins.scss */
.general-two-col .general-right {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 72, ../sass/_mixins.scss */
.rowonecolone,
.rowtwocolone {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 77, ../sass/_mixins.scss */
.rowonecoltwo,
.rowtwocoltwo {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 82, ../sass/_mixins.scss */
.rowonecolthree,
.rowtwocolthree {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 89, ../sass/_mixins.scss */
.frontpage-middle-col {
  float: left;
  width: 55.55556%;
  margin-left: 0%;
  margin-right: -55.55556%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 92, ../sass/_mixins.scss */
.frontpage-right-col {
  float: left;
  width: 44.44444%;
  margin-left: 55.55556%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media (max-width: 900px) {
  /* line 101, ../sass/_mixins.scss */
  .frontpage-left-col {
    float: left;
    width: 41.66667%;
    margin-left: 0%;
    margin-right: -41.66667%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 105, ../sass/_mixins.scss */
  .frontpage-right {
    float: left;
    width: 58.33333%;
    margin-left: 41.66667%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 112, ../sass/_mixins.scss */
  .frontpage-middle-col,
  .frontpage-right-col,
  .frontpage-help-market,
  .frontpage-security-contacts {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }

  /* line 119, ../sass/_mixins.scss */
  .staff-top {
    float: left;
    width: 90%;
    margin-left: 0%;
    margin-right: -90%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 125, ../sass/_mixins.scss */
  .rowonecolone,
  .rowonecolthree,
  .rowtwocoltwo {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 130, ../sass/_mixins.scss */
  .rowonecoltwo,
  .rowtwocolone,
  .rowtwocolthree {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media (max-width: 600px) {
  /* line 146, ../sass/_mixins.scss */
  .frontpage-left-col,
  .frontpage-right,
  .frontpage-middle-col,
  .frontpage-right-col,
  .general-two-col .general-left,
  .general-two-col .general-right,
  .staff-top {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
}
/* line 3, ../sass/blocks.scss */
.brown-bodered-white {
  background: #fff;
  border: 1px solid #d1c9b9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-top: 12px;
  margin-bottom: 28px;
  color: #5d5d5d;
}
/* line 10, ../sass/blocks.scss */
.brown-bodered-white > .pane-content {
  padding: 12px 17px 5px;
  overflow: hidden;
}
/* line 14, ../sass/blocks.scss */
.brown-bodered-white h2 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #94753F;
  margin-top: -13px;
  line-height: normal;
}

/* line 25, ../sass/blocks.scss */
.pane-boxes-stanford-compliance .pane-title {
  font-size: 11px;
  margin-top: -12px;
}

/* line 30, ../sass/blocks.scss */
.blue-bodered-white {
  background: #fff;
  border: 1px solid #aebdc5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-top: 20px;
  color: #393939;
}
/* line 36, ../sass/blocks.scss */
.blue-bodered-white .pane-title {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  background: url(../images/title-striped-bg.jpg) repeat;
  color: #fff;
  padding-left: 20px;
  line-height: 22px;
}
/* line 45, ../sass/blocks.scss */
.blue-bodered-white > .pane-content {
  padding: 12px 18px;
}

/* line 50, ../sass/blocks.scss */
.brown-bodered-white .view-footer, .blue-bodered-white .view-footer, #boxes-box-weather_traffic small {
  width: 100%;
  clear: both;
  border-top: 1px dashed #b8c9d1;
  padding: 13px 0 5px;
  font-size: 11px;
  line-height: 15px;
}

/* line 59, ../sass/blocks.scss */
.brown-bodered-white .view-footer a, .blue-bodered-white .view-footer a, #boxes-box-weather_traffic small a, .switch-link a {
  background: url(../images/arrow-dot-line.png) no-repeat left center;
  padding-left: 15px;
}

/* Blue dashed list */
/* line 67, ../sass/blocks.scss */
.blue-dashed-list .pane-content ul li, .blue-dashed-list .views-row {
  list-style-type: none;
  list-style-image: none;
  background: #f1f1f1;
  float: left;
  width: 45%;
  font-size: 12px;
  margin: 0 0 13px;
  border: 1px dashed #90a7b2;
}
/* line 77, ../sass/blocks.scss */
.blue-dashed-list .pane-content ul li.odd, .blue-dashed-list .views-row-odd {
  margin-right: 7%;
  clear: both;
}
/* line 81, ../sass/blocks.scss */
.blue-dashed-list .pane-content li a, .blue-dashed-list .views-row a {
  padding: 5px 8px;
  display: block;
}

/* Front People Finder Block */
/* line 90, ../sass/blocks.scss */
.frontpage-people-finder input {
  margin: 0;
  padding: 0;
  float: left;
  outline: none;
}
/* line 96, ../sass/blocks.scss */
.frontpage-people-finder .searchbox {
  height: 21px;
  line-height: 21px;
  background: #e2e2e2;
  border: 1px solid #cecdce;
  margin-right: 7px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 0 5px;
  width: 64%;
  font-size: 12px;
}
/* line 107, ../sass/blocks.scss */
.frontpage-people-finder .searchbutton {
  width: 28px;
  height: 23px;
  border: none;
  border-top: 1px solid #bed8ee;
  border-right: 1px solid #508ecc;
  background: #276cbd;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
}
/* line 118, ../sass/blocks.scss */
.frontpage-people-finder .advanced-search {
  display: block;
  clear: both;
  padding: 7px 0 0 15px;
  font-size: 11px;
  background: url("../images/arrow-dot-line.png") no-repeat left 12px;
}

/* Frontpage Calendar */
/* line 130, ../sass/blocks.scss */
.frontpage-calendar .views-row-grouped {
  clear: both;
  color: #20659A;
}
/* line 134, ../sass/blocks.scss */
.frontpage-calendar h3 {
  margin: 0;
  float: left;
  color: #94753F;
  width: 18%;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 142, ../sass/blocks.scss */
.frontpage-calendar .month {
  font-size: 14px;
  display: block;
}
/* line 146, ../sass/blocks.scss */
.frontpage-calendar .day {
  font-size: 22px;
  display: block;
  margin-top: -9px;
}
/* line 152, ../sass/blocks.scss */
.frontpage-calendar .views-row-grouped .views-row-last {
  background: url("../images/dotted-bottom-border.png") no-repeat 0 bottom;
}
/* line 155, ../sass/blocks.scss */
.frontpage-calendar .views-row-grouped:first-child .views-row {
  padding-top: 0;
}
/* line 159, ../sass/blocks.scss */
.frontpage-calendar .views-row {
  float: right;
  width: 76%;
  border-left: 1px dashed #b8c9d1;
  padding: 15px 0 0 5%;
  font-size: 11px;
}
/* line 166, ../sass/blocks.scss */
.frontpage-calendar .views-row-last {
  padding-bottom: 15px;
}
/* line 169, ../sass/blocks.scss */
.frontpage-calendar .views-row:hover {
  text-decoration: underline;
}
/* line 172, ../sass/blocks.scss */
.frontpage-calendar .views-field-title {
  font-weight: bold;
}
/* line 175, ../sass/blocks.scss */
.frontpage-calendar .view-footer {
  border: none;
}

/**/
/* line 182, ../sass/blocks.scss */
.frontpage-access-info {
  font-size: 11px;
}
/* line 184, ../sass/blocks.scss */
.frontpage-access-info .views-row {
  margin-bottom: 10px;
}
/* line 186, ../sass/blocks.scss */
.frontpage-access-info .views-row div {
  display: inline;
}

/* Weather block */
/* line 195, ../sass/blocks.scss */
.frontpage-weather .current {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 198, ../sass/blocks.scss */
.frontpage-weather .current h2 {
  color: #393939;
  font-size: 15px;
  text-transform: none;
  font-weight: normal;
  padding: 10px 0 5px;
}
/* line 205, ../sass/blocks.scss */
.frontpage-weather .current .temp {
  float: left;
}
/* line 209, ../sass/blocks.scss */
.frontpage-weather .temp-nr {
  background: url("../images/far.jpg") no-repeat right 3px;
  font-size: 24px;
  color: #472725;
  padding-right: 15px;
  float: left;
}
/* line 217, ../sass/blocks.scss */
.frontpage-weather .current .condition {
  font-size: 12px;
  color: #706a65;
  font-weight: bold;
  text-transform: capitalize;
  float: left;
  margin: 2px 0 0 5px;
}
/* line 225, ../sass/blocks.scss */
.frontpage-weather .current .icon {
  float: right;
  width: 75px;
  margin: -25px -8px 0 0;
}
/* line 231, ../sass/blocks.scss */
.frontpage-weather .forecast {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
  margin-bottom: 13px;
  overflow: hidden;
}
/* line 236, ../sass/blocks.scss */
.frontpage-weather .forecast li {
  float: left;
  width: 32.5%;
  text-align: center;
  border-left: 1px solid #ececec;
}
/* line 241, ../sass/blocks.scss */
.frontpage-weather .forecast li:first-child {
  border: none;
}
/* line 245, ../sass/blocks.scss */
.frontpage-weather .forecast .day {
  display: block;
}
/* line 248, ../sass/blocks.scss */
.frontpage-weather .forecast .hight {
  padding: 0 6px 0  4px;
  font-size: 11px;
  background: url("../images/grade-dark.jpg") no-repeat right 3px;
}
/* line 253, ../sass/blocks.scss */
.frontpage-weather .forecast .low {
  padding: 0 6px 0  4px;
  font-size: 11px;
  background: url("../images/grade-dark.jpg") no-repeat right 3px;
  color: #b6afa6;
  background: url("../images/grade-light.jpg") no-repeat right 3px;
}
/* line 261, ../sass/blocks.scss */
.frontpage-weather #map-canvas {
  width: 100% !important;
}

/* line 266, ../sass/blocks.scss */
#boxes-box-weather_traffic small {
  border: none;
  display: block;
}

/* Front page top links block*/
/* line 275, ../sass/blocks.scss */
.frontpage-top-links .views-view-grid {
  margin: 0;
}
/* line 278, ../sass/blocks.scss */
.frontpage-top-links td {
  font-size: 12px;
  margin: 0 0 7px 0;
  float: left;
  width: 44%;
}
/* line 283, ../sass/blocks.scss */
.frontpage-top-links td.col-1 {
  clear: both;
  margin-right: 6%;
}
/* line 287, ../sass/blocks.scss */
.frontpage-top-links td a {
  padding-left: 12px;
  background: url("../images/list-dot.png") no-repeat 0 7px;
  display: block;
}
/* line 293, ../sass/blocks.scss */
.frontpage-top-links .mobile {
  display: none;
}

/* line 299, ../sass/blocks.scss */
.frontpage-slac-science .pane-content > .view-news > .view-content .views-row,
.frontpage-news-list .views-row {
  padding-left: 12px;
  background: url("../images/list-dot.png") no-repeat 0 7px;
  display: block;
}

/* Front page right sidebar boxes */
/* line 308, ../sass/blocks.scss */
.frontpage-security-contacts p,
.pane-boxes-it-help-desk p {
  margin: 0 0 8px 0;
  font-size: 12px;
}

/* line 314, ../sass/blocks.scss */
.pane-views-flea-market-block .views-row {
  font-size: 11px;
  padding: 8px 0;
  border-top: 1px dashed #b8c9d1;
}
/* line 319, ../sass/blocks.scss */
.pane-views-flea-market-block .views-row-first {
  padding-top: 0;
  border-top: none;
}

/* line 325, ../sass/blocks.scss */
.pane-boxes-slac-projects .pane-content {
  overflow: hidden;
  padding-bottom: 8px;
}
/* line 328, ../sass/blocks.scss */
.pane-boxes-slac-projects .pane-content img {
  float: left;
  margin: 0 20px 0 0;
}
/* line 332, ../sass/blocks.scss */
.pane-boxes-slac-projects .pane-content li {
  color: #20659A;
  list-style-type: none;
  list-style-image: none;
  font-size: 12px;
  margin-bottom: 7px;
}

/* line 341, ../sass/blocks.scss */
a.submit-feedback {
  background: #2482c9;
  width: 110px;
  height: 17px;
  line-height: 17px;
  margin: auto;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 9px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

/* Socials */
/* line 357, ../sass/blocks.scss */
.socials {
  padding-bottom: 7px;
  overflow: hidden;
}
/* line 360, ../sass/blocks.scss */
.socials li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  overflow: hidden;
  background: url("../images/socials.png") no-repeat;
  width: 20%;
  min-width: 16px;
  height: 16px;
}
/* line 369, ../sass/blocks.scss */
.socials li a {
  display: block;
  height: 1px;
  padding: 23px 0 0 0;
  overflow: hidden;
}
/* line 376, ../sass/blocks.scss */
.socials .fb {
  background-position: center 0;
}
/* line 379, ../sass/blocks.scss */
.socials .flickr {
  background-position: center -20px;
}
/* line 382, ../sass/blocks.scss */
.socials .rss {
  background-position: center -40px;
}
/* line 385, ../sass/blocks.scss */
.socials .twitter {
  background-position: center -60px;
}
/* line 388, ../sass/blocks.scss */
.socials .youtube {
  background-position: center -80px;
}

/* Front slider */
/* line 395, ../sass/blocks.scss */
.frontpage-news-slider {
  position: relative;
}

/* line 399, ../sass/blocks.scss */
.views-slideshow-cycle-main-frame {
  max-width: 100%;
}
/* line 401, ../sass/blocks.scss */
.views-slideshow-cycle-main-frame div {
  max-width: 100%;
}

/* Front middle general */
/* line 408, ../sass/blocks.scss */
.frontpage-slac-science .pane-content > .view-news > .view-content .views-row, .frontpage-news-list .views-row {
  padding-bottom: 7px;
  font-size: 12px;
}

/* line 414, ../sass/blocks.scss */
.frontpage-slac-science .pane-content > .view-news > .view-content .views-field-title, .frontpage-slac-science .views-field-created {
  display: inline;
}

/* line 420, ../sass/blocks.scss */
.frontpage-news-list .views-field-title, .frontpage-news-list .views-field-created {
  display: inline;
}

/* line 425, ../sass/blocks.scss */
.frontpage-slac-science .views-field-created, .frontpage-news-list .views-field-created {
  font-size: 11px;
  color: #46494b;
  font-style: italic;
}

/* line 431, ../sass/blocks.scss */
.frontpage-slac-science .view-header {
  margin: -12px -18px 10px;
  position: relative;
}
/* line 434, ../sass/blocks.scss */
.frontpage-slac-science .view-header img {
  max-width: 100%;
  display: block;
}

/* line 440, ../sass/blocks.scss */
.frontpage-news-slider .views-field-nothing, .frontpage-slac-science .view-header .views-field-nothing {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../images/transparent-blue-bg.png") repeat;
  padding: 10px 3%;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  width: 94%;
}

/* line 452, ../sass/blocks.scss */
.frontpage-news-slider .title a, .frontpage-slac-science .view-header .title a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: normal;
}

/*
.frontpage-news-slider img{
  float: left;
}*/
/* line 464, ../sass/blocks.scss */
.frontpage-news-slider {
  border: 1px solid #b0aeac;
}
/* line 466, ../sass/blocks.scss */
.frontpage-news-slider .views-field-nothing {
  margin: -1px;
}
/* line 469, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span {
  position: absolute;
  top: 45%;
  z-index: 99;
  width: 30px;
  height: 74px;
  display: block;
  overflow: hidden;
  background: url("../images/slider-arrow-bg.png") repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 479, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span a {
  display: block;
  background: url("../images/slider-back.png") no-repeat center;
  height: 1px;
  padding: 73px 0 0 0;
}
/* line 486, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text-previous {
  left: 20px;
}
/* line 489, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text-next {
  right: 20px;
}
/* line 492, ../sass/blocks.scss */
.frontpage-news-slider span.views-slideshow-controls-text-next a {
  background-image: url("../images/slider-next.png");
}
/* line 495, ../sass/blocks.scss */
.frontpage-news-slider span.views-slideshow-controls-text-pause {
  display: none;
}
/* line 497, ../sass/blocks.scss */
.frontpage-news-slider span.views-slideshow-controls-text-pause a {
  display: none;
}
/* line 501, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-pager-fields {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  margin: 10px 15px 0 0;
}
/* line 508, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-pager-field-item {
  float: left;
  width: 22px;
  height: 22px;
  overflow: hidden;
  text-indent: 100px;
  background: url("../images/slider-pager.png") no-repeat 0 0;
  margin-left: 6px;
}
/* line 516, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-pager-field-item.active {
  background-image: url("../images/slider-pager-active.png");
}

/* line 523, ../sass/blocks.scss */
.section-about .field-type-text-with-summary p {
  padding-bottom: 20px;
  margin-bottom: 0 0 20px 0;
  border-bottom: 1px dashed #b1c2ca;
  color: #45464C;
}
/* line 529, ../sass/blocks.scss */
.section-about .field-type-text-with-summary li {
  margin-left: 2.5%;
  width: 97.5%;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 12px;
  line-height: 20px;
}

@media (max-width: 1300px) {
  /* line 540, ../sass/blocks.scss */
  .pane-boxes-stanford-compliance {
    margin-top: 44px;
  }

  /* line 544, ../sass/blocks.scss */
  .pane-boxes-stanford-compliance h2 {
    margin-top: -26px;
  }
}
@media (max-width: 900px) {
  /* line 551, ../sass/blocks.scss */
  .brown-bodered-white h2 {
    font-size: 11px;
    margin-top: -12px;
  }

  /* line 556, ../sass/blocks.scss */
  .blue-striped-list > .pane-content {
    padding: 10px;
  }
  /* line 559, ../sass/blocks.scss */
  .blue-striped-list .view-content .views-row {
    background: #e9f2f9;
    border: none;
    font-size: 15px;
    width: 46%;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  /* line 566, ../sass/blocks.scss */
  .blue-striped-list .view-content .views-row a {
    background: none;
    padding: 0;
    line-height: normal;
    padding: 6px 7%;
    width: 86%;
    float: left;
  }

  /* line 576, ../sass/blocks.scss */
  .frontpage-news-slider .views-field-nothing .body {
    display: none;
  }

  /* line 580, ../sass/blocks.scss */
  .frontpage-top-links .desktop {
    display: none;
  }

  /* line 581, ../sass/blocks.scss */
  .frontpage-top-links .mobile {
    display: block;
  }

  /* line 583, ../sass/blocks.scss */
  .frontpage-top-links .view-content .views-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
  }
  /* line 587, ../sass/blocks.scss */
  .frontpage-top-links .view-content .views-row .views-row-last {
    margin-bottom: 7px;
  }

  /* line 592, ../sass/blocks.scss */
  .frontpage-slac-science {
    margin-bottom: 16px;
  }

  /* line 596, ../sass/blocks.scss */
  .frontpage-calendar h3 {
    margin-left: -10px;
  }

  /* line 601, ../sass/blocks.scss */
  .frontpage-help-market,
  .frontpage-security-contacts {
    clear: both;
    width: 100%;
    margin-right: 0;
    float: none;
  }
}
@media (max-width: 600px) {
  /* line 616, ../sass/blocks.scss */
  .frontpage-calendar {
    display: block;
  }

  /* People search*/
  /* line 620, ../sass/blocks.scss */
  .no-bg {
    background: transparent;
    border: none;
  }
  /* line 623, ../sass/blocks.scss */
  .no-bg.brown-bodered-white {
    margin-top: 0;
  }
  /* line 625, ../sass/blocks.scss */
  .no-bg.brown-bodered-white > .pane-content {
    padding: 0;
  }

  /* line 631, ../sass/blocks.scss */
  .frontpage-people-finder .advanced-search {
    display: none;
  }
  /* line 634, ../sass/blocks.scss */
  .frontpage-people-finder form {
    height: 26px;
    border: 3px solid #b8d6ee;
    padding: 0 33px 0 5px;
    position: relative;
    background: #fff;
  }
  /* line 641, ../sass/blocks.scss */
  .frontpage-people-finder .searchbox {
    height: 26px;
    border: none;
    background: #fff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    padding: 0;
    border: none;
    margin: 0;
  }
  /* line 651, ../sass/blocks.scss */
  .frontpage-people-finder .searchbutton {
    background: #b8d6ee url("../images/small-search-icon.jpg") no-repeat center right;
    border: none;
    height: 26px;
    width: 28px;
    float: right;
    overflow: hidden;
    text-indent: 100px;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* Middle blocks */
  /* line 666, ../sass/blocks.scss */
  .blue-bodered-white .pane-title {
    background: #a8bcc7 url("../images/blue-arrow.jpg") no-repeat right center;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  /* line 673, ../sass/blocks.scss */
  .blue-bodered-white > .pane-content {
    padding: 0;
  }

  /* line 677, ../sass/blocks.scss */
  .frontpage-slac-science .view-header {
    margin: 0 0 20px 0;
  }

  /* line 681, ../sass/blocks.scss */
  .blue-bodered-white .view-footer {
    display: none;
  }
  /* line 684, ../sass/blocks.scss */
  .blue-bodered-white .pane-content > .view-news > .view-content .views-row {
    padding: 8px 52px 8px 11px;
    margin: 0 0 18px 0;
    min-height: 44px;
    font-size: 13px;
    background: white url("/sites/all/themes/slac/images/list-arrow.jpg") no-repeat right center;
  }
  /* line 691, ../sass/blocks.scss */
  .blue-bodered-white .views-field-created {
    font-size: 12px;
  }

  /* Socials */
  /* line 697, ../sass/blocks.scss */
  .socials li {
    min-width: 24px;
    height: 24px;
    background: url("../images/socialsx24.png") no-repeat;
  }
  /* line 702, ../sass/blocks.scss */
  .socials .flickr {
    background-position: center -30px;
  }
  /* line 705, ../sass/blocks.scss */
  .socials .rss {
    background-position: center -60px;
  }
  /* line 708, ../sass/blocks.scss */
  .socials .twitter {
    background-position: center -90px;
  }
  /* line 711, ../sass/blocks.scss */
  .socials .youtube {
    background-position: center -120px;
  }

  /* */
  /* line 717, ../sass/blocks.scss */
  .frontpage-news-slider .views-field-nothing, .frontpage-slac-science .view-header .views-field-nothing {
    position: static;
    background: #fff;
    color: #1a6199;
  }

  /* line 722, ../sass/blocks.scss */
  .frontpage-news-slider .title a, .frontpage-slac-science .view-header .title a {
    color: #1a6199;
    display: block;
    margin-bottom: 5px;
  }

  /* Feedback page */
  /* line 728, ../sass/blocks.scss */
  .section-feedback article .form-actions {
    width: 96%;
    padding: 5px 2% 0;
  }
  /* line 731, ../sass/blocks.scss */
  .section-feedback article .form-actions input {
    width: 100%;
    margin-bottom: 5px;
  }

  /* line 736, ../sass/blocks.scss */
  .section-research-resources .general-right, .section-staff-resources-classic .general-right {
    display: none;
  }

  /* line 740, ../sass/blocks.scss */
  .frontpage-calendar h3 {
    margin-left: 0;
  }
}
