/* Grids */
/* line 52, c:/program files (x86)/scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, c:/program files (x86)/scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 47, ../sass/_mixins.scss */
.frontpage-left-col {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 51, ../sass/_mixins.scss */
.frontpage-right {
  float: left;
  width: 75%;
  margin-left: 25%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 55, ../sass/_mixins.scss */
.frontpage-help-market {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 59, ../sass/_mixins.scss */
.frontpage-security-contacts {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 63, ../sass/_mixins.scss */
.general-two-col .general-left {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 67, ../sass/_mixins.scss */
.general-two-col .general-right {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 72, ../sass/_mixins.scss */
.rowonecolone,
.rowtwocolone {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 77, ../sass/_mixins.scss */
.rowonecoltwo,
.rowtwocoltwo {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 82, ../sass/_mixins.scss */
.rowonecolthree,
.rowtwocolthree {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 89, ../sass/_mixins.scss */
.frontpage-middle-col {
  float: left;
  width: 55.55556%;
  margin-left: 0%;
  margin-right: -55.55556%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 92, ../sass/_mixins.scss */
.frontpage-right-col {
  float: left;
  width: 44.44444%;
  margin-left: 55.55556%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media (min-width: 901px) {
  /* line 98, ../sass/_mixins.scss */
  .frontpage-left-col {
    padding-left: 0;
    padding-right: 2.5%;
  }

  /* line 102, ../sass/_mixins.scss */
  .frontpage-right {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 105, ../sass/_mixins.scss */
  .frontpage-right .frontpage-middle-col {
    width: 58.05556%;
    padding-left: 0;
    padding-right: 3.33%;
    margin-right: -58.05556%;
  }
  /* line 111, ../sass/_mixins.scss */
  .frontpage-right .frontpage-right-col {
    width: 41.94444%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 58.05556%;
  }
}
/* line 122, ../sass/_mixins.scss */
.lt-ie9 .frontpage-left-col {
  padding-left: 0;
  padding-right: 2.5%;
}
/* line 126, ../sass/_mixins.scss */
.lt-ie9 .frontpage-right {
  padding-left: 0;
  padding-right: 0;
}
/* line 129, ../sass/_mixins.scss */
.lt-ie9 .frontpage-right .frontpage-middle-col {
  width: 58.05556%;
  padding-left: 0;
  padding-right: 3.33%;
  margin-right: -58.05556%;
}
/* line 135, ../sass/_mixins.scss */
.lt-ie9 .frontpage-right .frontpage-right-col {
  width: 41.94444%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 58.05556%;
}

@media (max-width: 900px) {
  /* line 149, ../sass/_mixins.scss */
  .frontpage-left-col {
    float: left;
    width: 41.66667%;
    margin-left: 0%;
    margin-right: -41.66667%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 153, ../sass/_mixins.scss */
  .frontpage-right {
    float: left;
    width: 58.33333%;
    margin-left: 41.66667%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 160, ../sass/_mixins.scss */
  .frontpage-middle-col,
  .frontpage-right-col,
  .frontpage-help-market,
  .frontpage-security-contacts {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }

  /* line 167, ../sass/_mixins.scss */
  .staff-top {
    float: left;
    width: 90%;
    margin-left: 0%;
    margin-right: -90%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 173, ../sass/_mixins.scss */
  .rowonecolone,
  .rowonecolthree,
  .rowtwocoltwo {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 178, ../sass/_mixins.scss */
  .rowonecoltwo,
  .rowtwocolone,
  .rowtwocolthree {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media (max-width: 620px) {
  /* line 194, ../sass/_mixins.scss */
  .frontpage-left-col,
  .frontpage-right,
  .frontpage-middle-col,
  .frontpage-right-col,
  .general-two-col .general-left,
  .general-two-col .general-right,
  .staff-top {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }

  /* line 202, ../sass/_mixins.scss */
  .frontpage-right .frontpage-middle-col,
  .frontpage-right .frontpage-right-col,
  .frontpage-right .frontpage-security-contacts {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 4, ../sass/blocks.scss */
.frontpage-right {
  margin-bottom: 20px;
}

/* line 8, ../sass/blocks.scss */
.frontpage-left-col {
  margin-top: 74px;
}

/* line 12, ../sass/blocks.scss */
.brown-bodered-white {
  padding: 0;
  margin-bottom: 36px;
  color: #5d5d5d;
  background: #fff;
  border: 1px solid #d1c9b9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
/* line 18, ../sass/blocks.scss */
.brown-bodered-white > div {
  padding: 12px;
}
/* line 20, ../sass/blocks.scss */
.brown-bodered-white > div.contextual-links-wrapper {
  padding: 0;
}
/* line 24, ../sass/blocks.scss */
.brown-bodered-white h2 {
  margin: -13px 0 0 0;
  font-size: 0.85em;
  text-transform: uppercase;
  color: #94753F;
  line-height: normal;
}

/* line 34, ../sass/blocks.scss */
.frontpage-links .pane-title {
  display: none;
}
/* line 37, ../sass/blocks.scss */
.frontpage-links .menu {
  padding: 12px;
  padding-bottom: 2px;
  overflow: hidden;
}

/* line 44, ../sass/blocks.scss */
.pane-organization > div {
  padding-bottom: 2px;
}

/* line 48, ../sass/blocks.scss */
.frontpage-people-finder .brown-bodered-white {
  margin-top: 12px;
}

/* line 52, ../sass/blocks.scss */
.pane-boxes-stanford-compliance .pane-title {
  font-size: 11px;
  margin-top: -12px;
}

/* line 57, ../sass/blocks.scss */
.blue-bodered-white {
  margin-bottom: 36px;
  background: #fff;
  border: 1px solid #aebdc5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  color: #393939;
}
/* line 63, ../sass/blocks.scss */
.blue-bodered-white .pane-title {
  margin: 0;
  font-size: 0.85em;
  text-transform: uppercase;
  background: url(../images/title-striped-bg.jpg) repeat;
  color: #fff;
  padding-left: 20px;
  line-height: 22px;
}
/* line 72, ../sass/blocks.scss */
.blue-bodered-white > div {
  padding: 12px;
}
/* line 74, ../sass/blocks.scss */
.blue-bodered-white > div.contextual-links-wrapper {
  padding: 0;
}

/* line 81, ../sass/blocks.scss */
.blue-dashed-list ul.menu li, .blue-dashed-list .views-row {
  list-style-type: none;
  list-style-image: none;
  float: left;
  width: 47%;
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 88, ../sass/blocks.scss */
.blue-dashed-list ul.menu li a, .blue-dashed-list .views-row a {
  display: block;
  padding: 5px 8px;
  background: #f1f1f1;
  border: 1px dashed #90a7b2;
}
/* line 95, ../sass/blocks.scss */
.blue-dashed-list ul.menu li.odd, .blue-dashed-list .views-row-odd {
  margin-right: 6%;
  clear: both;
}

/* line 101, ../sass/blocks.scss */
.frontpage-news-list .blue-bodered-white {
  margin-top: 20px;
}

/* line 104, ../sass/blocks.scss */
.frontpage-slac-science .blue-bodered-white {
  margin-bottom: 24px;
}

/* line 107, ../sass/blocks.scss */
.brown-bodered-white .view-footer, .blue-bodered-white .view-footer, #boxes-box-weather_traffic small {
  width: 100%;
  clear: both;
  border-top: 1px dashed #b8c9d1;
  padding: 12px 0 0;
  margin-top: 3px;
  font-size: 11px;
  line-height: 15px;
}

/* line 117, ../sass/blocks.scss */
.brown-bodered-white .view-footer a, .blue-bodered-white .view-footer a, #boxes-box-weather_traffic small a, .switch-link a {
  background: url(../images/arrow-dot-line.png) no-repeat left center;
  padding-left: 15px;
}

/* line 125, ../sass/blocks.scss */
.frontpage-people-finder input {
  margin: 0;
  padding: 0;
  float: left;
  outline: none;
}
/* line 131, ../sass/blocks.scss */
.frontpage-people-finder .searchbox {
  height: 21px;
  line-height: 21px;
  background: #ebebeb;
  border: 1px solid #cecdce;
  margin-right: 7px;
  padding: 0 5px;
  width: 64%;
  font-size: 12px;
  color: #535353;
}
/* line 142, ../sass/blocks.scss */
.frontpage-people-finder .searchbutton {
  width: 28px;
  height: 23px;
  border: none;
  background: #276cbd;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
}
/* line 151, ../sass/blocks.scss */
.frontpage-people-finder .advanced-search {
  display: block;
  clear: both;
  padding: 7px 0 0 15px;
  font-size: 11px;
  background: url("../images/arrow-dot-line.png") no-repeat left 12px;
}

/* line 162, ../sass/blocks.scss */
.frontpage-calendar .views-field-nothing,
.frontpage-calendar .views-field-title {
  padding-right: 18px;
}
/* line 165, ../sass/blocks.scss */
.frontpage-calendar .views-field-nothing-1 {
  position: relative;
  float: right;
  bottom: 20px;
  margin-bottom: -100%;
}
/* line 172, ../sass/blocks.scss */
.frontpage-calendar .views-row-grouped {
  clear: both;
  color: #20659A;
}
/* line 176, ../sass/blocks.scss */
.frontpage-calendar h3 {
  margin: 0;
  float: left;
  color: #94753F;
  width: 18%;
  text-transform: uppercase;
  text-align: center;
}
/* line 184, ../sass/blocks.scss */
.frontpage-calendar .month {
  font-size: 0.7em;
  display: block;
  font-weight: bold;
}
/* line 189, ../sass/blocks.scss */
.frontpage-calendar .day {
  font-size: 1em;
  font-weight: normal;
  display: block;
  margin-top: -0.6em;
}
/* line 196, ../sass/blocks.scss */
.frontpage-calendar .views-row-grouped .views-row-last {
  background: url("../images/dotted-bottom-border.png") no-repeat 0 bottom;
}
/* line 200, ../sass/blocks.scss */
.frontpage-calendar .views-row-grouped:first-child .views-row-first {
  padding-top: 0;
}
/* line 205, ../sass/blocks.scss */
.frontpage-calendar .views-row {
  float: right;
  width: 76%;
  border-left: 1px dashed #b8c9d1;
  padding: 0 0 10px 5%;
  font-size: 11px;
}
/* line 212, ../sass/blocks.scss */
.frontpage-calendar .views-row.views-row-first {
  padding-top: 10px;
}
/* line 215, ../sass/blocks.scss */
.frontpage-calendar .views-row:hover {
  text-decoration: underline;
}
/* line 218, ../sass/blocks.scss */
.frontpage-calendar .views-field-title {
  font-weight: bold;
}
/* line 221, ../sass/blocks.scss */
.frontpage-calendar .view-footer {
  border: none;
}
/* line 224, ../sass/blocks.scss */
.frontpage-calendar .more {
  display: block;
  clear: both;
  padding-top: 0;
}
/* line 228, ../sass/blocks.scss */
.frontpage-calendar .more a {
  font-size: 11px;
}

/* line 235, ../sass/blocks.scss */
.frontpage-access-info .views-row {
  margin-bottom: 10px;
  font-size: 11px;
}
/* line 238, ../sass/blocks.scss */
.frontpage-access-info .views-row div {
  display: inline;
}

/* line 245, ../sass/blocks.scss */
.frontpage-weather .current {
  padding-bottom: 0;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 249, ../sass/blocks.scss */
.frontpage-weather .current h2 {
  font-size: 1em;
  text-transform: none;
  font-weight: bold;
  padding: 10px 0 5px;
  color: #5D5D5D;
}
/* line 256, ../sass/blocks.scss */
.frontpage-weather .current .temp {
  float: left;
}
/* line 260, ../sass/blocks.scss */
.frontpage-weather .temp-nr {
  background: url("../images/far.jpg") no-repeat right 3px;
  font-size: 24px;
  color: #472725;
  padding-right: 15px;
  float: left;
}
/* line 268, ../sass/blocks.scss */
.frontpage-weather .current .condition {
  font-size: 12px;
  color: #706a65;
  font-weight: bold;
  text-transform: capitalize;
  float: left;
  margin: 2px 0 0 5px;
}
/* line 276, ../sass/blocks.scss */
.frontpage-weather .current .icon {
  float: right;
  width: 75px;
  margin: -25px -8px 0 0;
}
/* line 282, ../sass/blocks.scss */
.frontpage-weather .forecast {
  padding-top: 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}
/* line 287, ../sass/blocks.scss */
.frontpage-weather .forecast ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 292, ../sass/blocks.scss */
.frontpage-weather .forecast li {
  float: left;
  width: 32.5%;
  text-align: center;
  border-left: 1px solid #ececec;
}
/* line 297, ../sass/blocks.scss */
.frontpage-weather .forecast li:first-child {
  border: none;
}
/* line 301, ../sass/blocks.scss */
.frontpage-weather .forecast img {
  display: block;
  width: 75%;
  margin: 0 auto;
}
/* line 306, ../sass/blocks.scss */
.frontpage-weather .forecast .day {
  display: block;
  font-size: 0.8em;
}
/* line 310, ../sass/blocks.scss */
.frontpage-weather .forecast .hight {
  padding: 0 6px 0  4px;
  font-size: 11px;
  background: url("../images/grade-dark.jpg") no-repeat right 3px;
}
/* line 315, ../sass/blocks.scss */
.frontpage-weather .forecast .low {
  padding: 0 6px 0  4px;
  font-size: 11px;
  background: url("../images/grade-dark.jpg") no-repeat right 3px;
  color: #b6afa6;
  background: url("../images/grade-light.jpg") no-repeat right 3px;
}
/* line 322, ../sass/blocks.scss */
.frontpage-weather .forecast .switch-link {
  display: block;
  padding-top: 12px;
}
/* line 325, ../sass/blocks.scss */
.frontpage-weather .forecast .switch-link a {
  position: static;
  float: none;
  color: #20659A;
  line-height: 15px;
}
/* line 333, ../sass/blocks.scss */
.frontpage-weather #boxes-box-weather_traffic {
  padding-top: 0;
}
/* line 335, ../sass/blocks.scss */
.frontpage-weather #boxes-box-weather_traffic small {
  border: none;
  display: block;
}
/* line 340, ../sass/blocks.scss */
.frontpage-weather #map-canvas {
  width: 100% !important;
}

/* Front page top links block*/
/* line 349, ../sass/blocks.scss */
.frontpage-top-links .mobile {
  display: none;
}

/* line 355, ../sass/blocks.scss */
.pane-top-links .item-list ul {
  width: 100%;
}
/* line 357, ../sass/blocks.scss */
.pane-top-links .item-list ul .views-row {
  float: left;
  width: 48%;
  margin-bottom: 7px;
}
/* line 361, ../sass/blocks.scss */
.pane-top-links .item-list ul .views-row a {
  padding-left: 12px;
  font-size: 12px;
  background: url("../images/list-dot.png") no-repeat 0 7px;
}
/* line 367, ../sass/blocks.scss */
.pane-top-links .item-list ul .views-row-even {
  margin-left: 4%;
}

/* line 374, ../sass/blocks.scss */
.pane-staff-resource-modern table {
  margin: 0;
  border-collapse: collapse;
}
/* line 378, ../sass/blocks.scss */
.pane-staff-resource-modern td {
  width: 50%;
  padding-bottom: 7px;
}
/* line 382, ../sass/blocks.scss */
.pane-staff-resource-modern .views-field-name a {
  padding-left: 12px;
  font-size: 12px;
  background: url("../images/list-dot.png") no-repeat 0 7px;
}
/* line 387, ../sass/blocks.scss */
.pane-staff-resource-modern .col-last {
  width: 46%;
  padding-left: 4%;
}

/* line 393, ../sass/blocks.scss */
.section-a-z .views-field-name a {
  background: transparent;
}

/* Front page right sidebar boxes */
@media (min-width: 901px) {
  /* line 403, ../sass/blocks.scss */
  .frontpage-help-market,
  .frontpage-security-contacts {
    width: 48% !important;
  }

  /* line 406, ../sass/blocks.scss */
  .frontpage-help-market {
    padding-left: 0 !important;
    padding-right: 2% !important;
  }

  /* line 410, ../sass/blocks.scss */
  .frontpage-security-contacts {
    padding-left: 2% !important;
    padding-right: 0 !important;
    margin-left: 52% !important;
  }
}
/* line 418, ../sass/blocks.scss */
.frontpage-security-contacts p,
.pane-boxes-it-help-desk p {
  margin: 0 0 8px 0;
  font-size: 12px;
}

/* line 424, ../sass/blocks.scss */
.pane-views-flea-market-block .views-row {
  font-size: 11px;
  padding: 8px 0;
  border-top: 1px dashed #b8c9d1;
}
/* line 429, ../sass/blocks.scss */
.pane-views-flea-market-block .views-row-first {
  padding-top: 0;
  border-top: none;
}

/* line 435, ../sass/blocks.scss */
.pane-boxes-slac-projects .boxes-box-content {
  overflow: hidden;
}
/* line 437, ../sass/blocks.scss */
.pane-boxes-slac-projects .boxes-box-content img {
  display: block;
  float: left;
  margin: 0 20px 0 0;
}
/* line 442, ../sass/blocks.scss */
.pane-boxes-slac-projects .boxes-box-content li {
  color: #20659A;
  list-style-type: none;
  list-style-image: none;
  font-size: 12px;
  margin-bottom: 7px;
}

/* line 451, ../sass/blocks.scss */
a.submit-feedback {
  background: #2482c9;
  width: 110px;
  height: 17px;
  line-height: 17px;
  margin: auto;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 9px;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0);
  -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0);
  -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0);
}

/* Socials */
/* line 467, ../sass/blocks.scss */
.socials {
  overflow: hidden;
}
/* line 469, ../sass/blocks.scss */
.socials li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  overflow: hidden;
  background: url("../images/socials.png") no-repeat;
  width: 16.666%;
  min-width: 16px;
  height: 16px;
}
/* line 478, ../sass/blocks.scss */
.socials li a {
  display: block;
  height: 1px;
  padding-top: 30px;
  overflow: hidden;
}
/* line 485, ../sass/blocks.scss */
.socials .fb {
  background-position: center 0;
}
/* line 488, ../sass/blocks.scss */
.socials .gplus {
  background: url("../images/googleplus-icon.png") no-repeat center center;
}
/* line 491, ../sass/blocks.scss */
.socials .flickr {
  background-position: center -20px;
}
/* line 494, ../sass/blocks.scss */
.socials .rss {
  background-position: center -40px;
}
/* line 497, ../sass/blocks.scss */
.socials .twitter {
  background-position: center -60px;
}
/* line 500, ../sass/blocks.scss */
.socials .youtube {
  background-position: center -80px;
}

/* Front middle general */
/* line 509, ../sass/blocks.scss */
.frontpage-slac-science .views-row,
.frontpage-news-list .views-row {
  padding-left: 12px;
  background: url("../images/list-dot.png") no-repeat 0 7px;
}
/* line 513, ../sass/blocks.scss */
.frontpage-slac-science .views-row .views-field-title,
.frontpage-slac-science .views-row .views-field-created,
.frontpage-news-list .views-row .views-field-title,
.frontpage-news-list .views-row .views-field-created {
  display: inline;
  font-size: 12px;
  line-height: 1.85em;
}
/* line 518, ../sass/blocks.scss */
.frontpage-slac-science .views-row .views-field-created,
.frontpage-news-list .views-row .views-field-created {
  color: #5D5D5D;
  font-style: italic;
  font-size: 11px;
}

/* line 525, ../sass/blocks.scss */
.frontpage-slac-science .view-header {
  margin: -12px;
  margin-bottom: 12px;
}
/* line 528, ../sass/blocks.scss */
.frontpage-slac-science .view-header .view-content {
  position: relative;
  overflow: hidden;
}
/* line 532, ../sass/blocks.scss */
.frontpage-slac-science .view-header div {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
}
/* line 539, ../sass/blocks.scss */
.frontpage-slac-science .view-header img {
  display: block;
  width: 100%;
  height: auto;
}

/* Front slider */
/* line 549, ../sass/blocks.scss */
.frontpage-slider-mobile > div {
  margin-bottom: 36px;
}
/* line 551, ../sass/blocks.scss */
.frontpage-slider-mobile > div .views-slideshow-controls-top {
  display: none;
}
/* line 556, ../sass/blocks.scss */
.frontpage-slider-mobile > div .views_slideshow_slide .views-field-nothing {
  background: #fff;
}
/* line 558, ../sass/blocks.scss */
.frontpage-slider-mobile > div .views_slideshow_slide .views-field-nothing .title a, .frontpage-slider-mobile > div .views_slideshow_slide .views-field-nothing span {
  color: #20659A;
}

/* line 566, ../sass/blocks.scss */
.frontpage-news-slider,
.frontpage-slider-mobile {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 571, ../sass/blocks.scss */
.frontpage-news-slider:hover .views_slideshow_slide .views-field-nothing,
.frontpage-slider-mobile:hover .views_slideshow_slide .views-field-nothing {
  background: #2682ca;
}
/* line 574, ../sass/blocks.scss */
.frontpage-news-slider div,
.frontpage-slider-mobile div {
  background: transparent;
}
/* line 577, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-cycle-main-frame,
.frontpage-slider-mobile .views-slideshow-cycle-main-frame {
  position: relative;
}
/* line 581, ../sass/blocks.scss */
.frontpage-news-slider .views_slideshow_slide > div,
.frontpage-slider-mobile .views_slideshow_slide > div {
  position: relative;
  overflow: hidden;
}
/* line 585, ../sass/blocks.scss */
.frontpage-news-slider .views_slideshow_slide img,
.frontpage-slider-mobile .views_slideshow_slide img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}
/* line 591, ../sass/blocks.scss */
.frontpage-news-slider .views_slideshow_slide .views-field-nothing,
.frontpage-slider-mobile .views_slideshow_slide .views-field-nothing {
  position: absolute;
  bottom: 0;
  left: -5%;
  right: -5%;
  width: 110%;
  height: auto;
  background: url("../images/transparent-blue-bg.png") repeat;
  color: #fff;
  line-height: 18px;
}
/* line 602, ../sass/blocks.scss */
.frontpage-news-slider .views_slideshow_slide .views-field-nothing:hover .title a,
.frontpage-slider-mobile .views_slideshow_slide .views-field-nothing:hover .title a {
  border-color: #fff;
}
/* line 605, ../sass/blocks.scss */
.frontpage-news-slider .views_slideshow_slide .views-field-nothing:hover .body,
.frontpage-slider-mobile .views_slideshow_slide .views-field-nothing:hover .body {
  border-color: #dddddd;
}
/* line 609, ../sass/blocks.scss */
.frontpage-news-slider .views_slideshow_slide .views-field-nothing span,
.frontpage-slider-mobile .views_slideshow_slide .views-field-nothing span {
  display: block;
  margin: 10px 7.5%;
}
/* line 613, ../sass/blocks.scss */
.frontpage-news-slider .views_slideshow_slide .views-field-nothing .title a,
.frontpage-slider-mobile .views_slideshow_slide .views-field-nothing .title a {
  display: inline;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: normal;
  border-bottom: 1px dashed transparent;
}
/* line 621, ../sass/blocks.scss */
.frontpage-news-slider .views_slideshow_slide .views-field-nothing .body,
.frontpage-slider-mobile .views_slideshow_slide .views-field-nothing .body {
  display: inline;
  max-height: 80px;
  color: #dddddd;
  font-size: 0.8em;
  line-height: 1.4em;
  overflow: hidden;
  border-bottom: 1px dashed transparent;
}
/* line 632, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span,
.frontpage-slider-mobile .views-slideshow-controls-text span {
  position: absolute;
  top: 40%;
  width: 30px;
  height: 70px;
  display: block;
  overflow: hidden;
  background: url("../images/slider-arrow-bg.png") repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  z-index: 99;
}
/* line 643, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span.views-slideshow-controls-text-previous,
.frontpage-slider-mobile .views-slideshow-controls-text span.views-slideshow-controls-text-previous {
  left: 20px;
}
/* line 645, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span.views-slideshow-controls-text-previous a,
.frontpage-slider-mobile .views-slideshow-controls-text span.views-slideshow-controls-text-previous a {
  background: url("../images/slider-back.png") no-repeat center;
}
/* line 649, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span.views-slideshow-controls-text-next,
.frontpage-slider-mobile .views-slideshow-controls-text span.views-slideshow-controls-text-next {
  right: 20px;
}
/* line 651, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span.views-slideshow-controls-text-next a,
.frontpage-slider-mobile .views-slideshow-controls-text span.views-slideshow-controls-text-next a {
  background: url("../images/slider-next.png") no-repeat center;
}
/* line 655, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span.views-slideshow-controls-text-pause,
.frontpage-slider-mobile .views-slideshow-controls-text span.views-slideshow-controls-text-pause {
  display: none;
}
/* line 659, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-controls-text span a,
.frontpage-slider-mobile .views-slideshow-controls-text span a {
  display: block;
  height: 100%;
  text-indent: -9000px;
  text-transform: capitalize;
}
/* line 666, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-pager-fields,
.frontpage-slider-mobile .views-slideshow-pager-fields {
  position: absolute;
  right: 15px;
  top: 10px;
  width: auto;
  height: auto;
  z-index: 99;
}
/* line 673, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-pager-fields .views-slideshow-pager-field-item,
.frontpage-slider-mobile .views-slideshow-pager-fields .views-slideshow-pager-field-item {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  text-indent: -9000px;
  text-transform: capitalize;
  background: url("../images/slider-pager.png") no-repeat 0 0;
  overflow: hidden;
}
/* line 682, ../sass/blocks.scss */
.frontpage-news-slider .views-slideshow-pager-fields .views-slideshow-pager-field-item.active,
.frontpage-slider-mobile .views-slideshow-pager-fields .views-slideshow-pager-field-item.active {
  background-image: url("../images/slider-pager-active.png");
}

/* line 689, ../sass/blocks.scss */
.frontpage-slider-mobile {
  display: none;
}

/* line 692, ../sass/blocks.scss */
.frontpage-slac-science .view-header:hover .views-field-nothing {
  background: #2682ca;
}
/* line 695, ../sass/blocks.scss */
.frontpage-slac-science .view-header .views-field-nothing {
  position: absolute;
  bottom: 0;
  left: -5%;
  right: -5%;
  height: auto;
  width: 100%;
  padding: 0 5%;
  margin: 0;
  background: url("../images/transparent-blue-bg.png") repeat;
  color: #fff;
  line-height: 18px;
}
/* line 708, ../sass/blocks.scss */
.frontpage-slac-science .view-header .views-field-nothing:hover .title a {
  border-color: #fff;
}
/* line 711, ../sass/blocks.scss */
.frontpage-slac-science .view-header .views-field-nothing:hover .body {
  border-color: #dddddd;
}
/* line 715, ../sass/blocks.scss */
.frontpage-slac-science .view-header .views-field-nothing span {
  display: block;
  width: 96%;
  margin: 10px auto;
}
/* line 719, ../sass/blocks.scss */
.frontpage-slac-science .view-header .views-field-nothing span a {
  display: block;
  margin: 0;
}
/* line 725, ../sass/blocks.scss */
.frontpage-slac-science .view-header .views-field-nothing .title a {
  display: inline;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: normal;
  border-bottom: 1px dashed transparent;
}
/* line 734, ../sass/blocks.scss */
.frontpage-slac-science .view-header .views-field-nothing .body {
  display: inline;
  max-height: 80px;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #dddddd;
  overflow: hidden;
  border-bottom: 1px dashed transparent;
}

/* line 747, ../sass/blocks.scss */
.section-about .field-type-text-with-summary p {
  padding-bottom: 20px;
  margin-bottom: 0 0 20px 0;
  border-bottom: 1px dashed #b1c2ca;
  color: #45464C;
}
/* line 753, ../sass/blocks.scss */
.section-about .field-type-text-with-summary li {
  margin-left: 2.5%;
  width: 97.5%;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 12px;
  line-height: 20px;
}

/* line 763, ../sass/blocks.scss */
.back-on-top {
  display: block;
  width: 88%;
  padding: 0 6%;
  overflow: hidden;
  background: #d5d5d5;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  display: none;
}

/* line 775, ../sass/blocks.scss */
.back-on-top span {
  float: left;
  padding-right: 30px;
  background: url("../images/go-to-top-arrow.png") no-repeat right center;
}

@media (max-width: 1318px) and (min-width: 901px) {
  /* line 782, ../sass/blocks.scss */
  .pane-boxes-stanford-compliance {
    margin-top: 44px !important;
  }

  /* line 786, ../sass/blocks.scss */
  .pane-boxes-stanford-compliance h2 {
    margin-top: -26px !important;
  }
}
/* line 792, ../sass/blocks.scss */
.frontpage-directorate-links .view-content:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1470) {
  /* line 800, ../sass/blocks.scss */
  .frontpage-news-slider .views-slideshow-cycle-main-frame {
    height: 378px;
  }
}
@media (max-width: 900px) {
  /* line 807, ../sass/blocks.scss */
  .brown-bodered-white h2 {
    font-size: 11px;
    margin-top: -12px;
  }

  /* line 812, ../sass/blocks.scss */
  .blue-striped-list > .pane-content {
    padding: 10px;
  }
  /* line 815, ../sass/blocks.scss */
  .blue-striped-list .view-content .views-row {
    background: #e9f2f9;
    border: none;
    font-size: 14px;
    width: 46%;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  /* line 822, ../sass/blocks.scss */
  .blue-striped-list .view-content .views-row a {
    background: none;
    padding: 0;
    line-height: normal;
    padding: 6px 7%;
    width: 86%;
    float: left;
  }

  /* line 832, ../sass/blocks.scss */
  .frontpage-news-slider .views-field-nothing .body, .frontpage-slac-science .view-header .views-field-nothing .body {
    display: none !important;
  }

  /* line 836, ../sass/blocks.scss */
  .frontpage-top-links .desktop {
    display: none;
  }

  /* line 837, ../sass/blocks.scss */
  .frontpage-top-links .mobile {
    display: block;
  }

  /* line 840, ../sass/blocks.scss */
  .frontpage-directorate-links .views-row a {
    background-color: #e9f2f9;
    border: none;
    font-size: 14px;
  }
  /* line 845, ../sass/blocks.scss */
  .frontpage-directorate-links .views-row-last {
    margin-bottom: 0;
  }

  /* line 850, ../sass/blocks.scss */
  .frontpage-top-links .view-content .views-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
  }
  /* line 854, ../sass/blocks.scss */
  .frontpage-top-links .view-content .views-row.views-row-last {
    margin-bottom: 7px;
  }

  /* line 859, ../sass/blocks.scss */
  .frontpage-calendar h3 {
    margin-left: -10px;
  }

  /* line 865, ../sass/blocks.scss */
  .frontpage-calendar .views-field-nothing,
  .frontpage-calendar .views-field-title {
    padding-right: 25px;
  }

  /* line 871, ../sass/blocks.scss */
  .frontpage-help-market,
  .frontpage-security-contacts {
    clear: both;
    width: 100%;
    margin-right: 0;
    float: none;
  }

  /* line 878, ../sass/blocks.scss */
  .back-on-top {
    display: block;
  }
}
@media (max-width: 620px) {
  /* line 888, ../sass/blocks.scss */
  .front #content {
    position: relative;
  }

  /* line 891, ../sass/blocks.scss */
  .layoutfix.frontpage-left-col {
    position: absolute;
  }

  /* line 895, ../sass/blocks.scss */
  .frontpage-news-slider {
    margin-bottom: 36px;
  }

  /* line 898, ../sass/blocks.scss */
  .frontpage-slider-mobile {
    display: block;
  }

  /* line 901, ../sass/blocks.scss */
  .frontpage-calendar {
    display: block;
  }

  /* line 904, ../sass/blocks.scss */
  .pane-organization > div {
    padding-bottom: 12px;
  }

  /* People search*/
  /* line 908, ../sass/blocks.scss */
  .no-bg {
    background: transparent;
    border: none;
  }
  /* line 911, ../sass/blocks.scss */
  .no-bg.brown-bodered-white {
    margin-top: 0;
  }
  /* line 913, ../sass/blocks.scss */
  .no-bg.brown-bodered-white > .pane-content {
    padding: 0;
  }

  /* line 919, ../sass/blocks.scss */
  .frontpage-people-finder {
    display: none;
  }

  /*.frontpage-people-finder .brown-bodered-white > div{
    padding: 0;
  }
  .frontpage-people-finder {
    .advanced-search {
      display: none;
    }
    form {
      height: 26px;
      border: 3px solid #b8d6ee;
      padding: 0 28px 0 0;
      position: relative;
      background: #b8d6ee;
      overflow: hidden;
    }
    .searchbox {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 26px;
      padding: 0 26px 0 5px;
      margin: 0;
      background: #fff;
      border: none;
      border-radius: 0;
      box-sizing: border-box;
    }
    .searchbutton {
      position: absolute;
      top: 0;
      right: 0;
      background: #b8d6ee url('../images/small-search-icon.jpg') no-repeat center right;
      border: none;
      height: 26px;
      width: 28px;
      float: right;
      overflow: hidden;
      text-indent: -9000px;
      text-transform: capitalize;
      border-radius: 0;
      z-index: 99;
    }
  }*/
  /* Middle blocks */
  /* line 971, ../sass/blocks.scss */
  .blue-bodered-white .pane-title {
    background: #a8bcc7 url("../images/blue-arrow.jpg") no-repeat right center;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  /* line 978, ../sass/blocks.scss */
  .blue-bodered-white > div {
    padding: 0;
  }
  /* line 981, ../sass/blocks.scss */
  .blue-bodered-white .view-footer {
    display: none;
  }
  /* line 984, ../sass/blocks.scss */
  .blue-bodered-white .views-field-created {
    font-size: 12px;
  }

  /* slac science block */
  /* line 992, ../sass/blocks.scss */
  .frontpage-slac-science .view-header,
  .frontpage-news-list .view-header {
    position: relative;
    margin: 0 0 20px 0;
  }
  /* line 997, ../sass/blocks.scss */
  .frontpage-slac-science .blue-bodered-white > div > .view-content .views-row,
  .frontpage-news-list .blue-bodered-white > div > .view-content .views-row {
    min-height: 60px;
    padding-top: 10px;
    padding-right: 60px;
    margin-bottom: 20px;
    background: white url(../images/list-arrow.jpg) no-repeat right center;
    overflow: hidden;
  }
  /* line 1004, ../sass/blocks.scss */
  .frontpage-slac-science .blue-bodered-white > div > .view-content .views-row a,
  .frontpage-news-list .blue-bodered-white > div > .view-content .views-row a {
    display: block;
    font-size: 1.2em;
  }

  /* line 1012, ../sass/blocks.scss */
  .frontpage-news-list .blue-bodered-white {
    margin-top: 0;
  }

  /* line 1017, ../sass/blocks.scss */
  .frontpage-directorate-links .views-row {
    width: 100%;
    margin: 0;
    margin-bottom: 14px;
  }
  /* line 1021, ../sass/blocks.scss */
  .frontpage-directorate-links .views-row.views-row-last {
    margin-bottom: 0;
  }
  /* line 1024, ../sass/blocks.scss */
  .frontpage-directorate-links .views-row a {
    float: none;
    width: 86%;
    padding: 6px 7%;
  }

  /* Socials */
  /* line 1034, ../sass/blocks.scss */
  .socials li {
    min-width: 24px;
    height: 24px;
    background: url("../images/socialsx24.png") no-repeat;
  }
  /* line 1039, ../sass/blocks.scss */
  .socials .flickr {
    background-position: center -30px;
  }
  /* line 1042, ../sass/blocks.scss */
  .socials .rss {
    background-position: center -60px;
  }
  /* line 1045, ../sass/blocks.scss */
  .socials .twitter {
    background-position: center -90px;
  }
  /* line 1048, ../sass/blocks.scss */
  .socials .youtube {
    background-position: center -120px;
  }
  /* line 1051, ../sass/blocks.scss */
  .socials .gplus {
    background-size: 24px 24px;
  }

  /* Feedback page */
  /* line 1057, ../sass/blocks.scss */
  .section-feedback article .form-actions {
    width: 96%;
    padding: 5px 2% 0;
  }
  /* line 1060, ../sass/blocks.scss */
  .section-feedback article .form-actions input {
    width: 100%;
    margin-bottom: 5px;
  }

  /* line 1067, ../sass/blocks.scss */
  .section-research-resources .general-right,
  .section-staff-resources-classic .general-right,
  .section-a-z .general-right {
    display: none;
  }

  /* line 1071, ../sass/blocks.scss */
  .frontpage-calendar h3 {
    margin-left: 0;
  }

  /* line 1075, ../sass/blocks.scss */
  .back-on-top {
    display: block;
  }
}
/* line 1078, ../sass/blocks.scss */
.error {
  width: auto !important;
  margin: auto auto !important;
}
