/* line 1, ../sass/feedback-page.scss */
.section-feedback .field-name-body, .page-node-done #content .webform-confirmation p {
  font-size: 15px;
  color: #393a3c;
  padding-bottom: 27px;
  margin-bottom: 40px;
  border-bottom: 1px dashed #b1c2ca;
  line-height: 20px;
}

/* line 10, ../sass/feedback-page.scss */
.section-feedback .field-name-body p {
  margin: 0;
}

/* line 15, ../sass/feedback-page.scss */
.section-feedback article {
  max-width: 840px;
}
/* line 18, ../sass/feedback-page.scss */
.section-feedback .filter-wrapper {
  display: none;
}
/* line 21, ../sass/feedback-page.scss */
.section-feedback .content-wrapper form {
  max-width: 640px;
  background: #f6f6f6;
  border: 3px solid #dbdbdb;
  padding: 0 8% 32px;
  overflow: hidden;
}
/* line 27, ../sass/feedback-page.scss */
.section-feedback .content-wrapper form label {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 3px;
}
/* line 32, ../sass/feedback-page.scss */
.section-feedback .content-wrapper form input {
  border: none;
  font-size: 12px;
}
/* line 35, ../sass/feedback-page.scss */
.section-feedback .content-wrapper form input.form-text {
  border: 1px solid #d0d0d0;
  height: 22px;
  max-width: 380px;
  width: 96%;
  padding: 0 2%;
  outline: none;
}
/* line 44, ../sass/feedback-page.scss */
.section-feedback .content-wrapper form textarea {
  border: 2px solid #d0d0d0;
  height: 180px;
  outline: none;
}
/* line 50, ../sass/feedback-page.scss */
.section-feedback article .form-actions {
  padding: 5px 7px;
  width: auto;
  float: left;
  margin: 0;
  border: 1px dotted #b1c2ca;
}

/* line 60, ../sass/feedback-page.scss */
.section-feedback article .form-actions input {
  height: 28px;
  background: #2582CA;
  padding: 0 25px;
  font-size: 11px;
  color: #fff;
  text-transform: lowercase;
  min-width: 138px;
  width: 100%;
  margin: 0;
}
/* line 71, ../sass/feedback-page.scss */
.section-feedback article select {
  max-width: 300px;
  width: 100%;
  font-size: 12px;
}
/* line 76, ../sass/feedback-page.scss */
.section-feedback article .comments .form-actions {
  margin-top: 1.5em;
}
/* line 80, ../sass/feedback-page.scss */
.section-feedback .comment_forbidden {
  margin-top: 20px;
}

/* line 85, ../sass/feedback-page.scss */
.page-node-done #content {
  background: #fff;
  width: 96%;
  padding: 100px 2% 300px;
  background: #fff;
  width: 96%;
  padding: 100px 2% 300px;
}
