#page:before, #page:after {
  content: "";
  display: table;
}
#page:after {
  clear: both;
}

#header {
  background: url("../images/header-bg.png") 0 52px repeat-x;
  height: 82px;
  margin: 0 auto;
  margin-bottom: 78px;
}
#header .header-wrapper {
  clear: both;
  display: table;
  content: "";
}
#header .logo {
  float: left;
  width: 20%;
  margin-left: 0%;
  margin-right: -20%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
#header .header__region {
  float: left;
  width: 80%;
  margin-left: 20%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
}
#header #block-menu-menu-top-menu {
  width: 50%;
  text-align: right;
  padding-right: 0;
  padding-left: 0;
}
@media screen and (min-width: 1120px) {
  #header #block-menu-menu-top-menu {
    float: left;
    width: 40%;
    margin-left: 20%;
    margin-right: -60%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
#header #block-search-form {
  width: 50%;
  text-align: right;
  padding-right: 0;
  padding-left: 0;
}
@media screen and (min-width: 1120px) {
  #header #block-search-form {
    float: left;
    width: 40%;
    margin-left: 60%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
#header #block-system-main-menu {
  margin-top: 8px;
}

/* Header Top Menu, Main Menu, Search*/
#block-menu-menu-top-menu {
  text-align: right;
  margin-bottom: 16px;
}
#block-menu-menu-top-menu .menu {
  margin-right: 2em;
}
#block-menu-menu-top-menu .menu li {
  display: inline;
}
#block-menu-menu-top-menu .menu li.first {
  border-right: 1px solid #316dae;
}
#block-menu-menu-top-menu .menu li a {
  font-size: 11px;
  font-size: 0.6875rem;
  padding: .5em 1em;
  color: #316dae;
  text-transform: uppercase;
}
#block-menu-menu-top-menu .menu li a:hover, #block-menu-menu-top-menu .menu li a:focus {
  outline: none;
}

#block-system-main-menu {
  clear: both;
}
#block-system-main-menu .menu li {
  display: inline-block;
  margin-right: -4px;
  list-style-type: none;
  list-style-image: none;
  display: inline-block;
}
#block-system-main-menu .menu li.last {
  padding-right: 0;
  background: transparent;
}
#block-system-main-menu .menu li a {
  font-size: 15px;
  font-size: 0.9375rem;
  display: inline-block;
  padding: 6px 2em 7px 2em;
  text-transform: uppercase;
  color: #fff;
  background: #316dae;
  text-decoration: none;
}
#block-system-main-menu .menu li a:hover, #block-system-main-menu .menu li a:focus {
  background: #ffffff;
  color: #316dae;
  outline: none;
}

.header__region input[type="text"] {
  font-size: 10px;
  font-size: 0.625rem;
  padding: 6px 10px;
  width: 40%;
  border: 1px solid #316dae;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .header__region input[type="text"] {
    width: 50%;
  }
}
.header__region input[type="text"]:focus [placeholder] {
  display: none;
}
.header__region input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.header__region input[type="submit"] {
  font-size: 12px;
  font-size: 0.75rem;
  background: #316dae;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  text-transform: uppercase;
}
.header__region select {
  font-size: 10px;
  font-size: 0.625rem;
  text-transform: uppercase;
  border: 1px solid #316dae;
  background: #ffffff;
  border-radius: 0;
  border-image: none;
  color: #9d9d9d;
  padding: 6px 5em 6px 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff url(../images/dropdown-bg.png) right -3px no-repeat;
}
.header__region select option {
  border: 1px solid #316dae;
  color: #316dae;
  font-weight: normal;
}

.footer-wrapper {
  background: #DADADA;
  margin: 0;
  overflow: hidden;
}
@media (max-width: 900px) {
  .footer-wrapper {
    background: #9A9A9A;
  }
}
.footer-wrapper .footer-inner:after {
  content: "";
  display: table;
  clear: both;
}

.region-footer {
  float: left;
  width: 60%;
  margin-left: 0%;
  margin-right: -60%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media screen and (min-width: 1100px) {
  .region-footer {
    float: left;
    width: 80%;
    margin-left: 0%;
    margin-right: -80%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

.footer-logos {
  float: left;
  width: 40%;
  margin-left: 60%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: right;
}
@media screen and (min-width: 1100px) {
  .footer-logos {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
