/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 14, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 26, ../sass/pages.scss */
.header-wrapper, #content, .region-footer {
  width: 100%;
  max-width: 1432px;
  margin: auto;
}

/* line 32, ../sass/pages.scss */
header, .content-wrapper, .footer-wrapper {
  width: 98%;
  padding: 0 1%;
}

/* line 37, ../sass/pages.scss */
.not-front #content {
  background: #fbf9f9;
  width: 96%;
  padding: 100px 2% 32px;
}

/* line 43, ../sass/pages.scss */
.grippie {
  display: none;
}

/* line 47, ../sass/pages.scss */
#skip-link {
  margin: 0;
}

/* line 51, ../sass/pages.scss */
a {
  color: #20659A;
  text-decoration: none;
}
/* line 55, ../sass/pages.scss */
a:hover, a:active {
  text-decoration: underline;
  outline: 0;
}

/*
 * Header
 */
/* line 65, ../sass/pages.scss */
header {
  background: url("../images/header-bg.jpg") repeat-x;
  height: 74px;
}

/* line 70, ../sass/pages.scss */
.logo {
  width: 23%;
  float: left;
}
/* line 73, ../sass/pages.scss */
.logo a {
  display: block;
  max-width: 148px;
  width: 100%;
  margin: auto;
  margin-bottom: -55px;
}

/* line 82, ../sass/pages.scss */
#name-and-slogan {
  display: none;
}

/* line 86, ../sass/pages.scss */
.region-header {
  float: right;
}
/* line 88, ../sass/pages.scss */
.region-header .block {
  float: left;
}

/* line 93, ../sass/pages.scss */
.frontpage-right, .frontpage-left-col {
  margin-bottom: 32px;
}

/* Header Main Menu, Search*/
/* line 99, ../sass/pages.scss */
#block-system-main-menu .menu li {
  height: 25px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 10px;
  list-style-type: none;
  list-style-image: none;
  float: left;
  padding: 0 13px;
  background: url("../images/delimitator.jpg") no-repeat 0 center;
}
/* line 109, ../sass/pages.scss */
#block-system-main-menu .menu li.first {
  background: transparent;
  padding-left: 0;
}
/* line 113, ../sass/pages.scss */
#block-system-main-menu .menu li a {
  color: #f4f4f4;
  text-decoration: none;
}

/* line 119, ../sass/pages.scss */
#block-boxes-web-search {
  clear: both;
  float: right;
}

/* line 124, ../sass/pages.scss */
.header-search {
  position: relative;
  background: #ebebeb;
  overflow: hidden;
  padding: 0 0 0 7px;
  height: 24px;
  width: 256px;
  margin-top: 12px;
}
/* line 132, ../sass/pages.scss */
.header-search input {
  float: left;
  border: none;
  background: none;
  outline: none;
  height: 24px;
  line-height: 24px;
  width: 228px;
  font-size: 12px;
  color: #535353;
}
/* line 143, ../sass/pages.scss */
.header-search .search-button {
  width: 26px;
  height: 22px;
  margin: 1px;
}

/*
 * Content
 */
/* line 155, ../sass/pages.scss */
.general-left ul li a {
  font-size: 13px;
}
/* line 159, ../sass/pages.scss */
.general-left .item-list ul {
  padding-bottom: 10px;
}
/* line 161, ../sass/pages.scss */
.general-left .item-list ul li {
  padding: 2px 0 2px 11px;
  margin: 0;
  font-size: 12px;
  clear: both;
  display: block;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}
/* line 170, ../sass/pages.scss */
.general-left .item-list ol li {
  padding: 2px 0 2px 11px;
  margin: 0;
  font-size: 12px;
  clear: both;
  display: block;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}
/* line 179, ../sass/pages.scss */
.general-left .views-row {
  padding: 2px 0 2px 11px;
  margin: 0;
  font-size: 12px;
  clear: both;
  display: block;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}

/* line 190, ../sass/pages.scss */
.right-block h2, .right-block h3 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  line-height: normal;
  padding: 0 0 2px 0;
}
/* line 197, ../sass/pages.scss */
.right-block .pane-content {
  border: 1px dashed #b4c2cb;
  border-top: 2px solid #988055;
  background: #f5f5f5;
  padding: 13px 8% 20px;
  font-size: 11px;
}

/* line 206, ../sass/pages.scss */
.staff-main .right-block .pane-content .view-content ul {
  border: 1px dashed #b4c2cb;
  border-top: 2px solid #988055;
  background: #f5f5f5;
  padding: 13px 8% 20px;
  font-size: 11px;
}

/* line 214, ../sass/pages.scss */
.right-block .views-row, .pane-quicktabs-staff-resources .quicktabs_main ul li a {
  padding: 4px 0 4px 13px;
  display: block;
  background: url("../images/right-list-arrow.jpg") no-repeat 0 9px;
}

/* line 220, ../sass/pages.scss */
.right-block .views-row a {
  font-weight: bold;
  padding-right: 15px;
  background: url("../images/right-list-icon.png") no-repeat right 2px;
}

/* line 226, ../sass/pages.scss */
.not-front #page-title {
  font-size: 20px;
  margin: 0 0 7px 0;
}

/* line 232, ../sass/pages.scss */
.general-right .inside {
  border-left: 4px solid #d1d0d0;
  padding: 0 0 0 13%;
  overflow: hidden;
}
/* line 237, ../sass/pages.scss */
.general-right .right-block p {
  margin: 30px 0 10px;
}
/* line 239, ../sass/pages.scss */
.general-right .right-block p:first-child {
  margin: 0 0 10px;
}
/* line 243, ../sass/pages.scss */
.general-right .pane-boxes-feedback {
  width: 98%;
  padding: 0;
  float: none;
  margin: 30px auto auto;
  border: 1px dotted #b1c2ca;
}
/* line 249, ../sass/pages.scss */
.general-right .pane-boxes-feedback a.submit-feedback {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  width: auto;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px  7px;
  padding: 5px 0;
  height: auto;
}

/* line 265, ../sass/pages.scss */
.rowonecoltwo ul {
  min-height: 296px;
}

/* line 269, ../sass/pages.scss */
.rowonecolthree ul {
  min-height: 310px;
}

/* line 275, ../sass/pages.scss */
.rowtwocolone ul,
.rowtwocoltwo ul,
.rowtwocolthree ul {
  min-height: 165px;
}

/*
 * Footer
 */
/* line 284, ../sass/pages.scss */
.footer-wrapper {
  background: #DADADA;
  margin: 0 0 22px;
}

/* line 289, ../sass/pages.scss */
.region-footer {
  padding-bottom: 14px;
  overflow: hidden;
  background: url("../images/footer-logos.jpg") no-repeat right center;
}

/* line 295, ../sass/pages.scss */
.footer-info {
  width: 40%;
  border-bottom: 2px solid #b4b4b5;
  color: #4d4c4d;
  font-size: 12px;
  line-height: 18px;
  padding: 14px 0 6px;
}

/* line 304, ../sass/pages.scss */
footer .block-menu {
  padding-top: 9px;
  float: left;
}
/* line 307, ../sass/pages.scss */
footer .block-menu h2 {
  display: none;
}
/* line 310, ../sass/pages.scss */
footer .block-menu li {
  float: left;
  font-size: 11px;
  padding-left: 7px;
  background: url("../images/list-dot.png") no-repeat left;
  margin-right: 25px;
}

@media (max-width: 900px) {
  /* line 320, ../sass/pages.scss */
  .logo {
    width: auto;
    float: left;
    margin-left: 5%;
  }

  /* line 326, ../sass/pages.scss */
  .frontpage-right-col, .frontpage-middle-col, .frontpage-help-market, .frontpage-security-contacts {
    width: 100%;
    clear: both;
  }

  /* line 330, ../sass/pages.scss */
  .frontpage-links, .frontpage-projects, .frontpage-help-market, .pane-boxes-stanford-compliance {
    display: none;
  }

  /* line 334, ../sass/pages.scss */
  .footer-wrapper {
    background: #979797;
    margin-bottom: 0;
  }

  /* line 338, ../sass/pages.scss */
  .region-footer {
    background: url("../images/small-footer-logos.jpg") no-repeat right center;
  }

  /* line 341, ../sass/pages.scss */
  .footer-info {
    border-bottom-color: #fff;
    width: 60%;
    color: #fff;
  }

  /* line 346, ../sass/pages.scss */
  .region-footer a {
    color: #fff;
  }

  /* line 349, ../sass/pages.scss */
  footer .block-menu li {
    background: url("../images/list-white-dot.jpeg") no-repeat left;
  }

  /* line 353, ../sass/pages.scss */
  .rowonecoltwo ul {
    min-height: 312px;
  }

  /* line 357, ../sass/pages.scss */
  .rowonecolthree ul {
    min-height: 0;
  }

  /* line 361, ../sass/pages.scss */
  .rowtwocolone ul {
    min-height: 240px;
  }
}
@media (min-width: 600px) {
  /* line 367, ../sass/pages.scss */
  .section-research-resources .view-grouping-content {
    display: block !important;
  }
}
@media (max-width: 600px) {
  /* line 373, ../sass/pages.scss */
  header {
    background: #2482c8;
    height: 30px;
  }

  /* line 378, ../sass/pages.scss */
  .general-two-col .general-left, .general-two-col .general-right {
    width: 100%;
    clear: both;
  }

  /* line 383, ../sass/pages.scss */
  .logo a {
    width: 88px;
    margin-bottom: -49px;
  }

  /* line 387, ../sass/pages.scss */
  .content-wrapper, .footer-wrapper {
    width: 96%;
    padding: 0 2%;
  }

  /* line 391, ../sass/pages.scss */
  .frontpage-right, .frontpage-left-col {
    width: 100%;
    clear: both;
  }

  /* line 396, ../sass/pages.scss */
  .general-right {
    margin-top: 30px;
  }

  /* line 400, ../sass/pages.scss */
  .general-right .inside {
    border: none;
    padding: 0;
    width: 100%;
  }

  /* line 406, ../sass/pages.scss */
  footer.region-footer {
    padding-bottom: 70px;
    background-position: bottom left;
  }

  /* line 410, ../sass/pages.scss */
  footer .footer-info {
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  /* line 419, ../sass/pages.scss */
  .rowonecoltwo ul,
  .rowonecolthree ul,
  .rowtwocolone ul,
  .rowtwocoltwo ul,
  .rowtwocolthree ul {
    min-height: 0;
  }
}
