/* Grids */
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

.frontpage-left-col {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.frontpage-right {
  float: left;
  width: 75%;
  margin-left: 25%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.frontpage-help-market {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.frontpage-security-contacts {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.general-two-col .general-left {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.general-two-col .general-right {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.rowonecolone,
.rowtwocolone {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.rowonecoltwo,
.rowtwocoltwo {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.rowonecolthree,
.rowtwocolthree {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.frontpage-middle-col {
  float: left;
  width: 55.55556%;
  margin-left: 0%;
  margin-right: -55.55556%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

.frontpage-right-col {
  float: left;
  width: 44.44444%;
  margin-left: 55.55556%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media (min-width: 901px) {
  .frontpage-left-col {
    padding-left: 0;
    padding-right: 2.5%;
  }

  .frontpage-right {
    padding-left: 0;
    padding-right: 0;
  }
  .frontpage-right .frontpage-middle-col {
    width: 58.05556%;
    padding-left: 0;
    padding-right: 3.33%;
    margin-right: -58.05556%;
  }
  .frontpage-right .frontpage-right-col {
    width: 41.94444%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 58.05556%;
  }
}
.lt-ie9 .frontpage-left-col {
  padding-left: 0;
  padding-right: 2.5%;
}
.lt-ie9 .frontpage-right {
  padding-left: 0;
  padding-right: 0;
}
.lt-ie9 .frontpage-right .frontpage-middle-col {
  width: 58.05556%;
  padding-left: 0;
  padding-right: 3.33%;
  margin-right: -58.05556%;
}
.lt-ie9 .frontpage-right .frontpage-right-col {
  width: 41.94444%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 58.05556%;
}

@media (max-width: 900px) {
  .frontpage-left-col {
    float: left;
    width: 55.55556%;
    margin-left: 0%;
    margin-right: -55.55556%;
    padding-left: 1%;
    padding-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .frontpage-right {
    float: left;
    width: 77.77778%;
    margin-left: 55.55556%;
    margin-right: -133.33333%;
    padding-left: 1%;
    padding-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .frontpage-middle-col,
  .frontpage-right-col,
  .frontpage-help-market,
  .frontpage-security-contacts {
    float: left;
    width: 133.33333%;
    margin-left: 0%;
    margin-right: -133.33333%;
    padding-left: 1%;
    padding-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }

  .staff-top {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 1%;
    padding-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .rowonecolone,
  .rowonecolthree,
  .rowtwocoltwo {
    float: left;
    width: 55.55556%;
    margin-left: 0%;
    margin-right: -55.55556%;
    padding-left: 1%;
    padding-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .rowonecoltwo,
  .rowtwocolone,
  .rowtwocolthree {
    float: left;
    width: 55.55556%;
    margin-left: 55.55556%;
    margin-right: -111.11111%;
    padding-left: 1%;
    padding-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media (max-width: 620px) {
  .frontpage-left-col,
  .frontpage-right,
  .frontpage-middle-col,
  .frontpage-right-col,
  .general-two-col .general-left,
  .general-two-col .general-right,
  .staff-top {
    float: left;
    width: 55.55556%;
    margin-left: 0%;
    margin-right: -55.55556%;
    padding-left: 1%;
    padding-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }

  .frontpage-right .frontpage-middle-col,
  .frontpage-right .frontpage-right-col,
  .frontpage-right .frontpage-security-contacts {
    padding-left: 0;
    padding-right: 0;
  }
}
/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
  font-size: 14px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
.header-wrapper, #content, .footer-inner {
  width: 100%;
  max-width: 1432px;
  margin: auto;
}

header, .content-wrapper, .footer-wrapper {
  width: 98%;
  padding: 0 1%;
}

.not-front #content {
  width: 100%;
  max-width: 1432px;
  padding: 80px 0 32px;
  margin: auto;
  background: #fbf9f9;
}

.lt-ie9 .not-front #content > * {
  padding: 0 32px;
}

@media (max-width: 1447px) {
  .frontpage-links ul.menu li a {
    height: 30px;
  }
}
@media (max-width: 970px) {
  .frontpage-links ul.menu li a {
    font-size: 11px;
  }
}
@media (min-width: 900px) {
  .not-front #content > * {
    padding: 0 32px;
  }
}
.grippie {
  display: none;
}

#skip-link {
  margin: 0;
}

a {
  color: #20659A;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
  outline: 0;
}

/*
 * Header
 */
.logo a {
  display: block;
  max-width: 148px;
  min-width: 88px;
  width: auto;
  margin: auto;
  margin-bottom: -55px;
}

#name-and-slogan {
  display: none;
}

.region-header {
  float: right;
}
.region-header .block {
  float: left;
}

.front #page-title {
  display: none;
}
.front #main {
  display: block;
  margin-top: 20px;
}

#block-boxes-web-search,
#block-boxes-search-people {
  width: 48.5%;
  background: #fff;
  height: 24px;
  margin-top: 12px;
  float: right;
  clear: right;
  max-width: 255px;
}
#block-boxes-web-search label,
#block-boxes-search-people label {
  display: none;
}
#block-boxes-web-search form,
#block-boxes-search-people form {
  position: relative;
  height: 24px;
  width: 100%;
  overflow: hidden;
}
#block-boxes-web-search input,
#block-boxes-search-people input {
  border: none;
  background: transparent;
  outline: none;
  height: 24px;
  font-size: 0.85em;
  color: #535353;
}
#block-boxes-web-search input[type="text"],
#block-boxes-search-people input[type="text"] {
  padding: 0 0 0 7px;
  max-width: 100%;
  min-width: 80%;
  width: auto;
  line-height: 24px;
}
#block-boxes-web-search input[type="image"],
#block-boxes-search-people input[type="image"] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
#block-boxes-web-search .search-button,
#block-boxes-search-people .search-button {
  width: 26px;
  height: 22px;
  margin: 1px;
  float: right;
}
.front #block-boxes-web-search, .front
#block-boxes-search-people {
  background: #ebebeb;
}

#people_search {
  position: relative;
}
#people_search label {
  display: none;
}

.search-label {
  position: absolute;
  top: 0;
  left: 7px;
  font-weight: normal;
  line-height: 24px;
  font-size: 13px;
  color: #555;
}

#block-boxes-web-search input[type="text"] {
  color: #666;
  text-transform: none;
  position: relative;
}

#block-boxes-search-people {
  position: relative;
  clear: none;
}
#block-boxes-search-people .searchbutton {
  position: absolute;
  bottom: 1px;
  right: 1px;
  background: #2582CA;
  color: #F2F2F2;
  padding: 0;
  font-size: 11px;
  text-transform: uppercase;
  width: 26px;
  height: 22px;
}
#block-boxes-search-people .advanced-search {
  display: none;
}

/*
 * Content
 */
.general-left ul li a {
  font-size: 13px;
}
.general-left .item-list ul {
  padding-bottom: 10px;
}
.general-left .item-list ul li,
.general-left .item-list ol li {
  padding: 3px 0 3px 11px;
  margin: 0;
  font-size: 12px;
  clear: both;
  display: block;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}
.general-left .views-row {
  padding: 5px 0 5px 11px;
  margin: 0;
  font-size: 14px;
  clear: both;
  display: block;
  background: url("../images/list-dot.png") no-repeat 0 12px;
}

.right-block h2, .right-block h3 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  line-height: normal;
  padding: 0 0 2px 0;
}
.right-block .pane-content,
.right-block .view-related-resources,
.right-block ul {
  border: 1px dashed #b4c2cb;
  border-top: 2px solid #988055;
  background: #f5f5f5;
  padding: 13px 8% 20px;
  font-size: 11px;
}

.staff-main .right-block .pane-content .view-content ul {
  border: 1px dashed #b4c2cb;
  border-top: 2px solid #988055;
  background: #f5f5f5;
  padding: 13px 8% 20px;
  font-size: 11px;
}

.right-block .views-row {
  padding: 4px 0 4px 10px;
  display: block;
  background: url("../images/right-list-arrow.jpg") no-repeat 0 9px;
}

.right-block .views-row a {
  font-weight: bold;
  padding-right: 15px;
  padding-left: 3px;
  background: url("../images/right-list-icon.png") no-repeat right 2px;
}

.not-front #page-title {
  margin-top: 7px;
  font-size: 24px;
  color: #46494B;
}

.not-front .general-left {
  padding-left: 0 !important;
  padding-right: 2% !important;
}

.not-front .general-right {
  padding-left: 2% !important;
  padding-right: 0 !important;
}

.general-right .inside {
  border-left: 4px solid #d1d0d0;
  padding: 0 0 0 13%;
  overflow: hidden;
}
.general-right .right-block p {
  margin: 30px 0 10px;
}
.general-right .right-block p:first-child {
  margin: 0 0 10px;
}
.general-right .pane-boxes-feedback {
  width: 98%;
  padding: 0;
  float: none;
  margin: 30px auto auto;
  border: 1px dashed #b1c2ca;
}
.general-right .pane-boxes-feedback a.submit-feedback {
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
  -ms-box-shadow: 0px 0px 0px 0px transparent;
  -o-box-shadow: 0px 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px 0px transparent;
  width: auto;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px  7px;
  padding: 5px 0;
  height: auto;
}

.rowonecoltwo ul,
.rowonecolthree ul {
  min-height: 311px;
}

.rowtwocolone ul,
.rowtwocoltwo ul,
.rowtwocolthree ul {
  min-height: 165px;
}

/*
 * Footer
 */
.footer-wrapper {
  background: #DADADA;
  margin: 0;
  overflow: hidden;
}

.region-footer {
  padding-bottom: 14px;
  overflow: hidden;
  background: transparent;
  float: left;
  width: 70%;
}

.footer-info {
  width: 57%;
  border-bottom: 2px solid #b4b4b5;
  color: #4d4c4d;
  font-size: 12px;
  line-height: 18px;
  padding: 14px 0 6px;
}

.footer-logos {
  width: 30%;
  max-width: 279px;
  float: right;
}
.footer-logos a {
  float: right;
  width: 27%;
  margin: 22px 4% 0 0;
}
.footer-logos a:first-child {
  width: 65%;
}

.footer-logos.mobile {
  display: none;
}

footer .block-menu {
  padding-top: 9px;
  float: left;
}
footer .block-menu h2 {
  display: none;
}
footer .block-menu li {
  float: left;
  font-size: 11px;
  padding-left: 7px;
  background: url("../images/list-dot.png") no-repeat left;
  margin-right: 25px;
}

.section-thankyou .title {
  margin-left: 0.7%;
  width: 99.3%;
  margin-bottom: 5px;
}
.section-thankyou p {
  margin: 0;
}
.section-thankyou #content .general-left {
  padding-bottom: 20px;
  border-bottom: 1px dashed #b1c2ca;
}
.section-thankyou #content .general-right .inside {
  padding: 0 0 0 13%;
  margin: 0 !important;
}

#mobile-menu-wrap {
  display: none;
}

.not-front.section-staff-resources #content > div {
  max-width: 900px;
  width: auto;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .logo {
    width: auto;
    float: left;
    margin-left: 5%;
  }

  .frontpage-links,
  .frontpage-projects,
  .frontpage-help-market,
  .pane-boxes-stanford-compliance,
  .frontpage-weather {
    display: none;
  }

  .region-footer {
    width: 100%;
  }

  .footer-wrapper {
    background: #9A9A9A;
    margin-bottom: 0;
  }
  .footer-wrapper .footer-logos {
    display: none;
  }
  .footer-wrapper .footer-logos.mobile {
    display: block;
    clear: both;
    float: left;
    width: 100%;
    padding-bottom: 70px;
  }
  .footer-wrapper .footer-logos.mobile a {
    margin-top: 0;
    width: auto;
  }

  .footer-info {
    border-bottom-color: #fff;
    width: 60%;
    color: #fff;
  }

  .region-footer a {
    color: #fff;
  }

  footer .block-menu li {
    background: url("../images/list-white-dot.jpeg") no-repeat left;
  }

  .rowonecoltwo ul {
    min-height: 298px;
  }

  .rowonecolthree ul {
    min-height: 0;
  }

  .rowtwocolone ul {
    min-height: 88px;
  }

  .frontpage-left-col {
    margin-top: 0px;
  }

  .front #main {
    margin-top: 80px;
  }

  .not-front.section-staff-resources #content {
    background-color: transparent;
  }
  .not-front.section-feedback #content {
    background-color: #fff;
  }
  .not-front #content {
    padding-top: 50px;
  }
  .not-front #content > div,
  .not-front #content > article {
    width: 94%;
    margin: 0 3%;
  }
  .not-front #content > #page-title {
    margin-left: 3%;
  }
}
@media (max-width: 800px) {
  /*  .section-research-resources .general-two-col,
    .section-a-z .general-two-col{
      .general-left{
        width: 100%;
        margin-right: 0;
      }
      .general-right{
        display: none;
      }
    }*/
  #block-system-main-menu .menu li {
    background: none;
    padding: 0 5px;
    font-size: 8px;
  }

  .section-thankyou #content .general-right {
    display: none;
  }

  .not-front .general-left {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }

  .not-front .general-right {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
}
@media (min-width: 620px) {
  .section-research-resources .view-grouping-content {
    display: block !important;
  }
}
@media (max-width: 620px) {
  #block-boxes-web-search,
  #block-boxes-search-people {
    display: none;
    margin-top: 0;
  }

  .frontpage-right-col {
    margin-top: 15px;
  }

  .frontpage-security-contacts {
    margin-top: -12px;
  }

  .not-front #content {
    background-color: transparent;
    padding-top: 50px;
  }

  .not-front.section-feedback #content {
    background-color: transparent;
  }
  .not-front.section-feedback #edit-actions {
    float: none;
  }

  .frontpage-right {
    float: none;
    overflow: hidden;
  }

  header {
    background: #2482c8;
    height: 30px;
  }

  .general-two-col .general-left, .general-two-col .general-right {
    width: 100%;
    clear: both;
  }

  .logo a {
    width: 88px;
    margin-bottom: -49px;
  }

  .content-wrapper, .footer-wrapper {
    width: 96%;
    padding: 0 2%;
  }

  .general-right {
    margin-top: 30px;
  }

  .general-right .inside {
    border: none;
    padding: 0;
    width: 100%;
  }

  footer .footer-info {
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  .rowonecoltwo ul,
  .rowonecolthree ul,
  .rowtwocolone ul,
  .rowtwocoltwo ul,
  .rowtwocolthree ul {
    min-height: 0;
  }

  .region-header .block-menu,
  .region-header #block-boxes-web-search {
    display: inline-block;
    width: 90px;
    clear: right;
    height: 30px;
    background: url("../images/menu-button.png") no-repeat center 0;
    cursor: pointer;
    float: none !important;
  }
  .region-header #block-boxes-web-search {
    width: 40px;
    margin-left: 0;
    margin-right: 10px;
    background: url("../images/small-screen-search.png") no-repeat center 0;
  }
  .region-header > .block div, .region-header > .block ul {
    display: none;
  }

  .not-front #content > div,
  .not-front #content > article {
    width: 100%;
    margin: 0;
  }
  .not-front #content > #page-title {
    margin-left: 0;
  }

  /* mobile menu */
  #mobile-menu-wrap {
    display: block;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 33px;
  }
  .mobile-menu li {
    width: 75%;
    padding: 0 12.5%;
    border-bottom: 3px solid #ffffff;
    background-color: #e9f2f9;
    background-image: url(../images/mobile-menu-arrow.png);
    background-repeat: no-repeat;
    background-position: 10% center;
  }
  .mobile-menu li.last {
    border-bottom: none;
  }
  .mobile-menu li a {
    padding-left: 14px;
    text-decoration: none;
  }

  .mobile-search {
    display: block;
    height: 54px;
    padding: 3px;
    margin: 50px 10px -20px;
    background-color: #b8d6ee;
  }
  .mobile-search form {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent !important;
  }
  .mobile-search #searchbox {
    width: 85%;
    border: none;
    height: 26px;
    padding: 0 12.5% 0 2.5%;
    margin-bottom: 8px;
    background-color: #ffffff;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    color: #828282;
  }
  .mobile-search #search-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 26px;
    width: 26px;
    background: #b8d6ee url("../images/small-search-icon.jpg") no-repeat center right;
  }
  .mobile-search input[type="radio"],
  .mobile-search label {
    padding: 0;
    margin: 0;
    float: left;
    height: 30px;
    line-height: 30px;
  }
  .mobile-search input[type="radio"] {
    width: auto;
    margin: 0 10px;
  }
  .mobile-search label {
    width: 50px;
    font-size: 12px;
    color: #828282;
    display: block !important;
  }
  .mobile-search .search-label {
    display: none !important;
  }
  .mobile-search #people {
    clear: both;
  }
  .mobile-search .searchbox {
    width: 80%;
    padding: 0 2%;
    float: left;
  }

  .maintenance-page div#main {
    margin-top: 120px;
  }
}
@media (max-width: 280px) {
  .region-header .block-menu,
  .region-header #block-boxes-web-search {
    width: 80px;
  }
  .region-header #block-boxes-web-search {
    width: 30px;
    margin-right: 0;
  }
}
/* Alpha pagers */
.view-alphapager {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dashed grey;
}

.alpha-pager-item {
  float: left;
  width: 20px;
  margin-right: 7.5px;
  margin-bottom: 7.5px;
  text-align: center;
}
.alpha-pager-item span {
  display: block;
  font-size: 12px;
}
.alpha-pager-item a {
  display: block;
  padding: 0 !important;
  font-size: 1em;
}

.maintenance-page #header {
  max-width: 1432px;
  margin: auto;
  width: 98%;
}
.maintenance-page #page {
  background: url("../images/header-bg.jpg") repeat-x;
}
.maintenance-page #main {
  margin: 80px 1.5% 0;
  width: 97%;
}
.maintenance-page #mobile-menu-wrap {
  display: none;
}

.boxes-box-controls {
  display: none;
}
