/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 29, ../sass/pages.scss */
.header-wrapper, #content, .region-footer {
  width: 100%;
  max-width: 1432px;
  margin: auto;
}

/* line 35, ../sass/pages.scss */
header, .content-wrapper, .footer-wrapper {
  width: 98%;
  padding: 0 1%;
}

/* line 40, ../sass/pages.scss */
.not-front #content {
  background: #fbf9f9;
  width: 96%;
  padding: 100px 2% 32px;
}

/* line 46, ../sass/pages.scss */
.grippie {
  display: none;
}

/* line 50, ../sass/pages.scss */
#skip-link {
  margin: 0;
}

/* line 54, ../sass/pages.scss */
a {
  color: #20659A;
  text-decoration: none;
}
/* line 58, ../sass/pages.scss */
a:hover, a:active {
  text-decoration: underline;
  outline: 0;
}

/*
 * Header
 */
/* line 68, ../sass/pages.scss */
header {
  background: url("../images/header-bg.jpg") repeat-x;
  height: 74px;
}

/* line 73, ../sass/pages.scss */
.logo {
  width: 23%;
  float: left;
}
/* line 76, ../sass/pages.scss */
.logo a {
  display: block;
  max-width: 148px;
  width: 100%;
  margin: auto;
  margin-bottom: -55px;
}

/* line 85, ../sass/pages.scss */
#name-and-slogan {
  display: none;
}

/* line 89, ../sass/pages.scss */
.region-header {
  float: right;
}
/* line 91, ../sass/pages.scss */
.region-header .block {
  float: left;
}

/* line 97, ../sass/pages.scss */
.front #page-title {
  display: none;
}
/* line 100, ../sass/pages.scss */
.front #main {
  display: block;
  margin-top: 20px;
}

/* line 106, ../sass/pages.scss */
.frontpage-right, .frontpage-left-col {
  margin-bottom: 32px;
}

/* line 110, ../sass/pages.scss */
.frontpage-left-col {
  margin-top: 70px;
}

/* Header Main Menu, Search*/
/* line 116, ../sass/pages.scss */
#block-system-main-menu .menu li {
  height: 25px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 10px;
  list-style-type: none;
  list-style-image: none;
  float: left;
  padding: 0 13px;
  background: url("../images/delimitator.jpg") no-repeat 0 center;
}
/* line 126, ../sass/pages.scss */
#block-system-main-menu .menu li.first {
  display: none;
}
/* line 129, ../sass/pages.scss */
#block-system-main-menu .menu li.last {
  background: transparent;
}
/* line 132, ../sass/pages.scss */
#block-system-main-menu .menu li a {
  color: #f4f4f4;
  text-decoration: none;
}

/* line 138, ../sass/pages.scss */
#block-boxes-web-search {
  clear: both;
  float: right;
}

/* line 143, ../sass/pages.scss */
.header-search {
  position: relative;
  background: #ebebeb;
  overflow: hidden;
  padding: 0 0 0 7px;
  height: 24px;
  width: 256px;
  margin-top: 12px;
}
/* line 151, ../sass/pages.scss */
.header-search input {
  float: left;
  border: none;
  background: none;
  outline: none;
  height: 24px;
  line-height: 24px;
  width: 228px;
  font-size: 12px;
  color: #535353;
}
/* line 162, ../sass/pages.scss */
.header-search .search-button {
  width: 26px;
  height: 22px;
  margin: 1px;
}

/*
 * Content
 */
/* line 174, ../sass/pages.scss */
.frontpage-links .pane-title {
  display: none;
}
/* line 177, ../sass/pages.scss */
.frontpage-links .brown-bodered-white {
  margin-top: 0;
}

/* line 182, ../sass/pages.scss */
.frontpage-people-finder .brown-bodered-white {
  margin-top: 0;
}

/* line 187, ../sass/pages.scss */
.general-left ul li a {
  font-size: 13px;
}
/* line 191, ../sass/pages.scss */
.general-left .item-list ul {
  padding-bottom: 10px;
}
/* line 193, ../sass/pages.scss */
.general-left .item-list ul li {
  padding: 2px 0 2px 11px;
  margin: 0;
  font-size: 12px;
  clear: both;
  display: block;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}
/* line 202, ../sass/pages.scss */
.general-left .item-list ol li {
  padding: 2px 0 2px 11px;
  margin: 0;
  font-size: 12px;
  clear: both;
  display: block;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}
/* line 211, ../sass/pages.scss */
.general-left .views-row {
  padding: 2px 0 2px 11px;
  margin: 0;
  font-size: 12px;
  clear: both;
  display: block;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}

/* line 222, ../sass/pages.scss */
.right-block h2, .right-block h3 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  line-height: normal;
  padding: 0 0 2px 0;
}
/* line 229, ../sass/pages.scss */
.right-block .pane-content {
  border: 1px dashed #b4c2cb;
  border-top: 2px solid #988055;
  background: #f5f5f5;
  padding: 13px 8% 20px;
  font-size: 11px;
}

/* line 238, ../sass/pages.scss */
.staff-main .right-block .pane-content .view-content ul {
  border: 1px dashed #b4c2cb;
  border-top: 2px solid #988055;
  background: #f5f5f5;
  padding: 13px 8% 20px;
  font-size: 11px;
}

/* line 246, ../sass/pages.scss */
.right-block .views-row, .pane-quicktabs-staff-resources .quicktabs_main ul li a {
  padding: 4px 0 4px 13px;
  display: block;
  background: url("../images/right-list-arrow.jpg") no-repeat 0 9px;
}

/* line 252, ../sass/pages.scss */
.right-block .views-row a {
  font-weight: bold;
  padding-right: 15px;
  background: url("../images/right-list-icon.png") no-repeat right 2px;
}

/* line 258, ../sass/pages.scss */
.not-front #page-title {
  font-size: 20px;
  margin: 0 0 7px 0;
}

/* line 264, ../sass/pages.scss */
.general-right .inside {
  border-left: 4px solid #d1d0d0;
  padding: 0 0 0 13%;
  overflow: hidden;
}
/* line 269, ../sass/pages.scss */
.general-right .right-block p {
  margin: 30px 0 10px;
}
/* line 271, ../sass/pages.scss */
.general-right .right-block p:first-child {
  margin: 0 0 10px;
}
/* line 275, ../sass/pages.scss */
.general-right .pane-boxes-feedback {
  width: 98%;
  padding: 0;
  float: none;
  margin: 30px auto auto;
  border: 1px dotted #b1c2ca;
}
/* line 281, ../sass/pages.scss */
.general-right .pane-boxes-feedback a.submit-feedback {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  width: auto;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px  7px;
  padding: 5px 0;
  height: auto;
}

/* line 294, ../sass/pages.scss */
.rowonecoltwo ul {
  min-height: 296px;
}

/* line 298, ../sass/pages.scss */
.rowonecolthree ul {
  min-height: 310px;
}

/* line 304, ../sass/pages.scss */
.rowtwocolone ul,
.rowtwocoltwo ul,
.rowtwocolthree ul {
  min-height: 165px;
}

/*
 * Footer
 */
/* line 313, ../sass/pages.scss */
.footer-wrapper {
  background: #DADADA;
  margin: 0 0 22px;
}

/* line 318, ../sass/pages.scss */
.region-footer {
  padding-bottom: 14px;
  overflow: hidden;
  background: url("../images/footer-logos.jpg") no-repeat right center;
}

/* line 324, ../sass/pages.scss */
.footer-info {
  width: 40%;
  border-bottom: 2px solid #b4b4b5;
  color: #4d4c4d;
  font-size: 12px;
  line-height: 18px;
  padding: 14px 0 6px;
}

/* line 333, ../sass/pages.scss */
footer .block-menu {
  padding-top: 9px;
  float: left;
}
/* line 336, ../sass/pages.scss */
footer .block-menu h2 {
  display: none;
}
/* line 339, ../sass/pages.scss */
footer .block-menu li {
  float: left;
  font-size: 11px;
  padding-left: 7px;
  background: url("../images/list-dot.png") no-repeat left;
  margin-right: 25px;
}

@media (max-width: 900px) {
  /* line 349, ../sass/pages.scss */
  .logo {
    width: auto;
    float: left;
    margin-left: 5%;
  }

  /* line 355, ../sass/pages.scss */
  .frontpage-right-col, .frontpage-middle-col, .frontpage-help-market, .frontpage-security-contacts {
    width: 100%;
    clear: both;
  }

  /* line 359, ../sass/pages.scss */
  .frontpage-links, .frontpage-projects, .frontpage-help-market, .pane-boxes-stanford-compliance {
    display: none;
  }

  /* line 363, ../sass/pages.scss */
  .footer-wrapper {
    background: #979797;
    margin-bottom: 0;
  }

  /* line 367, ../sass/pages.scss */
  .region-footer {
    background: url("../images/small-footer-logos.jpg") no-repeat right center;
  }

  /* line 370, ../sass/pages.scss */
  .footer-info {
    border-bottom-color: #fff;
    width: 60%;
    color: #fff;
  }

  /* line 375, ../sass/pages.scss */
  .region-footer a {
    color: #fff;
  }

  /* line 378, ../sass/pages.scss */
  footer .block-menu li {
    background: url("../images/list-white-dot.jpeg") no-repeat left;
  }

  /* line 382, ../sass/pages.scss */
  .rowonecoltwo ul {
    min-height: 312px;
  }

  /* line 386, ../sass/pages.scss */
  .rowonecolthree ul {
    min-height: 0;
  }

  /* line 390, ../sass/pages.scss */
  .rowtwocolone ul {
    min-height: 240px;
  }

  /* line 394, ../sass/pages.scss */
  .frontpage-left-col {
    margin-top: 0px;
  }

  /* line 398, ../sass/pages.scss */
  .front #main {
    margin-top: 80px;
  }
}
@media (max-width: 770px) {
  /* line 404, ../sass/pages.scss */
  #block-system-main-menu .menu li {
    background: none;
    padding: 0 5px;
    font-size: 8px;
  }
}
@media (min-width: 600px) {
  /* line 412, ../sass/pages.scss */
  .section-research-resources .view-grouping-content {
    display: block !important;
  }
}
@media (max-width: 600px) {
  /* line 418, ../sass/pages.scss */
  header {
    background: #2482c8;
    height: 30px;
  }

  /* line 423, ../sass/pages.scss */
  .general-two-col .general-left, .general-two-col .general-right {
    width: 100%;
    clear: both;
  }

  /* line 428, ../sass/pages.scss */
  .logo a {
    width: 88px;
    margin-bottom: -49px;
  }

  /* line 432, ../sass/pages.scss */
  .content-wrapper, .footer-wrapper {
    width: 96%;
    padding: 0 2%;
  }

  /* line 436, ../sass/pages.scss */
  .frontpage-right, .frontpage-left-col {
    width: 100%;
    clear: both;
  }

  /* line 441, ../sass/pages.scss */
  .general-right {
    margin-top: 30px;
  }

  /* line 445, ../sass/pages.scss */
  .general-right .inside {
    border: none;
    padding: 0;
    width: 100%;
  }

  /* line 451, ../sass/pages.scss */
  footer.region-footer {
    padding-bottom: 70px;
    background-position: bottom left;
  }

  /* line 455, ../sass/pages.scss */
  footer .footer-info {
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  /* line 464, ../sass/pages.scss */
  .rowonecoltwo ul,
  .rowonecolthree ul,
  .rowtwocolone ul,
  .rowtwocoltwo ul,
  .rowtwocolthree ul {
    min-height: 0;
  }

  /* line 470, ../sass/pages.scss */
  .region-header .block-menu,
  .region-header #block-boxes-web-search {
    width: 90px;
    clear: none;
    height: 30px;
    background: url("../images/menu-button.png") no-repeat center 0;
    cursor: pointer;
  }
  /* line 477, ../sass/pages.scss */
  .region-header #block-boxes-web-search {
    width: 40px;
    background: url("../images/small-screen-search.png") no-repeat center 0;
  }
  /* line 482, ../sass/pages.scss */
  .region-header > .block div, .region-header > .block ul {
    display: none;
  }
}
