/* line 4, ../sass/research-page.scss */
.section-research-resources .view-grouping-header {
  margin: 40px auto auto;
  max-width: 855px;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #575B5C;
}
/* line 12, ../sass/research-page.scss */
.section-research-resources .view-grouping-content {
  background: #f6f6f6;
  border: 1px solid #c3c5c5;
  border-top-width: 3px;
  max-width: 775px;
  width: 92%;
  padding: 12px 4% 0;
  margin: auto;
}
/* line 21, ../sass/research-page.scss */
.section-research-resources .view-content > .view-grouping:first-child {
  margin-top: 0;
}
/* line 25, ../sass/research-page.scss */
.section-research-resources .view-grouping-content h3 {
  font-size: 12px;
  margin: 15px 0;
  color: #000;
}
/* line 30, ../sass/research-page.scss */
.section-research-resources .view-grouping-content .item-list li a {
  font-size: 12px;
}
/* line 32, ../sass/research-page.scss */
.section-research-resources .view-grouping-content .item-list li a.Yes {
  padding-right: 15px;
  background: url("../images/right-list-icon.png") no-repeat right 2px;
}
/* line 39, ../sass/research-page.scss */
.section-research-resources .pane-node-body {
  font-size: 14px;
}
/* line 41, ../sass/research-page.scss */
.section-research-resources .pane-node-body strong {
  clear: both;
  display: block;
  padding: 20px 0 15px;
}
/* line 47, ../sass/research-page.scss */
.section-research-resources .view-header {
  padding-bottom: 27px;
  border-bottom: 1px dashed #b1c2ca;
}

/* line 53, ../sass/research-page.scss */
.section-staff-resources-classic .view-header {
  padding-bottom: 27px;
  border-bottom: 1px dashed #b4c2cb;
}

/* line 59, ../sass/research-page.scss */
.section-research-resources #page-title {
  margin-left: 0.9%;
}
/* line 63, ../sass/research-page.scss */
.section-research-resources .view-header .view-content {
  max-width: 857px;
  width: 100%;
  margin: auto;
}
/* line 68, ../sass/research-page.scss */
.section-research-resources .view-header .views-row a {
  font-size: 14px;
}
/* line 72, ../sass/research-page.scss */
.section-research-resources .collapse {
  display: none;
}
/* line 75, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content {
  padding: 30px;
  padding-top: 0;
}
/* line 79, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content .views-field-name a {
  color: #47484b;
  text-transform: uppercase;
}
/* line 84, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li {
  margin-top: 20px;
  background: transparent;
}
/* line 87, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li .item-list {
  padding-left: 30px;
  background-color: #f5f5f5;
  border: 1px solid #d1d0d0;
  border-top: 3px solid #d1d0d0;
}
/* line 92, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li .item-list a {
  line-height: 1em;
  text-transform: inherit;
  font-weight: bold;
}
/* line 98, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li ul .views-field-name {
  padding-bottom: 10px;
}
/* line 101, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li ul .item-list {
  background: transparent;
  border: 0;
}
/* line 104, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li ul .item-list li {
  margin-top: 0;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}
/* line 108, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li ul .item-list a {
  line-height: 1em;
  color: #20659A !important;
  text-transform: inherit;
  font-weight: normal;
}
/* line 114, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li ul .item-list ul .views-field-name {
  padding-bottom: 0;
}
/* line 119, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li.no-children .item-list {
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 122, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li.no-children .item-list li {
  margin-top: 0;
  background: url("../images/list-dot.png") no-repeat 0 9px;
}
/* line 126, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li.no-children .item-list a {
  line-height: 1em;
  color: #20659A !important;
  text-transform: inherit;
  font-weight: normal;
}
/* line 132, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-content li.no-children .item-list ul .views-field-name {
  padding-bottom: 0;
}
/* line 137, ../sass/research-page.scss */
.section-research-resources .view-id-research_resource .view-header .view-content {
  padding: 0 0 0 30px;
}

@media (max-width: 600px) {
  /* Resources Page */
  /* line 147, ../sass/research-page.scss */
  .section-research-resources #block-boxes-search-people {
    display: none;
  }
  /* line 150, ../sass/research-page.scss */
  .section-research-resources #content {
    background: transparent;
  }
  /* line 153, ../sass/research-page.scss */
  .section-research-resources .view-header {
    display: none;
    background-image: url("../images/dotted-heavy-gray-bg.png");
  }
  /* line 157, ../sass/research-page.scss */
  .section-research-resources .pane-node-body strong, .section-research-resources .view-header .view-content {
    display: none;
  }
  /* line 160, ../sass/research-page.scss */
  .section-research-resources .pane-node-body p {
    margin-bottom: 0;
  }
  /* line 164, ../sass/research-page.scss */
  .section-research-resources .view-content > .view-grouping:first-child {
    margin-top: 19px;
  }
  /* line 167, ../sass/research-page.scss */
  .section-research-resources .view-content .view-grouping-header {
    height: 16px;
    background: white url("../images/small-list-arrow-down.jpg") no-repeat right center;
    max-width: 705px;
    margin: 5px auto auto;
    color: #20669a;
    font-weight: bold;
    width: 95%;
    padding: 9px 0 9px 5%;
  }
  /* line 176, ../sass/research-page.scss */
  .section-research-resources .view-content .view-grouping-header.expanded {
    background-image: url("../images/small-list-arrow-up.jpg");
  }
  /* line 181, ../sass/research-page.scss */
  .section-research-resources .view-grouping-content {
    background: #fff;
    border: none;
    overflow: hidden;
    padding: 0;
    width: 100%;
    display: none;
  }
  /* line 188, ../sass/research-page.scss */
  .section-research-resources .view-grouping-content .item-list {
    max-width: 705px;
    width: 85%;
    padding: 9px 5% 9px 10%;
  }
  /* line 194, ../sass/research-page.scss */
  .section-research-resources .item-list ul {
    width: 100%;
  }
  /* line 196, ../sass/research-page.scss */
  .section-research-resources .item-list ul li {
    background: url("../images/blue-right-list-arrow.jpg") no-repeat left 7px;
  }
  /* line 200, ../sass/research-page.scss */
  .section-research-resources .view-grouping-content h3 {
    margin: 5px 0 0;
  }
  /* line 203, ../sass/research-page.scss */
  .section-research-resources .collapse {
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: right;
    width: 100%;
    font-weight: bold;
    background: #ecf5fa;
    color: #20659A;
  }
  /* line 212, ../sass/research-page.scss */
  .section-research-resources .collapse img {
    margin-left: 20px;
  }
}
/* line 219, ../sass/research-page.scss */
.section-research-resources .view-grouping-header {
  margin: 40px auto auto;
  max-width: 855px;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #575B5C;
}

/* line 227, ../sass/research-page.scss */
.section-research-resources .view-grouping-content {
  background: #f6f6f6;
  border: 1px solid #c3c5c5;
  border-top-width: 3px;
  max-width: 775px;
  width: 92%;
  padding: 12px 4% 0;
  margin: auto;
}

/* line 236, ../sass/research-page.scss */
.section-research-resources .view-content > .view-grouping:first-child {
  margin-top: 0;
}

/* line 240, ../sass/research-page.scss */
.section-research-resources .view-grouping-content h3 {
  font-size: 12px;
  margin: 15px 0;
  color: #000;
}

/* line 245, ../sass/research-page.scss */
.section-research-resources .view-grouping-content .item-list li a {
  font-size: 12px;
}

/* line 249, ../sass/research-page.scss */
.section-research-resources .pane-node-body {
  font-size: 14px;
}

/* line 253, ../sass/research-page.scss */
.section-research-resources .pane-node-body strong {
  clear: both;
  display: block;
  padding: 20px 0 15px;
}

/* line 258, ../sass/research-page.scss */
.section-research-resources .view-header {
  padding-bottom: 27px;
  border-bottom: 1px dashed #b1c2ca;
}

/* line 264, ../sass/research-page.scss */
.Yes {
  padding-right: 15px;
  background: url("../images/right-list-icon.png") no-repeat right 2px;
}

@media (max-width: 600px) {
  /* line 271, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
  }
  /* line 276, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content {
    padding: 0;
  }
  /* line 278, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li, .section-research-resources .view-id-research_resource .view-content li.no-children {
    margin-top: 5px;
    background-color: #fff;
  }
  /* line 281, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li .item-list, .section-research-resources .view-id-research_resource .view-content li.no-children .item-list {
    height: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    overflow: hidden;
  }
  /* line 287, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li .item-list li, .section-research-resources .view-id-research_resource .view-content li.no-children .item-list li {
    margin-top: 0;
  }
  /* line 290, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li .item-list li, .section-research-resources .view-id-research_resource .view-content li .item-list li li, .section-research-resources .view-id-research_resource .view-content li.no-children .item-list li, .section-research-resources .view-id-research_resource .view-content li.no-children .item-list li li {
    padding-left: 24px;
    margin: 0;
    background: transparent;
  }
  /* line 294, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li .item-list li a, .section-research-resources .view-id-research_resource .view-content li .item-list li li a, .section-research-resources .view-id-research_resource .view-content li.no-children .item-list li a, .section-research-resources .view-id-research_resource .view-content li.no-children .item-list li li a {
    line-height: 16px;
    background: transparent;
  }
  /* line 299, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li .item-list li li, .section-research-resources .view-id-research_resource .view-content li.no-children .item-list li li {
    background: url("../images/blue-right-list-arrow.jpg") no-repeat 10px 12px;
  }
  /* line 303, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li .views-field-name, .section-research-resources .view-id-research_resource .view-content li.no-children .views-field-name {
    padding: 5px 0;
  }
  /* line 305, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li .views-field-name a, .section-research-resources .view-id-research_resource .view-content li.no-children .views-field-name a {
    display: block;
    color: #20659A;
    font-weight: bold;
    background: white url("../images/small-list-arrow-down.jpg") no-repeat right center;
    text-decoration: none;
  }
  /* line 315, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li.no-children .item-list li {
    background: url("../images/blue-right-list-arrow.jpg") no-repeat 10px 12px;
  }
  /* line 318, ../sass/research-page.scss */
  .section-research-resources .view-id-research_resource .view-content li.no-children .item-list a {
    font-weight: inherit;
    background: transparent;
  }
  /* line 324, ../sass/research-page.scss */
  .section-research-resources .pane-node-body strong {
    display: none;
  }
}
