/* Grids */
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 47, ../sass/_mixins.scss */
.frontpage-left-col {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 51, ../sass/_mixins.scss */
.frontpage-right {
  float: left;
  width: 75%;
  margin-left: 25%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 55, ../sass/_mixins.scss */
.frontpage-help-market {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 59, ../sass/_mixins.scss */
.frontpage-security-contacts {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 63, ../sass/_mixins.scss */
.general-two-col .general-left {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 67, ../sass/_mixins.scss */
.general-two-col .general-right {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 72, ../sass/_mixins.scss */
.rowonecolone,
.rowtwocolone {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 77, ../sass/_mixins.scss */
.rowonecoltwo,
.rowtwocoltwo {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 82, ../sass/_mixins.scss */
.rowonecolthree,
.rowtwocolthree {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 89, ../sass/_mixins.scss */
.frontpage-middle-col {
  float: left;
  width: 55.55556%;
  margin-left: 0%;
  margin-right: -55.55556%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 92, ../sass/_mixins.scss */
.frontpage-right-col {
  float: left;
  width: 44.44444%;
  margin-left: 55.55556%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media (min-width: 901px) {
  /* line 98, ../sass/_mixins.scss */
  .frontpage-left-col {
    padding-left: 0;
    padding-right: 2.5%;
  }

  /* line 102, ../sass/_mixins.scss */
  .frontpage-right {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 105, ../sass/_mixins.scss */
  .frontpage-right .frontpage-middle-col {
    width: 58.05556%;
    padding-left: 0;
    padding-right: 3.33%;
    margin-right: -58.05556%;
  }
  /* line 111, ../sass/_mixins.scss */
  .frontpage-right .frontpage-right-col {
    width: 41.94444%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 58.05556%;
  }
}
/* line 122, ../sass/_mixins.scss */
.lt-ie9 .frontpage-left-col {
  padding-left: 0;
  padding-right: 2.5%;
}
/* line 126, ../sass/_mixins.scss */
.lt-ie9 .frontpage-right {
  padding-left: 0;
  padding-right: 0;
}
/* line 129, ../sass/_mixins.scss */
.lt-ie9 .frontpage-right .frontpage-middle-col {
  width: 58.05556%;
  padding-left: 0;
  padding-right: 3.33%;
  margin-right: -58.05556%;
}
/* line 135, ../sass/_mixins.scss */
.lt-ie9 .frontpage-right .frontpage-right-col {
  width: 41.94444%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 58.05556%;
}

@media (max-width: 900px) {
  /* line 149, ../sass/_mixins.scss */
  .frontpage-left-col {
    float: left;
    width: 41.66667%;
    margin-left: 0%;
    margin-right: -41.66667%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 153, ../sass/_mixins.scss */
  .frontpage-right {
    float: left;
    width: 58.33333%;
    margin-left: 41.66667%;
    margin-right: -100%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 160, ../sass/_mixins.scss */
  .frontpage-middle-col,
  .frontpage-right-col,
  .frontpage-help-market,
  .frontpage-security-contacts {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }

  /* line 167, ../sass/_mixins.scss */
  .staff-top {
    float: left;
    width: 90%;
    margin-left: 0%;
    margin-right: -90%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 173, ../sass/_mixins.scss */
  .rowonecolone,
  .rowonecolthree,
  .rowtwocoltwo {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 178, ../sass/_mixins.scss */
  .rowonecoltwo,
  .rowtwocolone,
  .rowtwocolthree {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media (max-width: 620px) {
  /* line 194, ../sass/_mixins.scss */
  .frontpage-left-col,
  .frontpage-right,
  .frontpage-middle-col,
  .frontpage-right-col,
  .general-two-col .general-left,
  .general-two-col .general-right,
  .staff-top {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }

  /* line 202, ../sass/_mixins.scss */
  .frontpage-right .frontpage-middle-col,
  .frontpage-right .frontpage-right-col,
  .frontpage-right .frontpage-security-contacts {
    padding-left: 0;
    padding-right: 0;
  }
}
/* A-Z page */
/* line 5, ../sass/staff-page.scss */
.view-id-staff_resource_modern .view-content {
  clear: left;
}

/* Staff classic */
/* line 13, ../sass/staff-page.scss */
.section-staff-resources-classic h2.pane-title {
  display: none;
}
/* line 16, ../sass/staff-page.scss */
.section-staff-resources-classic .view-header ul {
  padding-bottom: 0;
  margin-left: 4%;
  width: 96%;
  font-size: 13px;
}
/* line 23, ../sass/staff-page.scss */
.section-staff-resources-classic .view-content > .item-list > ol > li {
  margin-top: 17px;
  margin-left: 7%;
  width: 93%;
  padding: 0;
  background: transparent;
}
/* line 30, ../sass/staff-page.scss */
.section-staff-resources-classic .view-content ol ol {
  margin-left: 4%;
  margin-top: 4px;
}
/* line 33, ../sass/staff-page.scss */
.section-staff-resources-classic .view-content ol ol li {
  margin: 0;
}

/* Staff resources main view */
/* line 42, ../sass/staff-page.scss */
.section-staff-resources #page-title {
  width: 100%;
  max-width: 900px;
  margin: auto;
}
/* line 48, ../sass/staff-page.scss */
.section-staff-resources .staff-top h2 {
  font-size: 1.2em;
}

/* line 54, ../sass/staff-page.scss */
.staff-top {
  padding-left: 1%;
  padding-right: 1%;
}

/* line 59, ../sass/staff-page.scss */
.staff-main, .rowtwocolone {
  clear: both;
}

/* line 63, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources {
  overflow: hidden;
  width: 100%;
}

/* line 69, ../sass/staff-page.scss */
.staff-main .right-block .pane-content {
  padding: 0;
  border: none;
  background: transparent;
}
/* line 74, ../sass/staff-page.scss */
.staff-main .right-block .views-row {
  margin-left: 0;
}
/* line 76, ../sass/staff-page.scss */
.staff-main .right-block .views-row a {
  background: none;
  padding-right: 0;
}

/* line 83, ../sass/staff-page.scss */
.rowonecolone .right-block:first-child {
  margin-bottom: 25px;
}

/* line 87, ../sass/staff-page.scss */
.section-staff-resources #page-title {
  display: none;
}

/* line 91, ../sass/staff-page.scss */
.switch-link a {
  float: right;
  display: block;
  position: relative;
  z-index: 99;
  top: -32px;
  font-size: 13px;
  color: #154E6B;
}
/* line 99, ../sass/staff-page.scss */
.section-staff-resources .switch-link a {
  top: 0;
}

/* line 105, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources {
  position: relative;
  top: -32px;
  margin-bottom: -30px;
  display: block;
}
/* line 110, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources h2.pane-title {
  font-size: 24px;
  margin: 0;
  padding: 0 0 2px 0;
  color: #46494B;
}
/* line 116, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs-tabpage {
  min-height: 259px;
  background: whitesmoke url("../images/staff-top-img.jpg") no-repeat 0 0;
  border: 1px dashed #90a7b2;
}
/* line 121, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources h3 {
  margin: 13px 0 10px;
  height: 28px;
  line-height: 28px;
  width: 257px;
  padding-left: 60px;
  background: #2582CA;
  margin-left: 83px;
  color: #fff;
  font-size: 17px;
}
/* line 132, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs_main {
  float: left;
  width: 74%;
}
/* line 135, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs_main .view-footer {
  display: none;
}
/* line 140, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs_main table {
  margin: 0 0 0 142px;
  border-collapse: collapse;
}
/* line 144, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs_main td {
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
}
/* line 150, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs_main td a {
  padding: 3px 8px;
  display: block;
  background: url("../images/right-list-arrow.jpg") no-repeat 0 9px;
}
/* line 158, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs-wrapper > .item-list {
  float: right;
  width: 25%;
}
/* line 161, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs-wrapper > .item-list li {
  font-size: 12px;
  margin: 0 0 12px;
  border: 1px dashed #90a7b2;
  clear: both;
  display: block;
  padding: 5px 0;
  width: 98%;
}
/* line 169, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources .quicktabs-wrapper > .item-list li a {
  display: block;
  padding: 0 15px;
  line-height: 15px;
  color: #8B6A30;
  text-transform: uppercase;
}

/* line 180, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources-mobile {
  display: none;
}
/* line 182, ../sass/staff-page.scss */
.pane-quicktabs-staff-resources-mobile h2 {
  margin-top: 0;
}

@media (max-width: 900px) {
  /* line 189, ../sass/staff-page.scss */
  .staff-top {
    width: 100%;
  }

  /* line 193, ../sass/staff-page.scss */
  .staff-main {
    width: 100%;
    overflow: hidden;
  }

  /* line 198, ../sass/staff-page.scss */
  .pane-quicktabs-staff-resources {
    display: none;
  }

  /* line 202, ../sass/staff-page.scss */
  .pane-quicktabs-staff-resources-mobile {
    display: block;
  }

  /* line 207, ../sass/staff-page.scss */
  .ui-accordion .ui-icon {
    display: none;
  }
  /* line 210, ../sass/staff-page.scss */
  .ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content {
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background: #fff;
    outline: none;
    margin: 0;
    padding: 0;
  }
  /* line 218, ../sass/staff-page.scss */
  .ui-accordion .ui-accordion-header a {
    height: 16px;
    background: white url("../images/small-list-arrow-down.jpg") no-repeat right center;
    max-width: 100%;
    margin: 5px auto auto;
    color: #20669a;
    font-weight: bold;
    width: 95%;
    padding: 9px 0 9px 5%;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Arial", sans-serif;
  }
  /* line 231, ../sass/staff-page.scss */
  .ui-accordion .ui-state-active a {
    background-image: url("../images/small-list-arrow-up.jpg");
  }
  /* line 234, ../sass/staff-page.scss */
  .ui-accordion .ui-accordion-content {
    margin-top: -1px !important;
  }
  /* line 236, ../sass/staff-page.scss */
  .ui-accordion .ui-accordion-content .view-content {
    width: 90%;
    padding: 0 2.5% 20px 7.5%;
  }
  /* line 240, ../sass/staff-page.scss */
  .ui-accordion .ui-accordion-content .views-row {
    background: url("../images/blue-right-list-arrow.jpg") no-repeat left 7px;
    padding: 2px 0 2px 11px;
    margin: 0;
    font-size: 12px;
    clear: both;
    display: block;
  }
  /* line 247, ../sass/staff-page.scss */
  .ui-accordion .ui-accordion-content .views-row a {
    color: #20659A;
    font-size: 12px;
  }
  /* line 252, ../sass/staff-page.scss */
  .ui-accordion .ui-accordion-content .view-footer {
    display: none;
  }

  /* line 259, ../sass/staff-page.scss */
  .staff-main > div {
    width: 50%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 40px;
    float: left;
    clear: none;
  }
  /* line 267, ../sass/staff-page.scss */
  .staff-main .rowonecoltwo ul {
    min-height: 312px;
  }
  /* line 270, ../sass/staff-page.scss */
  .staff-main .rowonecolone, .staff-main .rowonecolthree, .staff-main .rowtwocoltwo {
    clear: both;
  }
}
@media (max-width: 620px) {
  /* line 277, ../sass/staff-page.scss */
  .staff-main .inside {
    width: 100%;
    margin: 0 0 25px 0;
    clear: none;
  }
  /* line 281, ../sass/staff-page.scss */
  .staff-main .inside ul {
    min-height: inherit;
  }

  /* line 286, ../sass/staff-page.scss */
  .rowtwocolone {
    clear: none;
    margin-bottom: 40px;
  }

  /* line 291, ../sass/staff-page.scss */
  .rowonecolthree {
    clear: both;
    margin-bottom: 40px;
  }

  /* line 296, ../sass/staff-page.scss */
  .rowtwocoltwo {
    clear: both;
  }
}
