.section-staff-resources .l-main,
.section-staff-resources .content-container {
  background: #fbf9f9 !important;
}

/* A-Z page */
.view-id-staff_resource_modern .view-content {
  clear: left;
}

/* Staff classic */
.section-staff-resources-classic h2.pane-title {
  display: none;
}
.section-staff-resources-classic .view-header ul {
  padding-bottom: 0;
  margin-left: 4%;
  width: 96%;
  font-size: 13px;
}
.section-staff-resources-classic .view-content > .item-list > ol > li {
  margin-top: 17px;
  margin-left: 7%;
  width: 93%;
  padding: 0;
  background: transparent;
}
.section-staff-resources-classic .view-content ol ol {
  margin-left: 4%;
  margin-top: 4px;
}
.section-staff-resources-classic .view-content ol ol li {
  margin: 0;
}

/* Staff resources main view */
.section-staff-resources #page-title {
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.section-staff-resources .staff-top h2 {
  font-size: 1.2em;
}

.staff-top {
  padding-left: 1%;
  padding-right: 1%;
}

.staff-main, .rowtwocolone {
  clear: both;
}

.pane-quicktabs-staff-resources {
  overflow: hidden;
  width: 100%;
}

.staff-main .right-block .pane-content {
  padding: 0;
  border: none;
  background: transparent;
}
.staff-main .right-block .views-row {
  margin-left: 0;
}
.staff-main .right-block .views-row a {
  display: block;
  line-height: normal;
  background: none;
  padding-right: 0;
}

.rowonecolone .right-block:first-child {
  margin-bottom: 25px;
}

.section-staff-resources #page-title {
  display: none;
}

.switch-link a {
  float: right;
  display: block;
  position: relative;
  z-index: 99;
  top: -32px;
  font-size: 13px;
  color: #154E6B;
  background: url(../images/arrow-dot-line.png) left center no-repeat;
  padding-left: 15px;
  font-size: 14px;
}
.section-staff-resources .switch-link a {
  top: 0;
}

.pane-quicktabs-staff-resources {
  position: relative;
  top: -32px;
  margin-bottom: -30px;
  display: block;
}
.pane-quicktabs-staff-resources h2.pane-title {
  font-size: 24px;
  margin: 0;
  padding: 0 0 2px 0;
  color: #46494B;
}
.pane-quicktabs-staff-resources .quicktabs-tabpage {
  min-height: 259px;
  background: whitesmoke url("../images/staff-top-img.jpg") no-repeat 0 0;
  border: 1px dashed #90a7b2;
}
.pane-quicktabs-staff-resources h3 {
  margin: 13px 0 10px;
  height: 28px;
  line-height: 28px;
  width: 257px;
  padding-left: 60px;
  background: #2582CA;
  margin-left: 83px;
  color: #fff;
  font-size: 17px;
}
.pane-quicktabs-staff-resources .quicktabs_main {
  float: left;
  width: 74%;
}
.pane-quicktabs-staff-resources .quicktabs_main .view-footer {
  display: none;
}
.pane-quicktabs-staff-resources .quicktabs_main table {
  margin: 0 0 0 142px;
  border-collapse: collapse;
}
.pane-quicktabs-staff-resources .quicktabs_main td {
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
}
.pane-quicktabs-staff-resources .quicktabs_main td a {
  padding: 3px 8px;
  display: block;
  line-height: 1.3;
  background: url("../images/right-list-arrow.jpg") no-repeat 0 9px;
}
.pane-quicktabs-staff-resources .quicktabs-wrapper > .item-list {
  float: right;
  width: 25%;
}
.pane-quicktabs-staff-resources .quicktabs-wrapper > .item-list li {
  font-size: 12px;
  margin: 0 0 12px;
  border: 1px dashed #90a7b2;
  clear: both;
  display: block;
  padding: 5px 0;
  width: 98%;
}
.pane-quicktabs-staff-resources .quicktabs-wrapper > .item-list li a {
  display: block;
  padding: 0 15px;
  line-height: 15px;
  color: #8B6A30;
  text-transform: uppercase;
}

.pane-quicktabs-staff-resources-mobile {
  display: none;
}
.pane-quicktabs-staff-resources-mobile h2 {
  margin-top: 0;
}

@media (max-width: 900px) {
  .staff-top {
    width: 100%;
  }

  .staff-main {
    width: 100%;
    overflow: hidden;
  }

  .pane-quicktabs-staff-resources {
    display: none;
  }

  .pane-quicktabs-staff-resources-mobile {
    display: block;
  }

  .ui-accordion .ui-icon {
    display: none;
  }
  .ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content {
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background: #fff;
    outline: none;
    margin: 0;
    padding: 0;
  }
  .ui-accordion .ui-accordion-header a {
    display: block;
    height: 16px;
    background: #fff url("../images/small-list-arrow-down.jpg") no-repeat right center;
    max-width: 100%;
    margin: 5px auto auto;
    color: #20669a;
    font-weight: bold;
    width: 95%;
    padding: 9px 0 9px 5%;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Arial", sans-serif;
  }
  .ui-accordion .ui-state-active a {
    background-image: url("../images/small-list-arrow-up.jpg");
  }
  .ui-accordion .ui-accordion-content {
    margin-top: -1px !important;
  }
  .ui-accordion .ui-accordion-content .view-content {
    width: 90%;
    padding: 0 2.5% 20px 7.5%;
  }
  .ui-accordion .ui-accordion-content .views-row,
  .ui-accordion .ui-accordion-content .top-links-list li {
    background: url("../images/blue-right-list-arrow.jpg") no-repeat left 7px;
    padding: 2px 0 2px 11px;
    margin: 0;
    font-size: 12px;
    clear: both;
    display: block;
  }
  .ui-accordion .ui-accordion-content .views-row a,
  .ui-accordion .ui-accordion-content .top-links-list li a {
    color: #20659A !important;
    font-size: 12px !important;
  }
  .ui-accordion .ui-accordion-content .top-links-list {
    padding-left: 0;
  }
  .ui-accordion .ui-accordion-content .view-footer {
    display: none;
  }

  .staff-main > div {
    width: 50%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 40px;
    float: left;
    clear: none;
    padding-left: 0.5%;
    padding-right: 0.5%;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .staff-main > div ul {
    padding: 13px 8% 20px 2%;
  }
  .staff-main .rowonecoltwo ul {
    min-height: 312px;
  }
  .staff-main .rowonecolone, .staff-main .rowonecolthree, .staff-main .rowtwocoltwo {
    clear: both;
  }
}
@media (max-width: 620px) {
  .staff-main .inside {
    width: 100%;
    margin: 0 0 25px 0;
    clear: none;
  }
  .staff-main .inside ul {
    min-height: inherit;
    padding: 13px 8% 20px 2%;
  }

  .rowtwocolone {
    clear: none;
    margin-bottom: 40px;
  }

  .rowonecolthree {
    clear: both;
    margin-bottom: 40px;
  }

  .rowtwocoltwo {
    clear: both;
  }
}
@media all and (min-width: 900px) {
  .staff-main .rowonecolone,
  .staff-main .rowonecoltwo,
  .staff-main .rowonecolthree,
  .staff-main .rowtwocolone,
  .staff-main .rowtwocoltwo,
  .staff-main .rowtwocolthree {
    width: 33%;
    float: left;
    margin-left: 0;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .staff-main .rowonecolone ul,
  .staff-main .rowonecoltwo ul,
  .staff-main .rowonecolthree ul,
  .staff-main .rowtwocolone ul,
  .staff-main .rowtwocoltwo ul,
  .staff-main .rowtwocolthree ul {
    padding: 13px 8% 20px;
  }
}
