.page-news {
  .views-exposed-form .views-exposed-widget {
    float: none;
    padding-top: 0;
  }
  #main {
    .general-left{
      .views-row {
        background: none;
        padding-left: 0;
      }
      .pane-title {
        @include font-size(32px);
        margin-top: 0;
        line-height: 1;
      }
      .view-news-archive {
        margin-bottom: 2rem;
        article {
          margin-bottom: 3rem;
          .field-type-image {
            float: left;
            margin-right: 2rem;
          }
          .node-created {
            font-weight: bold;
          }
        }
        .field-name-body {
          margin-top: 1rem;
        }
      }
    }
    .general-right {
      .inside {
        border-left: none;
      }
      .pane-title {
        line-height: 1;
        margin-top: 0;
      }
      select {
        width: 126px;
        @include clearfix;
        float: none !important;
        margin-bottom: 1rem;
      }
      input[type="submit"].form-submit {
        margin-top: 0;
        width: 126px;
      } 
    }    
  }
}