# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
site/*/default.settings.php
/drush.lock
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/robots.txt
