// events color map
$color: (
  red: #de0105,
  red-light: #fce9e9,

  blue: #4780d1,
  blue-light: #e6eef9,

  green: #35b635,
  green-light: #d0eed0,

  purple: #7e00aa,
  purple-light: #eddaf3,

  pink: #ff2eba,
  pink-light: #f9e1f2,

  yellow: #e9ce43,
  yellow-light: #fff8df,

  orange: #e76d00,
  orange-light: #fae2cc,

  grey: #838383,
  grey-light: #dbdbdb,

  grey-blue: #d6dee2,
  grey-blue-light: #eaeef0,
  grey-blue-dark: #849ba6,
  light-green: #eff9f5,
  light-blue: #dfe9f5,
  weekend-grey: #e8e8e8,
  event-item-grey: #e4e4e4,
  event-time-grey: #252525,
  event-description-grey: #424242
);

// color function
@function color($key) {
  @if map-has-key($color, $key) {
    @return map-get($color, $key);
  }

  @warn "This `#{$key}` is not in the $color map.";
  @return null;
}
