// clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin caption {
  @include font-size(12px);
  font-style: italic;
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

// =====================
// media listing mixins
@mixin float-left {
  float: left;
  margin-right: 2rem;
  margin-bottom: .5rem;
}

@mixin node-created {
  @include font-size(12px);
  font-weight: bold;
  line-height: 1;
}

@mixin node-title {
  margin-top: .5rem;
}

@mixin body-teaser {
  margin-top: .5rem;
}
// =======================

// move page title to the right to match starting of page content
@mixin move-page-title {
  @include zen-grid-item(6, 2);
}

// Content Listing for Mobile
@mixin content-listing($padding-bottom, $margin-bottom) {
  article {
    border-bottom: 4px solid color(grey-blue);
    padding-bottom: $padding-bottom;
    margin-bottom: $margin-bottom;
  }
}

// ====================
@mixin frontpage-news-headings {
  @include font-size(13px);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: block;
  color: $white;
  background: $grey-blue-dark url('../images/right-arrow.png') no-repeat 98% -28px;
  padding-left: 1rem;
  line-height: 2.8;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// =================
@mixin view-footer {
  padding-top: 0.5rem;

  a {
    display: block;
    font-weight: normal;
    @include font-size(11px);
    line-height: $base-line-height * 1.5;
    background: url(../images/arrow-dot-line.png) no-repeat left center;
    line-height: $base-line-height;
    padding-left: 0.9375rem;
  }
}

@mixin  blue-striped-list {
  background: $light-blue;
  border: none;
  width: 100%;
  margin-top: 0.45rem;
  margin-bottom: 0.45rem;

  a {
    @include font-size(11px);
    display: block;
    background: none;
    padding: 0.3rem 0.5rem;
  }
}
