// clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin caption {
  @include font-size(12px);
  font-style: italic;
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

// =====================
// media listing mixins
@mixin float-left {
  float: left;
  margin-right: 2rem;
  margin-bottom: .5rem;
}

@mixin node-created {
  @include font-size(12px);
  font-weight: bold;
  line-height: 1;
}

@mixin node-title {
  margin-top: .5rem;
}

@mixin body-teaser {
  margin-top: .5rem;
}
// =======================

// move page title to the right to match starting of page content
@mixin move-page-title {
  @include zen-grid-item(6, 2);
}
