body {
  font-family: $arial;
  @include font-size($base-font-size);
  line-height: $base-line-height;
  font-weight: normal;
}

a,
a:link {
  &:hover,
  &:focus {
    outline: none;
  }
}

.not-front #content {
  background: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-weight: bold;
}

h1 {
  @include font-size($h1-font-size);
}

h2 {
  @include font-size($h2-font-size);
}

.general-left h2 {
  @include font-size(20px);
}

ul, ol {
  list-style-image: none;
  padding-left: 2rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

hr {
  border: dotted $event-border;
  border-width: 3px 0 0;
  clear: both;
  height: 0;
  margin: 1rem 0 1rem;
}
