body {
  font-family: arial;
  @include font-size(16px);
  line-height: 1.5;
  font-weight: normal;
}
a,
a:link {
  &:hover,
  &:focus {
    outline: none;
  }
}
.not-front #content {
  background: $white;
}