// New colors for accessibility
$blue: #316dae;
$header-blue: #3475bf;
$light-blue: #e9f2f9;
$header-blue-dark: #0756b0;
$overlay-blue: rgba(54, 116, 163, .85);
$footer-links: #285385;
$quotes-blue: #86A3B2;
$access-notice-table-border: #7ca9da;

$gold: #7c6235;
$red: #890024;

$white: #ffffff;
$black: #000;

$grey: #6a6a6a;
$grey-dropdown: #6c676c;
$grey-filters-border: #dfdfdf;
$dim-grey: #4f4f4f;
$search-text-color: #474747;
$event-date: #2f2f2f;
$grey-labels: #747474;
$grey-footer-dark: #9a9a9a;
$grey-footer-light: #dadada;
$grey-primary-tabs: #eee;
$grey-primary-tabs-border: #adadad;
$headings-color: #1e1e1e;
$light-grey: lighten($dim-grey, 64%); // used on pagers
$event-border: #b1c0c7;
$event-body: #2b2b2b;
$default-table-borders: #e2e2e2;
$feedback-form-background: #f8f8f8;
$feedback-form-border: #e2e2e2;
$feedback-fields-border: #7c7c7c;
