$arial: Arial, Helvetica, "Nimbus Sans L", sans-serif;
$serif: Georgia, 'Times New Roman', serif;

$base-font-size:   16px; // The font size set on the root html element.

$base-line-height: 1.5; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 1.7  * $base-font-size;
$h2-font-size: 1.2  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

// Use REMs with a pixel fallback for font sizing.
@mixin font-size($font-size){
  font-size: $font-size;
  font-size: ($font-size / $base-font-size)*1rem;
}
