.page-access {

  .title {
    @include move-page-title;
    padding-left: 30px;
    background: url(../images/access-notice-icon.svg) 0 6px no-repeat;

    .lt-ie9 & {
      background: url(../images/access-notice-icon.png) 0 6px no-repeat;
    }
  }

  .general-left {
    margin-top: 3.5rem;
  }

  .view-header {
    margin-bottom: 2rem;
  }

  .general-right {
    padding-top: 1.6rem;

    .menu {
      padding-left: 2rem;
      li {
        list-style-type: disc;
      }

      a {
        display: block;
        padding: .2rem 0;
      }
    }
  }

  .feed-icon {
    float: none;
    margin: 0;
    margin-bottom: 4.5rem;
  }
}
.view-access-notice-listing {

  .views-row {
    margin-bottom: 2rem;
    background: none;
  }

  .field-name-field-shared-image {
    @include float-left;
  }

  .node-title {
    @include node-title;
    margin-bottom: .5rem;
  }

  .field-name-field-event-date {
    float: left;
    margin-right: 10px;
  }
}