// See /components/_event-news-notice.scss for shared styles
// among Events, News and Access Notice

@include breakpoint($tablet-large) {
  .section-access .general-right {
    .pane-node-field-shared-contact-name,
    .pane-node-field-shared-contact-email,
    .pane-node-field-shared-contact-phone,
    .pane-node-field-shared-tags {
      display: none;
    }
  }
}

@media all and (min-width: $mobile) and (max-width: $tablet-large) {
  .section-access .general-left {
    .pane-node-field-shared-contact-name,
    .pane-node-field-shared-contact-email,
    .pane-node-field-shared-contact-phone,
    .pane-node-field-shared-tags,
    .pane-slac-ip-panes-print {
      display: none;
    }

    .email-button a {
      border: none;
    }
  }

  .section-access .general-right {
    .pane-node-field-shared-contact-name,
    .pane-node-field-shared-contact-email,
    .pane-node-field-shared-tags {
      margin-bottom: 0.5rem;

      h2 {
        @include font-size(16px);
        border: none;
        margin-bottom: 0.5rem;
        text-transform: none;
        font-weight: bold;
      }
    }

    .pane-node-field-shared-contact-phone {
      margin-bottom: 3rem;
    }

    .pane-node-field-shared-tags {
      @include clearfix;
      margin-bottom: 3rem;
    }
  }
}
