.pane-slac-ip-node-author {
  @include clearfix;
  margin-top: 0.4rem;
  margin-bottom: 2rem;

  .pane-title {
    @include font-size(16px);
    margin: 0;
    line-height: 1.5;
    float: left;
  }

  .username {
    margin-left: .3rem;
  }
}
