@media all and (max-width: $tablet-large) {
  table,
  tbody {
    display: block;
    width: 100%;
  }

  thead,
  td.empty {
    display: none;

    &:before,
    .inner {
      display: none;
    }
  }

  table tr,
  table th,
  table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  table tr {
    &.single-day {
      margin-bottom: 1rem;
      border-bottom: 5px solid darken($light-grey, 5%);
    }

    td[id^="calendar_view-2"] {
      border-bottom: 5px solid darken($light-grey, 5%);

      .inner {
        margin-top: 3.5rem;
      }
    }
  }

  table th[data-title]:before,
  table td[data-title]:before {
    @include font-size(18px);
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }

  td.single-day:before,
  td.date-box:before {
    float: left;
    width: 35%;
    margin-right: 10px;
    margin-top: 1rem;
    text-align: left;
  }

  td.single-day .inner,
  td.date-box .inner {
    float: right;
    width: 60%;
  }

  table td {
    border: none;
    margin-bottom: 6px;
    color: #444;
  }

  table td:empty {
    display: none;
  }

  table td:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
  }
  table td:first-child:before {
    content: '';
  }

  .date-nav-wrapper {
    margin-top: 75px;

    .date-nav {
      height: 0;
      min-height: 0;
    }
  }

  .link-ical {
    top: 10px;
  }

  .calendar-calendar {
    td,
    td.today,
    td.weekend {
      width: 100%;
      border: none;
      background: $white;
    }

    .month-view .full tr td.single-day {
      display: table;
    }

    .month-view .full td.single-day.empty,
    .month-view .full tr td.today,
    .month-view .full tr td.weekend {
      background: $white;
    }

    .time {
      width: 100px;
      position: relative;
      left: -120px;
      text-align: right;
    }

    .title {
      position: relative;
      top: -6px;
    }

    .type-access_information,
    .type-event {
      padding: 0 1.2rem .2rem .5rem;
      border-left: none;
      border-top: 3px solid;
    }
  }

  .events-calendar .type-access_information.type-access_information {
    background-image: none;
  }

  .date-box td[id^="calendar_view-"][id$="-date-box"],
  .date-box {
    display: none;
  }
}
