.events-calendar {

  // global styles for calendar events
  .type-access_information,
  .type-event {
    background: $color-gray-mercury;
    margin: 0.2rem 0 0.5rem 0;
    padding: 0.2rem 0.4rem;
    border-left: 4px solid color(grey);

    @include breakpoint($tablet-large) {
      margin: 0;
      margin-bottom: 0.5rem;
    }

  .type-access_information {
    padding-top: 0;
  }

    // individual styles
    &.event-recreation-health--wellness {
      border-color: color(pink);
    }

    &.event-talks--seminars {
      border-color: color(yellow);
    }

    &.event-public-events--tours {
      border-color: color(green);
    }

    &.event-conferences--workshops {
      border-color: color(blue);
    }

    &.event-staff-celebrations-events--meetings {
      border-color: color(purple);
    }

    &.event-training--development {
      border-color: color(orange);
    }

    &.type-access_information {
      border-color: color(red);
      background: color(event-item-grey) url(../images/access-notice-icon-smaller.png) 5px 3px no-repeat;
    }
  }

  // week and day views
  .weekview,
  .dayview {
    .type-access_information,
    .type-event {
      border: none;
      padding: 0;
      padding-bottom: .2rem;
      border: none;

      .time {
        padding: 3px 6px 4px 6px;
        border-top: 2px solid $color-gray;
        background: color(grey-light);
        height: 16px;
      }

      .title a {
        display: block;
        margin: 0 0 0.4rem 0.4rem;
        margin-bottom: 0;

        @include breakpoint($tablet-large) {
          margin: 0.4rem;
        }
      }
    }

    .type-access_information .time {
      border-color: color(red);
      background: color(red-light) url(../images/access-notice-icon-smaller.png) 5px 4px no-repeat;
    }

    .event-recreation-health--wellness .time {
      border-color: color(pink);
      background: color(pink-light);
    }

    .event-talks--seminars .time {
      border-color: color(yellow);
      background: color(yellow-light);
    }

    .event-public-events--tours .time {
      border-color: color(green);
      background: color(green-light);
    }

    .event-conferences--workshops .time {
      border-color: color(blue);
      background: color(blue-light);
    }

    .event-staff-celebrations-events--meetings .time {
      border-color: color(purple);
      background: color(purple-light);
    }

    .event-training--development .time {
      border-color: color(orange);
      background: color(orange-light);
    }
  }

  @media all and (max-width: $tablet-large) {
    .weekview {
      .type-access_information,
      .type-event {
        .title a {
          margin-top: -0.2rem;
        }
      }
    }

    .monthview {
      .type-access_information,
      .type-event {
        .title a {
          margin-top: -0.6rem;
        }
      }
    }
  }

  .dayview {
    .type-access_information,
    .type-event {
      margin-bottom: 0;

      @include breakpoint($tablet-large) {
        margin-bottom: 0.5rem;
      }

      .time {
        border-width: 4px;
      }
    }
  }

  @include breakpoint($tablet-large) {
    .weekview .type-access_information {
      margin: 0.2rem 0;
    }

    .week-view .full td,
    .month-view .full td {
      padding: 0 0.5rem 1rem;
    }

    .month-view .full .inner .monthview {
      margin-bottom: 0.6rem;
    }

    .week-view .full .inner .weekview {
      margin-bottom: 0.6rem;
    }
  }
}

