// See /components/_event-news-access-notice.scss for shared styles
// among Events, News and Access Notice

@include breakpoint($tablet-large) {
  .node-type-event,
  .node-type-access-information,
  .node-type-news {
    .general-right {
      .pane-node-field-shared-contact-name,
      .pane-node-field-shared-contact-email,
      .pane-node-field-shared-contact-phone,
      .pane-terms-on-node-panel-pane-terms-on-node,
      .pane-node-field-shared-tags {
        display: none;
      }
    }
  }
}

@media all and (min-width: $mobile) and (max-width: $tablet-large) {
  .node-type-event,
  .node-type-access-information,
  .node-type-news {
    .general-left {
      .pane-node-field-shared-contact-name,
      .pane-node-field-shared-contact-email,
      .pane-node-field-shared-contact-phone,
      .pane-node-field-shared-tags,
      .pane-terms-on-node-panel-pane-terms-on-node {
        display: none;
      }

      .pane-node-created {
        font-weight: normal;
      }

      .field-name-field-shared-image {
        float: none;
        margin-bottom: 2rem;
      }
    }

    .general-right {
      .pane-node-field-shared-contact-name,
      .pane-node-field-shared-contact-email,
      .pane-node-field-shared-tags,
      .pane-terms-on-node-panel-pane-terms-on-node {
        margin-bottom: 0.5rem;

        .pane-title {
          @include font-size(16px);
          border: none;
          margin-bottom: 0;
          text-transform: none;
          font-weight: bold;
        }
      }

      .pane-node-field-shared-contact-phone {
        margin-bottom: 3rem;
      }

      .pane-node-field-shared-tags,
      .pane-terms-on-node-panel-pane-terms-on-node {
        @include clearfix;
        margin-bottom: 3rem;

        .pane-title {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}

// =======================================================
// Hiding the print button on all mobile and tablet devices
// =======================================================
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
 .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
 .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
 .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
 .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
 .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
 .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332) {
  .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 800px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .js-print-button {
    display: none;
  }

  .email-button {
    right: 0 !important;

    a {
      border-right: none;
    }
  }
}
