// Styles here address theming of event, news and access notice
@import "zen";

$zen-gutter-width: 40px;
$zen-column-count: 12;

.node-type-event,
.node-type-news {
  #content {
    @include zen-grid-container();
    @include font-size(16px);
    background: $white !important;
    color: $event-body;
    line-height: 1.4;
    .contextual-links-region {
      padding: 0;
    }
  }
  #header {
    margin-bottom: 0;
  }
  .general-left {
    @include zen-grid-item(7, 2);
    h1 {
      margin-bottom: .5em;
      margin-top: 0;
      line-height: 1.2;
    }
    h2 {
      @include font-size(14px);
      margin-bottom: 0;
    }
    .date-display-start,
    .date-display-end,
    .date-display-single,
    .field-name-field-shared-location,
    .field-name-field-shared-byline {
      @include font-size(16px);
      display: inline-block;
      color: $dim-grey;
      font-weight: bold;
      margin-bottom: 12px;
    }
    .date-display-single {
      margin-bottom: 4px;
    }
    .field-name-field-shared-location {
      margin-bottom: 16px;
    }
    .calendar-button,
    .email-button,
    .js-print-button {
      display: block;
      float: left;
      a {
        @include font-size(12px);
        text-transform: uppercase;
        color: lighten($dim-grey, 35%);
        font-weight: lighter;
        display: block;
        padding-left: 2em;
        padding-right: 1.5em;
        margin-right: 1.5em;
        height: 16px;
        border-right: 1px solid lighten($dim-grey, 35%);
      }
    }
    .calendar-button a {
      background: url('../images/calendar.svg') 0 0 no-repeat;
    }
    .email-button a {
      background: url('../images/envelope.svg') 0 0 no-repeat;
    }
     .js-print-button a {
      border: none;
      background: url('../images/printer.svg') 0 0 no-repeat;
    }
    .field-name-field-shared-contact-name,
    .field-name-field-shared-contact-email,
    .field-name-field-shared-contact-phone,
    .field-name-field-shared-tags .field-label {
      margin-bottom: .2em;
    }
    .field-name-field-shared-tags {
      @include font-size(14px);
      margin-top: 2em;
    }
    .field-name-field-shared-tags a {
      @include font-size(12px);
      display: block;
      float: left;
      background: lighten($event-border, 15%);
      padding: 8px 12px;
      margin-right: 1em;
    }
    .pane-node-body {
      border-top: solid 3px $event-border;
      margin-top: 40px;
    }
  }
  .general-right {
    @include zen-grid-item(3, 9);
    margin-top: .5em;
    .inside {
      padding: 0;
    }
    h2 {
      @include font-size(14px);
      border-bottom: 3px solid $event-border;
      text-transform: uppercase;
      color: $dim-grey;
      margin-bottom: 1em;
    }
    ul {
      color: $dim-grey;
      padding-left: 2em;
      list-style-type: disc;
    }
    ul a {
      @include font-size(14px);
      display: block;
      padding: .4em 0;
    }
  }
  .general-right .inside {
    border-left: none;
  }
}

// news overrides
.node-type-news {
  #content {
    .field-name-field-shared-location {
      font-weight: normal;
    }
    .field-name-field-news-subtitle {
      @include font-size(20px);
      font-weight: bold;
      margin-bottom: 1.5em;
    }
    .field-name-field-file-shared-caption {
      @include font-size(12px);
      font-style: italic;
    }
  }
  .general-left {
    .panel-pane.pane-slac-ip-panes-email {
      position: relative;
      top: -30px;
      float: right;
      margin-right: 100px;
    }
    .field-name-field-shared-image {
      margin-top: 4px;
      width: 370px;
      float: left;
      margin-right: 30px;
    }
    .pane-node-body {
      border-top: none;
      margin-top: 0;
      p:first-child {
        margin-top: 0;
      }
    }
    .field-name-field-shared-byline,
    .panel-pane.pane-node-created {
      margin-bottom: 10px;
    }
  }
  .general-right {
    .panel-pane {
      margin-bottom: 2em;
    }
    .panel-pane:first-child {
      padding-bottom: 2em;
      border-bottom: dashed 3px $event-border;
    }
  }
}