.pane-node-created {
  @include clearfix;
  font-weight: bold;
}

.page-breadcrumb {
  @include font-size(24px);
  float: left;
  margin-right: 6px;

  @include breakpoint($tablet-large) {
    font-size: initial;
  }
}

.node-type-flea-market-post {
  .pane-node-field-shared-contact-name,
  .pane-node-field-shared-contact-email,
  .pane-node-field-shared-contact-phone {
    display: none;
  }

  h1 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    @include breakpoint($tablet-small) {
      margin-bottom: 0;
    }
  }

  .pane-node-field-flea-market-item-type {
    @include font-size(24px);

    @include breakpoint($tablet-large) {
      font-size: initial;
    }
  }

  .panel-pane.pane-slac-ip-panes-email,
  .pane-slac-ip-panes-print {
    position: relative;
    top: 2px;
    float: right;

    a {
      border: none;
      margin-right: 0;
      padding-right: 0;
    }

    @include breakpoint($desktop) {
      top: 48px;
      margin-right: 95px;

      a {
        border-right: 1px solid lighten($dim-grey, 35%);
        margin-right: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }

  .pane-slac-ip-node-author {
    .pane-title {
      margin-right: .4rem;
    }
  }

  .pane-slac-ip-panes-print {
    top: 48px;
    margin-right: -200px;
    display: none;

    @include breakpoint($desktop) {
      display: block;
    }
  }

  .pane-node-field-shared-contact-name {
    .pane-title {
      @include font-size(16px);
      margin-bottom: 0;
    }
  }

  .general-left {
    @include breakpoint($tablet-small) {
      .pane-node-field-shared-contact-name,
      .pane-node-field-shared-contact-email,
      .pane-node-field-shared-contact-phone {
        display: block;
      }
    }
  }

  .general-right {
    margin-top: 30px;

    .pane-node-field-shared-contact-name,
    .pane-node-field-shared-contact-email,
    .pane-node-field-shared-contact-phone {
      display: block;
    }
    .pane-title {
      margin-top: 2rem;
      border: none;
      text-transform: none;
    }

    @include breakpoint($tablet-small) {
      .pane-node-field-shared-contact-name,
      .pane-node-field-shared-contact-email,
      .pane-node-field-shared-contact-phone {
        display: none;
      }
    }
  }
}

// report as inappropriate dialog box
.report-as-inappropriate {
  background: $light-grey;
  padding: 1rem;
  margin-top: 1rem;

  .report-inappropriate-title {
    margin: 0;
  }

  .report-message {
    @include font-size(14px);
    line-height: 1.4;
    margin-top: .2rem;
  }

  .top-close {
    float: right;
    position: relative;
    top: -35px;
    border: none;
    background: transparent;
  }

  .report-button {
    display: inline-block;
    text-align: center;
    padding: 4px 20px;
    text-indent: 0;
    background: $blue;
    color: $white;
    margin-right: 2rem;

    &:hover,
    &:focus {
      text-decoration: none;
      background: lighten($blue, 10%);
    }
  }

  .bottom-close {
    @include font-size(14px);
    padding: 3px 10px;
    margin-left: 2rem;
    display: inline-block;
    background: $white;
    border: none;
    color: $blue;
  }

  .close-x {
    display: inline-block;
    color: $grey;
    margin-right: 12px;
  }

  .flag-flea-market-inappropriate {
    margin-bottom: .5rem;
  }
}

// flea market item listing
.my-flea-market-nav {
  width: 200px;
  margin-top: 16px;
  text-align: right;
  float: right;
  position: relative;
  z-index: 30;

  a {
    display: block;
    padding: .2rem .5rem;
    background: darken($light-grey, 3%);
    color: $blue;
    text-decoration: none;
    margin-bottom: .5rem;

    &:hover,
    &:focus {
      background: lighten($grey, 10%);
      color: $white;
    }
  }
}

.section-flea-market {
  .title {
    @include zen-grid-item(6, 2);
    margin-top: 0;
    margin-bottom: 0;
  }

  table {
    margin-bottom: 4rem;

    td {
      p {
        margin: 0;
      }
    }
  }

  .views-field-changed {
    min-width: 120px;
    font-weight: bold;
  }

  .views-field-field-flea-market-item-type {
    min-width: 100px;
    font-weight: bold;
  }

  .views-field-edit-node {
    min-width: 90px;
  }

  .view-flea-market-listing {
    padding-top: 3rem;
    margin-bottom: 2rem;

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}