select {
  @include font-size(10px);
  padding: 5px 40px 5px 5px;
  text-transform: uppercase;
  border: 1px solid $blue;
  background: $white;
  border-radius: 0;
  border-image: none;
  color: lighten($grey, 20%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $white url(../images/dropdown-bg.png) calc(100% - 2px) 50% no-repeat;
  &:hover,
  &:focus {
    outline: none;
  }
}

input[type="text"],
input[type="email"],
input[type="checkbox"],
input[type="password"],
textarea {
  border: 1px solid $blue;
}

fieldset {
  padding: 1rem;
  border: 3px solid lighten($grey, 50%);
  background: lighten($grey, 57%);

  &.collapsed {
    background: transparent;
    border: none;
  }

  @include breakpoint($tablet-large) {
    width: 800px;
  }
}
