.frontpage-top-links,
.frontpage-directorate-links {
  .view-content .views-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.875rem;

    &.views-row-last{
      margin-bottom: 0.4375rem;
    }
  }
}
