.frontpage-calendar,
.frontpage-access-info,
.frontpage-help-market {
  .view-footer {
    @include view-footer;
    clear: both;

    .external {
      @include font-size(11px);
      background: none;
      padding-left: 0;
    }
  }
}
