.pane-boxes-slac-projects {
  overflow:hidden;

  img {
    display: block;
    float: left;
    margin: 0 1.25rem 1.25rem 0;
  }

  li {
    list-style: none;

    a {
      @include font-size(11px);
      display: block;
      padding: 0.2rem 0;
    }
  }
}
