.frontpage-slac-science {
  .pane-title {
    @include frontpage-news-headings;

    @include breakpoint($tablet-small) {
      margin-bottom: 0;
      background: $grey url(../images/lines.png) -40px -20px repeat-x;
      color: $white;
      line-height: 2;
    }
  }

  .view-content .views-row-1 {
    position: relative;
    margin-bottom: 1rem;

    @include breakpoint($tablet-small) {
      margin-bottom: 0;
    }
  }

  @include breakpoint($tablet-small) {
    .title-body {
      position: absolute;
      bottom: 7px;
      left: 0;
      right: 0;
      display: block;
      background: $overlay-blue;
      padding: 0.6rem;

      a {
        @include font-size(19px);
        color: $white;
      }

      .body a {
        @include font-size(12px);
        display: block;
        line-height: 1.4;
      }
    }
  }

  .body {
    display: none;

    @include breakpoint($tablet-large) {
      display: block;
    }
  }
}
