.general-left {
  ul,
  ol {
    padding-left: 2.5rem;
    margin-bottom: 1rem;

    @include breakpoint($tablet-large) {
      padding-left: 4rem;
    }
  }
}

.general-right {
  ul a {
    display: block;
    line-height: 1.9;
  }

  .field-name-field-shared-related-files {
    li a {
      display: inline-block;
    }
  }

  .field-type-file span.file {
    display: block;
    padding: 0.2rem 0;
  }

  ul {
    @include font-size(12px);
    padding-left: 2rem;
    list-style-type: disc;
  }

  .view-featured-news ul {
    padding-left: 0;

    a {
      line-height: 1.6;
    }
  }

  // removes gap in related links lists
  .panel-pane.pane-node-field-shared-related-files {
    margin-bottom: 0;
  }

  .pane-combined-related-items {
    ul {

      li {
        margin: 0;
        padding: 0;
        list-style-type: disc;
        list-style-position: outside;
      }

      a {
        display: inline;
      }
    }
  }
}
