// mobile menu
@media all and (max-width: $desktop) {
  #main {
    @include clearfix;
    background: $white;

    .front & {
      margin-top: 0;
      padding-top: 80px;
    }
  }

  header[role="banner"] {
    background: $header-blue url(../images/menu-search-toggle-bg.png) 100% 0 repeat-y;

    .logo {
      display: block;
      position: relative;
      z-index: 2;
      padding: 0;
      padding-left: .6rem;
      margin: 0;

      a {
        float: none;
      }
    }
  }

  .mobile-menu-toggle {
    @include font-size(13px);
    text-transform: uppercase;
    letter-spacing: .04rem;
    position: absolute;
    top: 16px;
    right: 10px;
    display: block;
    color: $white;
    width: 75px;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .hamburger-icon {
      display: block;
      width: 20px;
      float: left;
      margin-right: 5px;
      margin-top: 3px;
    }

    .icon-menu {
      display: block;
      border: 1px solid #fff;
      margin-bottom: .2rem;
    }
  }

  .main-navigation {
    background: $white;

    .region-navigation {
      @include zen-grid-item(12, 1);
      margin: 0;
      padding: 0;
      background: $white;
    }
  }

  #block-system-main-menu {
    margin-top: 8px;

    .menu {
      margin-top: 5rem;
      margin-bottom: 1rem;
      position: relative;
      z-index: 10;

      li {
        padding: 0;
      }
    }

    li {
      display: block;
      margin-bottom: 4px;
      list-style-type: none;
      list-style-image: none;

      a {
        @include font-size(14px);
        line-height: 1;
        display: block;
        padding: .6rem;
        text-indent: 2rem;
        text-transform: uppercase;
        color: $blue;
        background: $light-blue url(../images/right-arrow.png) 1rem .5rem no-repeat;
        text-decoration: none;
        font-weight: bold;
      }

      &.is-active-trail a {
        background: $white;
        color: $blue;
      }
    }
  }
}

@include breakpoint($tablet-large) {
  header[role="banner"] {
    .date {
      display: block;
      position: absolute;
      z-index: 10;
    }
  }
}

// Top Menu and Main Menu for desktop
#block-menu-menu-top-menu {
  display: none;

  @include breakpoint($desktop) {
    display: block;
    text-align: right;
    margin-bottom: 24px;

    .menu {
      text-align: right;

      li {
        display: inline;

        &.first {
          border-right: 1px solid $blue;
        }

        a {
          @include font-size(9px);
          padding: .5em;

          @media all and (min-width: 960px) {
            @include font-size(11px);
            padding: .5em 1em;
          }

          color: $blue;
          text-transform: uppercase;

          &:hover,
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
@include breakpoint($desktop) {
  .mobile-menu-toggle {
    display: none;
  }

  .main-navigation {
    @include clearfix;
    background: $blue;
    margin-bottom: 40px;

    .not-front & {
      margin-bottom: 0;
    }

    .inner-wrapper {
      width: 100%;
      max-width: 1432px;
      margin: auto;
      @include clearfix;

      .region-navigation {
        padding-left: 0;
      }
    }
  }

  #block-system-main-menu {
    clear: both;

    .menu li {
      display: inline-block;
      margin-right: -4px;
      list-style-type: none;
      list-style-image: none;

      &.last{
        padding-right: 0;
        background: transparent;
      }

      a {
        @include font-size(14px);
        line-height: 1;
        display: inline-block;
        padding: 8px 2em;
        text-transform: uppercase;
        color: #fff;
        background: transparent;
        text-decoration: none;
        font-weight: bold;

        &:hover,
        &:focus {
          background: $white;
          color: $blue;
          outline: none;
        }
      }

      &.is-active-trail a {
        background: $white;
        color: $blue;
      }
    }
  }
}

// Hide the menu by default when the toggle is available.
#block-system-main-menu {
  .menu {
    @include breakpoint($mobile) {
      display: none;

      &.active {
        display: block;
      }
    }
    @include breakpoint($desktop) {
      display: block;
    }
  }
}
