/* Top Menu and Main Menu */
#block-menu-menu-top-menu {
  text-align: right;
  margin-bottom: 24px;
  .menu {
    text-align: right;
    li {
      display: inline;
      &.first {
        border-right: 1px solid $blue;
      }
      a {
        @include font-size(9px);
        padding: .5em;
        @media all and (min-width: 960px) {
          @include font-size(11px);
          padding: .5em 1em;
        }
        color: $blue;
        text-transform: uppercase;
        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.main-navigation {
  @include clearfix;
  background: $blue;
  margin-bottom: 40px;
  .not-front & {
    margin-bottom: 0;
  }
  .inner-wrapper {
    width: 100%;
    max-width: 1432px;
    margin: auto;
    @include clearfix;
    .region-navigation {
      @include zen-grid-item(10, 3);
      padding-left: 0;
    }
  }
}
#block-system-main-menu {
  clear: both;

  .menu li {
    display: inline-block;
    margin-right: -4px;
    list-style-type: none;
    list-style-image: none;
    display: inline-block;
    &.last{
      padding-right: 0;
      background: transparent;
    }
    a {
      @include font-size(14px);
      line-height: 1;
      display: inline-block;
      padding: 8px 2em;
      text-transform: uppercase;
      color: #fff;
      background: transparent;
      text-decoration: none;
      font-weight: bold;
      &:hover,
      &:focus {
        background: $white;
        color: $blue;
        outline: none;
      }
    }
    &.is-active-trail a {
      background: $white;
      color: $blue;
    }
  }
}