// overrides legacy styles
.general-left .item-list .pager li {
  background: none;
  display: inline-block;
  padding: 0 3px;
}

// new pager styles
.item-list .pager {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: left;

  li {
    font-weight: normal;
    padding-right: .2rem;
    padding-left: .2rem;
    background: none;
    margin-left: 0;

    a {
      padding: .5rem .6rem;
      color: lighten($blue, 15%);
      font-weight: normal;
      background: $light-grey;
      text-decoration: none;

      &:hover,
      &:focus {
        background: lighten($blue, 20%);
        color: $white;
      }
    }

    &.pager-current {
      padding: .5rem .6rem;
      background: lighten($blue, 20%);
      color: $white;
    }
  }
}