.back-on-top {
  display: block;
  width: 90%;
  padding: 0 5%;
  overflow: hidden;
  background: #d5d5d5;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-transform:uppercase;

  @include breakpoint($desktop) {
    display: none;
  }

  span {
    float: right;
    padding-right: 30px;
    background: url('../images/go-to-top-arrow.png') no-repeat right center;
  }
}
