@include breakpoint($tablet-large) {
  .search-link {
    display: none;
  }
}

.mobile-search-open #content {
  margin-top: 6rem;
}

.page-search .title {
  @include font-size(18px);
  float: none;
  margin-bottom: 0;

  @include breakpoint($tablet-small) {
    @include font-size(20px);
  }

  @include breakpoint($tablet-large) {
    @include zen-grid-item(11, 2);
    @include font-size(24px);
  }
}

@media all and (max-width: $desktop) {
  #block-slac-search-form {
    width: 100%;
    background: $light-blue;
    position: relative;
    top: 0;
    display: table;
    height: 95px;
  }

  a.search-link {
    display: block;
    width: 19px;
    height: 20px;
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 16px;
    right: 100px;
    background: url(../images/search.svg) 0 0 no-repeat;
  }

  .header__region input[type="text"] {
    width: 114px;
    margin-left: 0;
  }

  .form-item-search-type {
    position: absolute;
    top: 20px;
  }
}

#block-slac-search-form {
  // Hide the search form by default when the toggle is available.
  @include breakpoint($mobile) {
    display: none;

    &.active {
      position: relative;
      top: 52px;
      padding-top: 1rem;
      z-index: 1;
      background: $light-blue;
      display: block;
    }
  }
}

#slac-search-block-form {
  width: 185px;
  position: relative;
  margin-left: 8rem;
  margin-top: 0;

  @include breakpoint($tablet-small) {
    margin-left: 12.5rem;
    margin-top: 1rem;
  }

  @include breakpoint($tablet-large) {
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    background: none;
  }
}

@include breakpoint($tablet-large) {
  #block-slac-search-form {
    display: block;
    float: right;
    position: relative;
    right: 0;
    z-index: 10;
  }
}

// Search Results
@media all and (max-width: $tablet-large) {
  .views-exposed-form .views-exposed-widget {
    padding-right: 0;

    .form-submit:not(#edit-second-submit-search) {
      background: $blue url(../images/search.svg) center center no-repeat;
      background-size: 20px 20px;
      display: block;
      width: 30px;
      height: 30px;
      font-size: 0;
      color: $blue;
    }
  }
}

.page-search .views-exposed-form .views-exposed-widget {
  float: none;
}
.view-search {
  color: lighten($grey, 10%);

  .form-text {
    width: 100%;
    height: 26px;

    @include breakpoint($tablet-large) {
      width: 424px;
      height: initial;
    }

    &.bef-datepicker {
      width: 120px;
    }
  }

  .search-wrapper {
    @include clearfix;
    margin-bottom: 4rem;
    margin-top: 0;

    @include breakpoint($tablet-large) {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

    .form-type-textfield {
      margin-right: 2px;

      @include breakpoint($tablet-large) {
        float: left;
        margin-right: 10px;
      }
    }
  }

  .views-row {
    margin-bottom: 3rem;

    @media all and (max-width: $tablet-large) {
      margin-bottom: 2rem;
      padding-bottom: 1.5rem;
      border-bottom: 4px solid color(grey-blue);
    }
  }

  .view-header {
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    background: color(grey-blue-light);
  }

  .view-footer {
    @include font-size($base-font-size - 2px);
  }

  .node-title {
    margin-bottom: .2rem;
    margin-top: .3rem;
  }

  .field-name-body {

    br {
      display: none;
    }

    .field-item > p {
      margin-top: 0;
    }

    .field-item p:last-child {
      margin-bottom: .2rem;
    }
  }

  fieldset.collapsible {
    margin-bottom: 2rem;
  }

  fieldset.collapsed {
    padding: 0;
    margin-bottom: 0;
    height: 0;
  }

  legend {
    display: block;
    width: 200px;
    position: absolute;
    left: -20px;
    top: -30px;
    padding: 0;
  }

  .collapsible,
  .collapsed {
    .fieldset-title {
      display: block;
      margin-left: 3px;
      line-height: 1;
      width: 200px;
      height: 16px;
      font-weight: bold;
      color: $blue;
      background: url(../images/legend-bg.png) 160px -16px no-repeat;

      &:hover {
        text-decoration: none;
      }

      @include breakpoint($tablet-large) {
        color: $grey;
        margin-left: 0;
      }
    }
  }

  .collapsed {
    .fieldset-title {
      background-position: 160px 0;
    }
  }

  .collapsible {
    margin-bottom: 2rem;
  }

  .field-type-image {
    margin-bottom: 1rem;

    @include breakpoint($tablet-large) {
      float: left;
      margin-right: 2rem;
    }
  }

  .node-created {
    @include node-created;
  }

  .node-content-type {
    @include font-size($base-font-size - 4px);
    font-weight: normal;
    font-style: italic;
  }
}

.form-item-field-news-news-type {
  margin-top: 14px;
}

.bef-checkboxes {
  .form-type-bef-checkbox,
  .bef-select-as-checkboxes {
    margin-right: 20px;

    @include breakpoint($tablet-large) {
      float: left;
    }
  }

  label.option {
    position: relative;
    left: -10px;
  }

  input[type="checkbox"] + label:before {
    content:'';
    display: inline-block;
    position:relative;
    top: 2px;
    left:-9px;
    width:14px;
    height:14px;
    border: 1px solid $blue;
    background: $white;
  }

  input[type="checkbox"]:checked + label:before {
    background: url(../images/checkbox.png) 0 0 no-repeat;
  }
}

.form-item-field-news-news-type {
  padding-top: 1rem;
}

.exposed-date-label {
  padding-top: 1rem;
  display: block;
  clear: both;
  font-weight: bold;
}
