.slac-alert {
  color: #fff;
  background-color: #890025;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  p {
    margin: 0px;
  }
  a {
    color: #fff;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}
