.node-type-event,
.node-type-news,
.node-type-access-information {
  .pane-node-field-shared-tags {
    margin-top: 0;
    div.field-item {
      display: inline-block;
      padding: 0;
    }
    h2 {
      display: block;
      float: none;
      padding: 0;
      text-align: left;
      font-weight: bold;
      margin-top: 2em;
    }
  }
  .field-name-field-shared-tags {
    @include font-size(14px);
    a {
      @include font-size(12px);
      display: block;
      float: left;
      background: lighten($event-border, 15%);
      padding: 8px 12px;
      margin-right: 1em;
    }
    h2,
    .field-label {
      margin-top: 2em;
      margin-bottom: .2em;
    }
    .field-item {
      display: inline !important;
      a {
        margin-bottom: 1em;
      }
    }
  }
  ul.event-tags {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0.25rem;
        list-style: none;
        background: none;
    }
    a {
      @include font-size(12px);
      display: block;
      float: left;
      background: lighten($event-border, 15%);
      padding: 8px 12px;
      margin-right: 1em;
    }
  }
}

.node-type-access-information {
  .general-left {
    .pane-node-field-shared-tags,
    .field-type-taxonomy-term-reference {
      @include clearfix;
      div.field-item {
        display: block;
        float: left;
        padding: 0;
      }
    }
    .panel-pane.pane-node-field-shared-contact-phone {
        margin-top: 0 !important;
    }
  }
}
