h1.title {
  line-height: 1.2;
  margin-top: 0;

  @include breakpoint($desktop) {
    .node-type-page & {
      margin-left: calc(8.33333% + 20px);
    }
  }
}

// basic page sub title
.field-name-field-page-subtitle {
  @include font-size(20px);
  color: $headings-color;
  margin-bottom: 0.4rem;
  line-height: 1.4;
  font-weight: bold;
}
