@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    -ms-box-shadow:inset $top $left $blur $spread $color;
    -o-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    -ms-box-shadow: $top $left $blur $spread $color;
    -o-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin rounded_corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}







/* Grids */

@import "zen";


  $zen-gutter-width: 2%;  // Set the gutter size. A half-gutter is used on
                            // each side of each column.

  .container {
    @include zen-grid-container();  // Define the container for your grid items.
  }

  $zen-column-count: 12;  // Set the number of grid columns to use in this media
                          // query. You'll likely want a different grid for
                          // different screen sizes.

  .frontpage-left-col {
    @include zen-grid-item(3, 1);   // Span 3 columns starting in 1st column.
  }

  .frontpage-right{
    @include zen-grid-item(9, 4); 
  }

  .frontpage-help-market{
    @include zen-grid-item(6, 1); 
  }

  .frontpage-security-contacts{
    @include zen-grid-item(6, 7); 
  }

  .general-two-col .general-left{
    @include zen-grid-item(9, 1);
  }

  .general-two-col .general-right{
    @include zen-grid-item(3, 10);    
  }

  .rowonecolone,
  .rowtwocolone{
    @include zen-grid-item(4, 1);  
  }
  
  .rowonecoltwo,
  .rowtwocoltwo{
    @include zen-grid-item(4, 5);  
  }

  .rowonecolthree,
  .rowtwocolthree{
    @include zen-grid-item(4, 9);  
  }



  $zen-column-count: 9;
  .frontpage-middle-col {
    @include zen-grid-item(5, 1);
  }
  .frontpage-right-col {
    @include zen-grid-item(4, 6);
  }

@media (min-width: 901px){
// fix frontpage layout
.frontpage-left-col {
  padding-left: 0;
  padding-right: 2.5%;
}
.frontpage-right{
  padding-left: 0;
  padding-right: 0;
  .frontpage-middle-col {
    width: 58.05556%;
    padding-left: 0;
    padding-right: 3.33%;
    margin-right: -58.05556%;
  }
  .frontpage-right-col {
    width: 41.94444%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 58.05556%;
  }
}
}
// IE8 fix
.lt-ie9{
// fix frontpage layout
.frontpage-left-col {
  padding-left: 0;
  padding-right: 2.5%;
}
.frontpage-right{
  padding-left: 0;
  padding-right: 0;
  .frontpage-middle-col {
    width: 58.05556%;
    padding-left: 0;
    padding-right: 3.33%;
    margin-right: -58.05556%;
  }
  .frontpage-right-col {
    width: 41.94444%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 58.05556%;
  }
}
}


@media (max-width: 900px) {

  $zen-column-count: 12;
  $zen-gutter-width: 1.5%; 
  .frontpage-left-col {
    @include zen-grid-item(5, 1); 
  }

  .frontpage-right{
    @include zen-grid-item(7, 6); 
  }
  
  .frontpage-middle-col,
  .frontpage-right-col, 
  .frontpage-help-market,
  .frontpage-security-contacts{
    @include zen-grid-item(12, 1); 
    @include zen-clear();
  }

  $zen-column-count: 10;

  .staff-top{
    @include zen-grid-item(9, 1);  
  }

  .rowonecolone,
  .rowonecolthree,
  .rowtwocoltwo{
    @include zen-grid-item(5, 1);  
  }  
  .rowonecoltwo,
  .rowtwocolone,
  .rowtwocolthree{
    @include zen-grid-item(5, 6);  
  }
}

@media (max-width: 620px) {

  
  $zen-column-count: 5;

  .frontpage-left-col,
  .frontpage-right,
  .frontpage-middle-col,
  .frontpage-right-col,
  .general-two-col .general-left,
  .general-two-col .general-right,
  .staff-top{
    @include zen-grid-item(5, 1);  
    @include zen-clear();
  }



}



