@import "mixins";

.collapse-block{display: none;}
.frontpage-right{
  margin-bottom: 20px;
}

.frontpage-left-col{
  margin-top: 74px;
}

.brown-bodered-white {
  padding: 0;
  margin-bottom: 36px;
  color: #5d5d5d;background: #fff;
  border: 1px solid #d1c9b9;
  @include rounded_corners(2px);
  > div{
    padding: 12px;
    &.contextual-links-wrapper{
      padding: 0;
    }
  }
  h2{
    margin: -13px 0 0 0;
    font-size: 0.85em;
    text-transform: uppercase;
    color: #94753F;
    line-height: normal;
  }
}

.frontpage-links{
  .pane-title{
    display:none;
  }
  .menu{
    padding: 12px;
    padding-bottom: 2px;
    overflow: hidden;
  }
}

.pane-organization > div{
  padding-bottom: 2px;
}

.frontpage-people-finder .brown-bodered-white{
  margin-top: 12px;
}

.pane-boxes-stanford-compliance .pane-title{
  font-size: 11px;
  margin-top: -12px;
}

.blue-bodered-white {
  margin-bottom: 36px;
  background: #fff;
  border: 1px solid #aebdc5;
  @include rounded_corners(2px);
  color: #393939;
  .pane-title {
    margin: 0;
    font-size: 0.85em;
    text-transform: uppercase;
    background: url(../images/title-striped-bg.jpg) repeat;
    color: #fff;
    padding-left: 20px;
    line-height: 22px;
    a {
      color: inherit;
    }
  }
  > div {
    padding: 12px;
    &.contextual-links-wrapper{
      padding: 0;
    }
  }
}

.blue-dashed-list {
  ul.menu li, .views-row {
    list-style-type: none;
    list-style-image: none;
    float: left;
    width: 47%;
    font-size: 12px;
    margin-bottom: 10px;
    a{
      display: block;
      padding: 5px 8px;
      background: #f1f1f1;
      border: 1px dashed #90a7b2;
    }
  }
  ul.menu li.odd, .views-row-odd {
    margin-right: 6%;
    clear: both;
  }
}

.frontpage-news-list .blue-bodered-white{
  margin-top: 20px;
}
.frontpage-slac-science .blue-bodered-white{
  margin-bottom: 24px;
}
.brown-bodered-white .view-footer, .blue-bodered-white .view-footer, #boxes-box-weather_traffic small {
  width: 100%;
  clear: both;
  border-top: 1px dashed #b8c9d1;
  padding: 12px 0 0;
  margin-top: 3px;
  font-size: 11px;
  line-height: 15px;
}

.brown-bodered-white .view-footer a, .blue-bodered-white .view-footer a, #boxes-box-weather_traffic small a, .switch-link a {
  background: url(../images/arrow-dot-line.png) no-repeat left center;
  padding-left: 15px;
}



.frontpage-people-finder {
  input {
    margin: 0;
    padding: 0;
    float: left;
    outline: none;
  }
  .searchbox {
    height: 21px;
    line-height: 21px;
    background: #ebebeb;
    border: 1px solid #cecdce;
    margin-right: 7px;
    padding: 0 5px;
    width: 64%;
    font-size: 12px;
    color: #535353;
  }
  .searchbutton {
    width: 28px;
    height: 23px;
    border: none;
    background: #276cbd;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
  }
  .advanced-search {
    display: block;
    clear: both;
    padding: 7px 0 0 15px;
    font-size: 11px;
    background: url('../images/arrow-dot-line.png') no-repeat left 12px;
  }
}

.frontpage-calendar {
  .views-field-nothing,
  .views-field-title{
    padding-right: 18px;
  }
  .views-field-nothing-1 {
    position: relative;
    float: right;
    bottom: 20px;
    margin-bottom: -100%;
  }

  .views-row-grouped {
    clear: both;
    color: #20659A;
  }
  h3 {
    margin: 0;
    float: left;
    color: #94753F;
    width: 18%;
    text-transform: uppercase;
    text-align: center;
  }
  .month{
    font-size: 0.7em;
    display: block;
    font-weight: bold;
  }
  .day{
    font-size: 1em;    
    font-weight: normal;
    display: block;
    margin-top: -0.6em;
  }
  .views-row-grouped {
    .views-row-last {
      background: url('../images/dotted-bottom-border.png') no-repeat 0 bottom;
    }
    &:first-child{
      .views-row-first{
        padding-top: 0;
      }
    }
  }
  .views-row {
    float: right;
    width: 76%;
    border-left: 1px dashed #b8c9d1;
    padding: 0 0 10px 5%;
    font-size: 11px;
  }
  .views-row.views-row-first{
    padding-top: 10px;
  }
  .views-row:hover {
    text-decoration: underline;
  }
  .views-field-title {
    font-weight: bold;
  }
  .view-footer {
    border: none;
  }
  .more{
    display: block;
    clear: both;
    padding-top:0;
    a{
      font-size: 11px;
    }
  }
}

.frontpage-access-info {
  .views-row {
    margin-bottom: 10px;
    font-size: 11px;
    div {
      display: inline;
    }
  }
}

.frontpage-weather {
  .current {
    padding-bottom: 0;
    margin-bottom: 10px;
    overflow: hidden;
    h2 {
      font-size: 1em;
      text-transform: none;
      font-weight: bold;
      padding: 10px 0 5px;
      color: #5D5D5D;
    }
    .temp {
      float: left;
    }
  }
  .temp-nr {
    background: url('../images/far.jpg') no-repeat right 3px;
    font-size: 24px;
    color: #472725;
    padding-right: 15px;
    float: left;
  }
  .current {
    .condition {
      font-size: 12px;
      color: #706a65;
      font-weight: bold;
      text-transform: capitalize;
      float: left;
      margin: 2px 0 0 5px;
    }
    .icon {
      float: right;
      width: 75px;
      margin: -25px -8px 0 0;
    }
  }
  .forecast {
    padding-top: 0;
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    ul:after{
      content: "";
      display: table;
      clear: both;
    }
    li {
      float: left;
      width: 32.5%;
      text-align: center;
      border-left: 1px solid #ececec;
      &:first-child {
        border: none;
      }
    }
    img{
      display: block;
      width: 75%;
      margin: 0 auto;
    }
    .day {
      display: block;
      font-size: 0.8em;
    }
    .hight {
      padding: 0 6px 0  4px;
      font-size: 11px;
      background: url('../images/grade-dark.jpg') no-repeat right 3px;
    }
    .low {
      padding: 0 6px 0  4px;
      font-size: 11px;
      background: url('../images/grade-dark.jpg') no-repeat right 3px;
      color: #b6afa6;
      background: url('../images/grade-light.jpg') no-repeat right 3px;
    }
    .switch-link{
      display: block;
      padding-top: 12px;
      a{
      	font-size:11px;
        position: static;
        float: none;
        color: #20659A;
        line-height: 15px;
      }
    }
  }
  #boxes-box-weather_traffic{
    padding-top: 0;
    small {
      border: none;
      display: block;
    }
  }
  #map-canvas {
    width: 100% !important;
  }
}

/* Front page top links block*/


.frontpage-top-links{
  .mobile{
    display:none;
  }
}

.pane-top-links{
  .item-list ul{
    width: 100%;
    .views-row{
      float: left;
      width: 48%;
      margin: 0 0 7px;
      a{
        padding-left: 12px;
        font-size: 12px;
        background: url("../images/list-dot.png") no-repeat 0 7px;
      }
    }
    .views-row-even{
      margin-left: 4%;
    }
  }
}

.pane-staff-resource-modern{
  table{
    margin: 0;
    border-collapse: collapse;
  }
  td{
    width: 50%;
    padding-bottom: 7px;
  }
  .views-field-name a{
    padding-left: 12px;
    font-size: 12px;
    background: url("../images/list-dot.png") no-repeat 0 7px;
    }
    .col-last{
      width: 46%;
      padding-left: 4%;
    }
}
.section-a-z{
  .views-field-name a{
    background: transparent;
  }
}

/* Front page right sidebar boxes */


@media (min-width: 901px) {
.frontpage-help-market,
.frontpage-security-contacts{
  width: 48% !important;
}
.frontpage-help-market{
  padding-left: 0 !important;
  padding-right: 2% !important;
}
.frontpage-security-contacts{  
  padding-left: 2% !important;
  padding-right: 0 !important;
  margin-left: 52% !important;
}
}

.frontpage-security-contacts p, 
.pane-boxes-it-help-desk p {
  margin: 0 0 8px 0;
  font-size: 12px;
}

.pane-views-flea-market-block {
  .views-row {
    font-size: 11px;
    padding: 8px 0;
    border-top: 1px dashed #b8c9d1;
  }
  .views-row-first {
    padding-top: 0;
    border-top: none;
  }
}

.pane-boxes-slac-projects .boxes-box-content {
  overflow:hidden;
  img{
    display: block;
    float: left;
    margin: 0 20px 0 0;
  }
  li {
    color: #20659A;
    list-style-type: none;
    list-style-image: none;
    font-size: 12px;
    margin-bottom: 7px;
  }
}

a.submit-feedback {
  background: #2482c9;
  width: 110px;
  height: 17px;
  line-height: 17px;
  margin: auto;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 9px;
  text-decoration: none;
  @include box-shadow(2px, 2px, 5px, 1px, rgba(0, 0, 0, 0.2));
}

/* Socials */

.socials {
  overflow: hidden;
  li {
    float: left;
    list-style-image: none;
    list-style-type: none;
    overflow: hidden;
    background: url('../images/socials.png') no-repeat;
    width: 16.666%;
    min-width: 16px;
    height: 16px;
    a {
      display: block;
      height: 1px;
      padding-top: 30px;
      overflow:hidden;
    }
  }
  .fb {
    background-position: center 0;
  }
  .gplus{
    background: url('../images/googleplus-icon.png') no-repeat center center;
  }
  .flickr {
    background-position: center -20px;
  }
  .rss {
    background-position: center -40px;
  }
  .twitter {
    background-position: center -60px;
  }
  .youtube {
    background-position: center -80px;
  }
}

/* Front middle general */

.frontpage-slac-science,
.frontpage-news-list{
  .views-row {
    padding-left: 12px;
    background: url('../images/list-dot.png') no-repeat 0 7px;
    .views-field-title,
    .views-field-created{
      display: inline;
      font-size: 12px;
      line-height: 1.85em;
    }
    .views-field-created{
      color: #5D5D5D;
      font-style: italic;
      font-size: 11px;
    }
  }
}
.frontpage-slac-science .view-header {
  margin: -12px;
  margin-bottom: 12px;
  .view-content{
      position: relative;
      overflow: hidden;
  }
  div{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.section-about .field-type-text-with-summary{
  p{
    padding-bottom: 20px;
    margin-bottom: 0 0 20px 0;  
    border-bottom: 1px dashed #b1c2ca;
    color: #45464C;
  }
  li{
    margin-left: 2.5%;
    width: 97.5%;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 12px;
    line-height: 20px;
  }
}

.back-on-top{
  display: block;
  width: 88%;
  padding: 0 6%;
  overflow:hidden;
  background: #d5d5d5;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-transform:uppercase;
  display: none;
}
.back-on-top span{
  float: left;
  padding-right: 30px;
  background: url('../images/go-to-top-arrow.png') no-repeat right center;
}




/* Front slider */

.jcarousel-container-horizontal{
  overflow: hidden;
}
.jcarousel-item {
  position: relative;
  line-height: 0;
  .views-field-nothing {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 588px;
    height: auto;
    background: url('../images/transparent-blue-bg.png') repeat;
    color: #fff;
    line-height: 18px;
    line-height: normal;
    .title a{
      display: inline;
      color: #fff;
      text-decoration: none;
      font-size: 1.2em;
      line-height: normal;
      border-bottom: 1px dashed transparent;
    }
    .body{
      display: inline;
      max-height: 80px;
      color: #dddddd;
      font-size: 0.8em;
      line-height: 20px;
      overflow: hidden;
      border-bottom: 1px dashed transparent;
  }
    &:hover {
      background: #2682ca;
      .title a,
      .body{
        border-color: #fff;
      }
    }
    .title-body {
      width: 94%;
      padding: 10px 3%;
    }
  }
}

.jcarousel-navigation {
  position: absolute;
  right: 15px;
  top: 10px;
  width: auto;
  height: auto;
  z-index: 99;
  li {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    text-indent: -9000px;
    text-transform: capitalize;
    background: url('../images/slider-pager.png') no-repeat 0 0;
    overflow: hidden;
    a {
      display: block;
      width: 20px;
      height: 20px;
    }
    &.active {
      background-image: url('../images/slider-pager-active.png');
    }
  }
}

.jcarousel-prev-horizontal,
.jcarousel-next-horizontal{
    position: absolute;
    top: 40%;
    width: 30px;
    height: 70px;
    display: block;
    overflow: hidden;
    @include rounded_corners(10px);
    z-index: 99;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    display: block;
}
.jcarousel-prev-horizontal{
  left: 20px;
  background: url('../images/slider-back.png') no-repeat center;
}
.jcarousel-next-horizontal{
  right: 20px;
  background: url('../images/slider-next.png') no-repeat center;
}

@media (max-width: 1600px) {
  .frontpage-news-slider .views_slideshow_slide img,
  .frontpage-slider-mobile .views_slideshow_slide img{
    height: auto;
  }
}

@media (max-width: 1318px) and (min-width: 901px) {
  .pane-boxes-stanford-compliance{
    margin-top: 44px !important;
  }
    
  .pane-boxes-stanford-compliance h2{
    margin-top: -26px !important;
  }
}

.frontpage-directorate-links{
  .view-content:after{
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 900px) {


  .collapse-block{
    display: block;
    height: 30px;
    padding-right: 40px;
    line-height: 30px;
    text-align: right;
    color: #20659A;
    background: #e9f2f9 url("../images/collapse.png") no-repeat right center;
    cursor: pointer;
    .section-research-resources &{
      display: none;
    }
  }
  .brown-bodered-white h2 {
    font-size: 11px;
    margin-top: -12px;
  }
  .blue-striped-list {
    > .pane-content {
      padding: 10px;
    }
    .view-content .views-row {
      background: #e9f2f9;
      border: none;
      font-size: 14px;
      width: 46%;
      margin-top: 7px;
      margin-bottom: 7px;
      a {
        background: none;
        padding: 0;
        line-height: normal;
        padding: 6px 7%;
        width: 86%;
        float: left;
      }
    }
  }
  .frontpage-news-slider .views-field-nothing .body, .frontpage-slac-science .view-header .views-field-nothing .body{
    display: none !important;
  }

  .frontpage-top-links .desktop{display: none;}
  .frontpage-top-links .mobile{display: block;}

  .frontpage-directorate-links{
    .views-row a{
      background-color: #e9f2f9;
      border: none;
      font-size: 14px;
    }
    .views-row-last{
      margin-bottom: 0;
    }
  }

  .frontpage-top-links .view-content .views-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
    &.views-row-last{
      margin-bottom: 7px;
    }
  }

  .frontpage-calendar h3{
    margin-left: -10px;
  }

  .frontpage-calendar {
    .views-field-nothing,
    .views-field-title{
      padding-right: 25px;
    }
  }

  .frontpage-help-market,
  .frontpage-security-contacts{
    clear: both;
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .back-on-top{display: block;}
}


@media (max-width: 620px) {

  .jcarousel-item .views-field-nothing{
    position: relative;
    background: #fff;
    .title a{
      color: #3b78a7;
    }
    &:hover{
      background: #fff;
      .title a{
        border-color: #3b78a7;
      }
    }
  }

  .jcarousel-prev-horizontal, .jcarousel-next-horizontal,
  .jcarousel-navigation{
    display: none;
  }

  /**/
  .front #content{
    position: relative;
  }
  .layoutfix.frontpage-left-col{
    position: absolute;
  }

  .frontpage-news-slider{
    margin-bottom: 36px;
  }
  .frontpage-slider-mobile{
    display: block;
  }
  .frontpage-calendar {
    display: block;
  }
  .pane-organization > div{
    padding-bottom: 12px;
  }
  /* People search*/
  .no-bg {
    background: transparent;
    border: none;
    &.brown-bodered-white {
      margin-top: 0;
      > .pane-content {
        padding: 0;
      }
    }
  }

  .frontpage-people-finder{
    display: none;
  }

  /* Middle blocks */
  .blue-bodered-white {
    .pane-title {
      
      font-size: 12px;
      height: 32px;
      line-height: 32px;
      margin-bottom: 20px;
      background: #a8bcc7 url('../images/blue-arrow.jpg') no-repeat right center; 
      .frontpage-news-list & {
        padding-left: 0;
        background: none;
      }
      
      a {
        display: block;
        .frontpage-news-list & {
          padding-left: 20px;
          background: #a8bcc7 url('../images/blue-arrow.jpg') no-repeat right center;          
        }

      }
    }
    > div {
      padding: 0;
    }
    .view-footer {
      display: none;
    }
    .views-field-created {
      font-size: 12px;
      padding-left: 12px
    }
  }

  /* slac science block */
  .frontpage-slac-science,
  .frontpage-news-list{
    .view-header {
      position: relative;
      margin: 0 0 20px 0;
    }
    .blue-bodered-white > div > .view-content{
      .views-row{
        background: #fff url(../images/list-arrow.jpg) no-repeat right center;  
        min-height: 60px;
        margin-bottom: 20px;
        padding-left: 0;
        overflow: hidden;
        a {
          display: block;
          font-size: 1.2em;
          padding-top: 10px;
          padding-right: 60px;
          padding-left: 12px;
                  
        }
      }
    }
  }

  .frontpage-news-list .blue-bodered-white{
    margin-top: 0;
  }

  .frontpage-directorate-links{
    .views-row{
      width: 100%;
      margin: 0;
      margin-bottom: 14px;
      &.views-row-last{
        margin-bottom: 0;
      }
      a{
        float: none;
        width: 86%;
        padding: 6px 7%;
      }
    }
  }

  /* Socials */
  .socials {
    li {
      min-width: 24px;
      height: 24px;
      background: url('../images/socialsx24.png') no-repeat;
    }
    .flickr {
      background-position: center -30px;
    }
    .rss {
      background-position: center -60px;
    }
    .twitter {
      background-position: center -90px;
    }
    .youtube {
      background-position: center -120px;
    }
    .gplus{
      background-size: 24px 24px;
    }
  }
  /* Feedback page */
  .section-feedback article .form-actions {
    width: 96%;
    padding: 5px 2% 0;
    input {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .section-research-resources .general-right,
  .section-staff-resources-classic .general-right,
  .section-a-z .general-right{
    display: none;
  }

  .frontpage-calendar h3{
    margin-left: 0;
  }

  .back-on-top{display: block;}
}

.messages{
  min-height: 40px;
  float: none;
}

.messages li{
  padding: 5px 0;
}

/* Front slider */

.frontpage-slider-mobile > div{
  margin-bottom: 36px;
  .views-slideshow-controls-top{
    display: none;
  }
  .views_slideshow_slide{

    .views-field-nothing{
      background: #fff;
      .title a,span{
        color: #20659A;
      }
    }
  }
}

.frontpage-news-slider,
.frontpage-slider-mobile{
  position: relative;
  .views_slideshow_main:hover .views_slideshow_slide .views-field-nothing{
    background: rgb(38,130,202);
  }
  div{
    background: transparent;
  }
  .views-slideshow-cycle-main-frame{
    position: relative;
		overflow: hidden;  
  }
  .views_slideshow_slide{
		width: 100%;
    img{
      display: block;
      //height: 378px;
			max-width: none\9;
			width: 100%\9;
      border: none;
      margin:auto;
    }
    .views-field-field-news-image {
      .field-content {
        background:white; 
      } 
    }
    .views-field-nothing{
      position: absolute;
      bottom: 0;
      left: -5%;
      right: -5%;
      width: 110%;
      height: auto;
      background: url('../images/transparent-blue-bg.png') repeat;
      color: #fff;
      line-height: 18px;
      &:hover{
        .title a{
          border-color: #fff;
        }
        .body{
          border-color: #ffffff;
        }
      }
      span{
        display: block;
        margin: 10px 7.5%;
      }
      .title a{
        display: inline;
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        line-height: normal;
        border-bottom: 1px dashed transparent;
      }
      .body{
        display: inline;
        max-height: 80px;
        color: #ffffff;
        font-size: 0.8em;
        line-height: 1.4em;
        overflow: hidden;
        border-bottom: 1px dashed transparent;
      }
    }
  }
	.views-slideshow-controls-bottom {
		background-color: #acbccb;
    padding: 9px 12px;
    position: relative;
    text-align: center;
	}
  .views-slideshow-controls-text span {
		&.views-slideshow-controls-text-previous,
		&.views-slideshow-controls-text-next {
			height: 38px;
			padding: 5px;
			position: absolute;
			top: 0;
			width: 50px;
			z-index: 10;
			-moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
			> a {
				background: url('../images/nav-slider.png') no-repeat scroll transparent;
				width: 16px;
			}
		}
		&.views-slideshow-controls-text-previous {
			left: 0;
			> a {
				background-position: left top;
			}
			&:hover a {
				background-position: left bottom;
			}
		}
		&.views-slideshow-controls-text-next {
			right: 0;
			> a {
				background-position: -16px 0;
				float: right;
			}
			&:hover a {
				background-position: -16px -28px;
			}
		}
		&.views-slideshow-controls-text-pause {
			left: 50%;
			margin-left: 46px;
			padding: 9px 0;
			position: absolute;
			top: 0;
			width: 20px;
			z-index: 5;
			> a {
				background: url("../images/nav-slider.png") no-repeat scroll -32px -4px transparent;
				height: 20px;
			}
			&:hover > a {
				background-position: -32px -32px;
			}
			&.views-slideshow-controls-text-status-pause {
				> a {
					background-position: -53px -4px;
				}
				&:hover > a{
					background-position: -53px -32px;
				}
			}
		}

    a {
      display: block;
			outline: none;
      height: 100%;
      text-indent: -9000px;
      text-transform: capitalize;
    }
  }
  .views-slideshow-pager-fields{
		display: inline-block;
		.views-slideshow-pager-field-item, .pager-item {
			background: url('../images/nav-slider.png') no-repeat scroll right -4px transparent;
			cursor: pointer;
			display: inline-block;
			height: 20px;
			margin: 0 5px;
			position: relative;
			text-indent: -999em;
			width: 20px;
			z-index: 8;
			&.active, &:hover {
        background-position: right -32px;
      }
			.views-field-counter, .views-content-counter {
				height: 0\9;
			}
		}
		.pager-item {
			height: 1px;
			visibility: hidden;
		}
  }
}

.frontpage-slider-mobile{display: none;}

.frontpage-slac-science .view-header{
  &:hover .views-field-nothing{
    background: rgb(38,130,202);
  }
  .views-field-nothing {
    position: absolute;
    bottom: 0;
    left: -5%;
    right: -5%;
    height: auto;
    width: 100%;
    padding: 0 5%;
    margin: 0;
    background: url('../images/transparent-blue-bg.png') repeat;
    color: #fff;
    line-height: 18px;
    &:hover{
      .title a{
        border-color: #fff;
      }
      .body{
        border-color: #dddddd;
      }
    }
    span{
      display: block;
      width: 96%;
      margin: 10px auto;
      a{
        display: block;
        margin: 0;
      }
    }

    .title a {
      display: inline;
      color: #fff;
      text-decoration: none;
      font-size: 1.2em;
      line-height: normal;
      border-bottom: 1px dashed transparent;
    }

    .body{
      display: inline;
      max-height: 80px;
      font-size: 0.8em;
      line-height: 1.4em;
      color: #dddddd;
      overflow: hidden;
      border-bottom: 1px dashed transparent;
    }
  }
}
