
@import "mixins";


/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
  font-size: 14px;
}


/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

.header-wrapper, #content, .region-footer {
  width: 100%;
  max-width: 1432px;
  margin: auto;
}

/*.header-wrapper, .region-footer{
  padding: 0 2%;
  max-width: 1382px;
  width: 96%;
}*/

header, .content-wrapper, .footer-wrapper {
  width: 98%;
  padding: 0 1%;
}

.not-front #content {
  width: 100%;
  max-width: 1432px;
  padding: 80px 0 32px;
  margin: auto;
  background: #fbf9f9;
}

.lt-ie9 .not-front #content > *{
  padding: 0 32px;
}

@media (max-width: 1447px){
  .frontpage-links ul.menu li a{
    height:  30px;
  }
}

@media (max-width: 970px){
  .frontpage-links ul.menu li a{
    font-size: 11px;
  }
}

@media (min-width: 900px){
  .not-front #content > *{
    padding: 0 32px;
  }
}

.grippie {
  display: none;
}

#skip-link {
  margin: 0;
}

a {
  color: #20659A;
  text-decoration: none;
  &:hover,
  &:active{
    text-decoration: underline;
    outline: 0;
  }
}

/*
 * Header
 */

header {
  background: url('../images/header-bg.jpg') repeat-x;
  height: 74px;
}

.logo {
  width: 23%;
  float: left;
  a {
    display: block;
    max-width: 148px;
    min-width: 88px;
    width: auto;
    margin: auto;
    margin-bottom: -55px;
  }
}

#name-and-slogan {
  display: none;
}

.region-header {
  float: right;
  .block {
    float: left;
  }
}

.front{ 
  #page-title{
    display:none;
  }
  #main{
    display:block;
    margin-top: 20px;
  }
}


/* Header Main Menu, Search*/

#block-system-main-menu{
  float: right;
  .menu li {
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 11px;
    list-style-type: none;
    list-style-image: none;
    float: left;
    padding: 0 13px;
    background: transparent url('../images/delimitator.jpg') no-repeat right center;
    &.last{
      padding-right: 0;
      background: transparent;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

#block-boxes-web-search{
  margin-left: 2%;
}

#block-boxes-web-search,
#block-boxes-search-people{
  width: 48.5%;
  background: #fff;
  height: 24px;
  margin-top: 12px;
  float: right;
  clear: right;
  form{
    position: relative;
    height: 24px;
    width: 100%;
    overflow: hidden;
  }
  input {
    border: none;
    background: transparent;
    outline: none;
    height: 24px;
    font-size: 0.85em;
    color: #535353;
  }
  input[type="text"]{    
    padding-left: 7px;
    max-width: 100%;
    min-width: 80%;
    width: auto;
  }
  input[type="image"]{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .search-button {
    width: 26px;
    height: 22px;
    margin: 1px;
    float: right;
  }
  .front &{
    background: #ebebeb;
  }
}

#block-boxes-web-search input[type="text"]{
  color: #666;
  text-transform: lowercase;
}

#block-boxes-search-people{
  position: relative;
  clear:none;
  .searchbutton{
    position: absolute;
    bottom: 1px;
    right: 1px;
    background: #2582CA;
    color: #F2F2F2;
    padding: 0;
    font-size: 11px;
    text-transform: uppercase;
    width: 26px;
    height: 22px;
  }
  .advanced-search{display: none;}
}

/*
 * Content
 */
.general-left {
  ul li a {
    font-size: 13px;
  }
  .item-list {
    ul {
      padding-bottom: 10px;
    }
    ul li,
    ol li {
      padding: 3px 0 3px 11px;
      margin: 0;
      font-size: 12px;
      clear: both;
      display: block;
      background: url('../images/list-dot.png') no-repeat 0 9px;
    }
  }
  .views-row {
    padding: 5px 0 5px 11px;
    margin: 0;
    font-size: 14px;
    clear: both;
    display: block;
    background: url("../images/list-dot.png") no-repeat 0 12px;
  }
}

.right-block {
  h2, h3 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    line-height: normal;
    padding: 0 0 2px 0;
  }
  .pane-content,
  .view-related-resources,
  ul{
    border: 1px dashed #b4c2cb;
    border-top: 2px solid #988055;
    background: #f5f5f5;
    padding: 13px 8% 20px;
    font-size: 11px;
  }
}

.staff-main .right-block .pane-content .view-content ul {
  border: 1px dashed #b4c2cb;
  border-top: 2px solid #988055;
  background: #f5f5f5;
  padding: 13px 8% 20px;
  font-size: 11px;
}

.right-block .views-row{
  padding: 4px 0 4px 10px;
  display: block;
  background: url('../images/right-list-arrow.jpg') no-repeat 0 9px;
}

.right-block .views-row a {
  font-weight: bold;
  padding-right: 15px;
  padding-left: 3px;
  background: url('../images/right-list-icon.png') no-repeat right 2px;
}

.not-front #page-title {
  margin-top: 7px;
  font-size: 24px;
  color: #46494B;
}

.not-front .general-left{
  padding-left: 0 !important;
  padding-right: 2% !important;
}
.not-front .general-right{
  padding-left: 2% !important;
  padding-right: 0 !important;
}

.general-right {
  .inside {
    border-left: 4px solid #d1d0d0;
    padding: 0 0 0 13%;
    overflow: hidden;
  }
  .right-block p {
    margin: 30px 0 10px;
    &:first-child{
      margin: 0 0 10px;
    }
  }
  .pane-boxes-feedback {
    width: 98%;
    padding: 0;
    float: none;
    margin: 30px auto auto;
    border: 1px dashed #b1c2ca;
    a.submit-feedback {
    @include box-shadow(0px, 0px, 0px, 0px, rgba(0, 0, 0, 0));
    width: auto;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px  7px;
    padding: 5px 0;
    height: auto;
  }
  }
}
  
.rowonecoltwo ul,
.rowonecolthree ul{
  min-height: 311px;
}

.rowtwocolone ul,
.rowtwocoltwo ul,
.rowtwocolthree ul{
  min-height: 165px;
}

/*
 * Footer
 */

.footer-wrapper {
  background: #DADADA;
  margin: 0;
}

.region-footer {
  padding-bottom: 14px;
  overflow: hidden;
  background: url('../images/footer-logos.jpg') no-repeat right center;
}

.footer-info {
  width: 40%;
  border-bottom: 2px solid #b4b4b5;
  color: #4d4c4d;
  font-size: 12px;
  line-height: 18px;
  padding: 14px 0 6px;
}

footer .block-menu {
  padding-top: 9px;
  float: left;
  h2 {
    display: none;
  }
  li {
    float: left;
    font-size: 11px;
    padding-left: 7px;
    background: url('../images/list-dot.png') no-repeat left;
    margin-right: 25px;
  }
}


.section-thankyou{ 
  .title{
    margin-left: 0.7%;
    width: 99.3%;
    margin-bottom: 5px;
  }  
  p{
    margin: 0;
  }
  #content .general-left{
    padding-bottom: 20px;
    border-bottom: 1px dashed #b1c2ca;
  }
  #content .general-right .inside{
    padding: 0 0 0 13%;
    margin: 0 !important;
  } 
}

#mobile-menu-wrap{
  display: none;
}

.not-front.section-staff-resources #content > div{
  max-width: 900px;
  width: auto;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .logo {
    width: auto;
    float: left;
    margin-left: 5%;
  }

  .frontpage-links,
  .frontpage-projects,
  .frontpage-help-market,
  .pane-boxes-stanford-compliance,
  .frontpage-weather {
    display: none;
  }

  .footer-wrapper {
    background: #979797;
    margin-bottom: 0;
  }
  .region-footer {
    background: url('../images/small-footer-logos.jpg') no-repeat right center;
  }
  .footer-info {
    border-bottom-color: #fff;
    width: 60%;
    color: #fff;
  }
  .region-footer a {
    color: #fff;
  }
  footer .block-menu li {
    background: url('../images/list-white-dot.jpeg') no-repeat left;
  }

  .rowonecoltwo ul{
    min-height: 298px;
  } 

  .rowonecolthree ul{
    min-height: 0;
  }

  .rowtwocolone ul{
    min-height: 88px;
  }

  .frontpage-left-col{
    margin-top: 0px;
  }

  .front #main {
    margin-top: 80px;
  }
  
  .not-front{
    &.section-staff-resources #content {
      background-color: transparent;
    }
    &.section-feedback #content{
      background-color: #fff;
    }
    #content{
      padding-top: 50px;
    }
    #content > div,
    #content > article{
      width: 94%;
      margin: 0 3%;
    }
    #content > #page-title{
      margin-left: 3%;
    }
  }
}

@media ( max-width: 800px) {
/*  .section-research-resources .general-two-col,
  .section-a-z .general-two-col{
    .general-left{
      width: 100%;
      margin-right: 0;
    }
    .general-right{
      display: none;
    }
  }*/
  #block-system-main-menu .menu li{
    background: none;
    padding: 0 5px;
    font-size: 8px; 
  }

  // Thank you page
  .section-thankyou{
    #content .general-right{
      display: none;
    }
  }

  .not-front .general-left{
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
  .not-front .general-right{
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
}

@media ( min-width: 620px) {
.section-research-resources .view-grouping-content {
  display: block !important;
  }
}

@media (max-width: 620px) {

  #block-boxes-web-search,
  #block-boxes-search-people{
    display: none;
    margin-top: 0;
  }

  .frontpage-right-col{
    margin-top: 15px;
  }

  .frontpage-security-contacts{
    margin-top: -12px;
  }

  .not-front #content {
    background-color: transparent;
    padding-top: 50px;
  }

  .not-front.section-feedback{
    #content{
      background-color: transparent;
    }
    #edit-actions{
      float: none;
    }
  }

  .frontpage-right{
    float: none;
    overflow: hidden;
  }

  header {
    background: #2482c8;
    height: 30px;
  }
  .general-two-col {
    .general-left, .general-right {
      width: 100%;
      clear: both;
    }
  }
  .logo a {
    width: 88px;
    margin-bottom: -49px;
  }
  .content-wrapper, .footer-wrapper {
    width: 96%;
    padding: 0 2%;
  }
  
  .general-right  {
    margin-top: 30px;
  }

  .general-right .inside{
    border:none;  
    padding: 0;
    width: 100%;
  }

  footer.region-footer {
    padding-bottom: 70px;
    background-position: bottom left;
  }
  footer .footer-info {
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  
  .rowonecoltwo ul,
  .rowonecolthree ul,
  .rowtwocolone ul,
  .rowtwocoltwo ul,
  .rowtwocolthree ul{
    min-height: 0;
  }

  .region-header {
    .block-menu,
    #block-boxes-web-search{
      display: inline-block;
      width: 90px;
      clear: right;
      height: 30px;
      background: url('../images/menu-button.png') no-repeat center 0;
      cursor: pointer;
      float: none !important;
    }
    #block-boxes-web-search {
      width: 40px;
      margin-left: 0;
      margin-right: 10px;
      background: url('../images/small-screen-search.png') no-repeat center 0;
    }
    > .block {
      div, ul {
        display: none;
      }
    }
  }

  .not-front{
    #content > div,
    #content > article{
      width: 100%;
      margin: 0;
    }
    #content > #page-title{
      margin-left: 0;
    }
  }


  /* mobile menu */
  #mobile-menu-wrap{
    display: block;
  }

  .mobile-menu{
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 33px;

    li{
      width: 75%;
      padding: 0 12.5%;
      border-bottom: 3px solid #ffffff;
      background-color: rgb(233,242,249);
      background-image: url(../images/mobile-menu-arrow.png);
      background-repeat: no-repeat;
      background-position: 10% center;

      &.last{
        border-bottom: none;
      }

      a{
        padding-left: 14px;
        text-decoration: none;
      }
    }
  }

  .mobile-search{
    display: block;
    height: 54px;
    padding: 3px;
    margin: 50px 10px -20px;
    background-color: #b8d6ee;

    form{
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: transparent !important;
    }

    #searchbox{
      width: 85%;
      border: none;
      height: 26px;
      padding: 0 12.5% 0 2.5%;
      margin-bottom: 8px;
      background-color: #ffffff;
      font-family: arial;
      font-size: 12px;
      font-weight: bold;
      color: rgb(130,130,130);
    }

    #search-button{
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      height: 26px;
      width: 26px;
      background: #b8d6ee url('../images/small-search-icon.jpg') no-repeat center right;
    }

    input[type="radio"],
    label{
      padding: 0;
      margin: 0;
      float: left;
    }

    input[type="radio"]{
      width: auto;
      margin-top: -3px;
      margin-left: 20px;
      margin-right: 10px;
    }

    label{
      height: 30px;
      width: 50px;
      font-size: 12px;
      color: rgb(130,130,130);
    }
  }

  .maintenance-page div#main{
    margin-top:  120px;
  }
}

@media (max-width: 280px) {
  .region-header {
    .block-menu,
    #block-boxes-web-search{
      width: 80px;
    }
    #block-boxes-web-search {
      width: 30px;
      margin-right: 0;
    }
  }
}

/* Alpha pagers */
.view-alphapager {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dashed grey;
}

.alpha-pager-item {
  float: left;
  width: 20px;
  margin-right: 7.5px;
  margin-bottom: 7.5px;
  text-align: center;
  span{
    display: block;
    font-size: 12px;
  }
  a{
    display: block;
    padding: 0 !important;
    font-size: 1em;
  }
}

.maintenance-page{
  #header{
    max-width: 1432px;
    margin: auto;
    width: 98%;
  }
  #page{
    background: url("../images/header-bg.jpg") repeat-x;
  }
  #main{
    margin: 80px 1.5%  0 ;
    width:  97%;
  }
  #mobile-menu-wrap{
    display: none;
  }
}


.boxes-box-controls{
  display: none;
}