
.section-research-resources {
  .view-grouping-header {
    margin: 40px auto auto;
    max-width: 855px;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    color: #575B5C;
  }
  .view-grouping-content {
    background: #f6f6f6;
    border: 1px solid #c3c5c5;
    border-top-width: 3px;
    max-width: 775px;
    width: 92%;
    padding: 12px 4% 0;
    margin: auto;
  }
  .view-content > .view-grouping:first-child {
    margin-top: 0;
  }
  .view-grouping-content {
    h3 {
      font-size: 12px;
      margin: 15px 0;
      color: #000;
    }
    .item-list li a {
      font-size: 12px;
      &.Yes{
          padding-right: 15px;
          background: url("../images/right-list-icon.png") no-repeat right 2px;
        }
      }
    }

  .pane-node-body {
    font-size: 14px;
    strong {
      clear: both;
      display: block;
      padding: 20px 0 15px;
    }
  }
  .view-header {
    padding-bottom: 27px;
    border-bottom: 1px dashed #b1c2ca;
  }
}

.section-staff-resources-classic .view-header {
  padding-bottom: 27px;
  border-bottom: 1px dashed #b4c2cb;
}

.section-research-resources {
  .view-header {
    .view-content {
      max-width: 857px;
      width: 100%;
      margin: auto;
    }
    .views-row a {
      font-size: 14px;
    }
  }
  .collapse {
    display: none;
  }
  .view-id-research_resource .view-content{
    padding: 30px;
    padding-top: 0;

    .views-field-name a{
      color: #47484b;
      text-transform: uppercase;
    }

    .parents > .views-field-name a{      
      letter-spacing: 1px;
      &:hover{
        cursor: default;
        text-decoration:none;
      }
    }

    li{
      margin-top: 20px;
      background: transparent;  
      .item-list{
        padding: 30px 0 15px;
        background-color: #f5f5f5;
        border: 1px solid #d1d0d0;
        border-top: 3px solid #d1d0d0;
        a{
          line-height: 1em;
          text-transform: inherit;
          font-weight: bold;
        }
      }
      ul .views-field-name{
        padding-bottom: 10px;
      }
      ul .item-list{
        background: transparent;
        border: 0;
        li{
          margin-top: 0;
          background: url("../images/list-dot.png") no-repeat 0 9px;
        }
        a{
          line-height: 1em;
          color: #20659A !important;
          text-transform: inherit;
          font-weight: normal;
        }
        ul .views-field-name{
          padding-bottom: 0;
        }
      }
    }
    li.no-children .item-list{
      padding-top: 20px;
      padding-bottom: 10px;
       li{
        margin-top: 0;
        background: url("../images/list-dot.png") no-repeat 0 9px;
      }
      a{
        line-height: 1em;
        color: #20659A !important;
        text-transform: inherit;
        font-weight: normal;
      }
      ul .views-field-name{
        padding-bottom: 0;
      }
    }
    .parents{
      background: transparent;
    }
  }
  .view-id-research_resource .view-header .view-content{
    padding: 0 0 0 30px;
  }
}

@media (max-width: 620px) {

  /* Resources Page */
  .section-research-resources {
    #block-boxes-search-people{
      display: none;
    }
    .view-header {
      display: none;
      background-image: url('../images/dotted-heavy-gray-bg.png');
    }
    .pane-node-body strong, .view-header .view-content {
      display: none;
    }
    .pane-node-body p{
      margin-bottom: 0;
    }
    .view-content {
      > .view-grouping:first-child {
        margin-top: 19px;
      }
      .view-grouping-header {
        height: 16px;
        background: white url('../images/small-list-arrow-down.jpg') no-repeat right center;
        max-width: 705px;
        margin: 5px auto auto;
        color: #20669a;
        font-weight: bold;
        width: 95%;
        padding: 9px 0 9px 5%;
        &.expanded {
          background-image: url('../images/small-list-arrow-up.jpg');
        }
      }
    }
    .view-grouping-content {
      background: #fff;
      border: none;
      overflow: hidden;
      padding: 0;
      width: 100%;
      display: none;
      .item-list {
        max-width: 705px;
        width: 85%;
        padding: 9px 5% 9px 10%;
      }
    }
    .item-list ul {
      width: 100%;
      li {
        background: url('../images/blue-right-list-arrow.jpg') no-repeat left 7px;
      }
    }
    .view-grouping-content h3 {
      margin: 5px 0 0;
    }
    .collapse {
      height: 26px;
      line-height: 26px;
      display: block;
      text-align: right;
      width: 100%;
      font-weight: bold;
      background: #ecf5fa;
      color: #20659A;
      img {
        margin-left: 20px;
      }
    }
  }
}

.section-research-resources .view-grouping-header {
  margin: 40px auto auto;
  max-width: 855px;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #575B5C;
}
.section-research-resources .view-grouping-content {
  background: #f6f6f6;
  border: 1px solid #c3c5c5;
  border-top-width: 3px;
  max-width: 775px;
  width: 92%;
  padding: 12px 4% 0;
  margin: auto;
}
.section-research-resources .view-content > .view-grouping:first-child {
  margin-top: 0;
}

.section-research-resources .view-grouping-content h3 {
  font-size: 12px;
  margin: 15px 0;
  color: #000;
}
.section-research-resources .view-grouping-content .item-list li a {
  font-size: 12px;
}

.section-research-resources .pane-node-body {
  font-size: 14px;
}

.section-research-resources .pane-node-body p{
  margin-top: 0;
  line-height: 1.45em;
}

.section-research-resources .pane-node-body strong {
  clear: both;
  display: block;
  padding: 20px 0 0;
}
.section-research-resources .view-header {
    padding-bottom: 27px;
    border-bottom: 1px dashed #b1c2ca;
    a{
      color: #20659A !important;
      text-transform: none !important;
    }
}


.Yes{
  padding-right: 15px;
  background: url("../images/right-list-icon.png") no-repeat right 2px;
}

@media ( max-width: 620px ){
.section-research-resources{
  .view-id-research_resource{
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
  }
  .view-id-research_resource .view-content{
    padding: 0;
    .parents,.parents.no-children{
      padding: 0;
      margin-top: 5px;
      background: white url("../images/small-list-arrow-down.jpg") no-repeat right 12px;

      &.expanded{
        background: white url("../images/small-list-arrow-up.jpg") no-repeat right 12px;
      }

      .item-list{
        display: none;
        height: auto;
        padding: 0;
        background: transparent;
        border: 0;
        overflow: hidden;

        .item-list{
          display: block;
        }

        li,li li{
          padding-left: 24px;
          margin: 0;
          background: transparent; 
          a{  
            line-height: 16px;
            background: transparent;
          }
        }
        li li{
          background: url("../images/blue-right-list-arrow.jpg") no-repeat 20px 14px;
        }
      }
      .views-field-name{
        padding: 5px 0;
        a{
          display: block;
          padding: 3px 0 3px 11px;
          color: #20659A;
          text-decoration: none;
        }
      }
    }
    .parents.no-children .item-list li{
      background: url("../images/blue-right-list-arrow.jpg") no-repeat 20px 14px;
    }
  }
  .pane-node-body strong{
    display: none;
  }
}
}

  .collapse-block{
    display: block;
    height: 30px;
    padding-right: 40px;
    line-height: 30px;
    text-align: right;
    color: #20659A;
    background: #e9f2f9 url("../images/collapse.png") no-repeat right center;
    cursor: pointer;
  }