@import "mixins";

/* A-Z page */
.view-id-staff_resource_modern {
  .view-content {
    clear:left;
  }
}

/* Staff classic */

.section-staff-resources-classic {
  h2.pane-title{
    display: none;
  }
  .view-header ul {
    padding-bottom: 0;
    margin-left: 4%;
    width: 96%;
    font-size: 13px;
  }
  .view-content {
    > .item-list > ol > li {
      margin-top: 17px;
      margin-left: 7%;
      width: 93%;
      padding: 0;
      background: transparent;
    }
    ol ol {
      margin-left: 4%;
      margin-top: 4px;
      li {
        margin: 0;
      }
    }
  }
}

/* Staff resources main view */
.section-staff-resources {
  #page-title {
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  .staff-top{
    h2{
      font-size: 1.2em;
    }
  }
}

.staff-top{
  padding-left: 1%;
  padding-right: 1%;
}

.staff-main, .rowtwocolone {
  clear: both;
}

.pane-quicktabs-staff-resources {
  overflow: hidden;
  width: 100%;
}

.staff-main .right-block {
  .pane-content {
    padding: 0;
    border: none;
    background: transparent;
  }
  .views-row {
    margin-left: 0;
    a {
      background: none;
      padding-right: 0;
    }
  }
}

.rowonecolone .right-block:first-child {
  margin-bottom: 25px;
}

.section-staff-resources #page-title {
  display: none;
}

.switch-link a {
  float: right;
  display: block;
  position: relative;
  z-index: 99;
  top: -32px;
  font-size: 11px;
  color: #154E6B;
  .section-staff-resources &{
    top: 0;
  }
}


.pane-quicktabs-staff-resources {
  position: relative;
  top: -32px;
  margin-bottom: -30px;
  display: block;
  h2.pane-title {
    font-size: 24px;
    margin: 0;
    padding: 0 0 2px 0;
    color: #46494B;
  }
  .quicktabs-tabpage {
    min-height: 259px;
    background: whitesmoke url('../images/staff-top-img.jpg') no-repeat 0 0;
    border: 1px dashed #90a7b2;
  }
  h3{
    margin: 10px 0;
    height: 28px;
    line-height: 28px;
    width: 257px;
    padding-left: 60px;
    background: #2582CA;
    margin-left: 83px;
    color: #fff;
    font-size: 17px;
  }
  .quicktabs_main{
    float: left;
    width: 74%; 
    .view-footer{
      display: none;
    }
    .view-content{
    }
    table {
      margin: 0 0 0 142px;
      border-collapse: collapse;
    }
    td {
      width: 50%;
      padding: 0;
      margin: 0;
      font-size: 12px;
      white-space: nowrap;
      a {
        padding: 3px 8px;
        display: block;
        background: url('../images/right-list-arrow.jpg') no-repeat 0 9px;
      }
    }
  }

  .quicktabs-wrapper > .item-list {
    float: right;
    width:  25%;
    li {
      font-size: 12px;
      margin: 0 0 12px;
      border: 1px dashed #90a7b2;
      clear: both;
      display: block;
      padding: 5px 0;
      width: 98%;
      a {
        display: block;
        padding: 0 15px;
        color: #8B6A30;
        text-transform: uppercase;
      }
    }
  }
}

.pane-quicktabs-staff-resources-mobile{
  display: none;
  h2{
    margin-top: 0;
  }
}


@media (max-width: 900px) {
  .staff-top{
    width: 100%;
  }

  .staff-main {
    width: 100%;
    overflow: hidden;
  }

  .pane-quicktabs-staff-resources{
    display: none;
  }

  .pane-quicktabs-staff-resources-mobile{
    display: block;
  }

  .ui-accordion {
    .ui-icon {
      display: none;
    }
    .ui-accordion-header, .ui-accordion-content {
      border: none;
      @include rounded_corners(0px);
      background: #fff;
      outline: none;
      margin: 0;
      padding: 0;
    }
    .ui-accordion-header a {
      height: 16px;
      background: #fff url('../images/small-list-arrow-down.jpg') no-repeat right center;
      max-width: 100%;
      margin: 5px auto auto;
      color: #20669a;
      font-weight: bold;
      width: 95%;
      padding: 9px 0 9px 5%;
      text-transform: uppercase;
      font-size: 13px;
      font-family: "Arial", sans-serif;
    }
    .ui-state-active a {
      background-image: url('../images/small-list-arrow-up.jpg');
    }
    .ui-accordion-content {
      margin-top: -1px !important;
      padding: 9px 0 0;
      margin-bottom: 19px;
      .view-content {
        width: 90%;
        padding: 0 2.5% 0 7.5%;
      }
      .views-row {
        background: url("../images/blue-right-list-arrow.jpg") no-repeat left 7px;
        padding: 2px 0 2px 11px;
        margin: 0;
        font-size: 12px;
        clear: both;
        display: block;
        a {
          color: #20659A;
          font-size: 12px;
        }
      }
      .view-footer{
        display: none;
      }
    }
  }

  .staff-main{
    & > div{
      width: 50%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 40px;
      float: left;
      clear: none;
    }
    .rowonecoltwo ul{
      min-height: 312px;
    }
    .rowonecolone,.rowonecolthree,.rowtwocoltwo{
      clear: both;
    }
  }
}
  
@media (max-width: 620px) {
  .staff-main .inside {
    width: 100%;
    margin: 0 0 25px 0;
    clear: none;
    ul{
      min-height: inherit;
    }
  }

  .rowtwocolone{
    clear: none;
    margin-bottom: 40px;
  }

  .rowonecolthree{
    clear: both;
    margin-bottom: 40px;
  }

  .rowtwocoltwo{
    clear: both;
  }
}