@import "zen";

$zen-gutter-width: 40px;
$zen-column-count: 12;

.content-wrapper {
  width: 100%;
  padding: 0;
}

.main-navigation {

  .region-navigation {
    @include zen-grid-item(10, 3);
  }
}

// overrides original rule
.not-front #content > .contextual-links-region {
  width: 100%;
  margin: 0;

  @include breakpoint($desktop) {
    width: 94%;
    margin: 0 3%;
  }
}

#content {
  @include zen-grid-container();

  .general-left {
    @include zen-grid-item(12, 1);
    float: none;

    @include breakpoint($tablet-large) {
      @include zen-grid-item(8, 1);
    }

    @include breakpoint($desktop) {
      @include zen-grid-item(7, 2);
    }
  }
  
  .general-right {
    @include zen-grid-item(12, 1);
    float: none;

    @include breakpoint($tablet-large) {
      @include zen-grid-item(4, 9);
    }

    @include breakpoint($desktop) {
      @include zen-grid-item(3, 9);
    }

    .inside {
      border-left: none;
      padding-left: 0;
    }
  }
}

.view-search {
  @include zen-grid-item(8, 2);
}

.l-general-one-col {
  @include zen-grid-item(10, 2);
}